<div class="docs">
<h1>Reference</h1>


<h3>Grids in BARN</h3>
<p>Much of the data that can be stored, retrieved and modified in BARN can be displayed in grids.  Grids in BARN provide
 common interfaces for the perusal, sorting, selection, and filtering of entities in the system, be they sounds, logs, events, or others.</p>
<p>Grids in BARN currently support two separate methods for display of entities - a <i>list</i> and a <i>glider</i>.
  The <i>list</i> is a vertical list of entities, while the <i>glider</i> is a horizontal collection which wraps at the end of a line.</p>
<p>Currently, Events are represented in a <i>glider</i>, while other entities are represented in <i>lists</i>.</p>
<p>&nbsp;</p>


<h3>Keyboard Shortcuts</h3>
<p>When an element in a grid is clicked on, it's color changes to indicate that the cursor is now located there.
	When the cursor is active, keyboard shortcuts can be used to navigate among the elements in a grid.</p>
<p>The keys are somewhat different between <i>list</i> and <i>glider</i> elements.</p>
<p>&nbsp;</p>


<p><b>Lists</b></p>
<p>Entities that have a + symbol can <i>expand</i> to show their children entities, or <i>close</i> to hide them.</p>
<table>
	<tr><td>Up Arrow</td><td>Previous element.</td></tr>
	<tr><td>Down Arrow</td><td>Next element.</td></tr>
	<tr><td>Left Arrow</td><td>Will <i>close</i> an open entity.</td></tr>
	<tr><td>Right Arrow</td><td>Will <i>expand</i> a closed entity.  Will <i>enter</i> an open entity.</td></tr>
	<tr><td>x</td><td>Select the current entity.</td></tr>
</table>
<p>&nbsp;</p>

<p><b>Gliders</b></p>
<table>
	<tr><td>Up Arrow</td><td>Previous element.  If on first onscreen element, and <i>parent</i> is <i>expanded</i>, will <i>exit</i> to parent.</td></tr>
	<tr><td>Down Arrow</td><td>Next element.  If on last onscreen element, and <i>parent</i> is <i>expanded</i>, will <i>exit</i> to next element after parent.</td></tr>
	<tr><td>SHIFT Left Arrow</td><td>If cursor is at beginning of elements on screen, will go to previous screen of elements (if it exists).</td></tr>
	<tr><td>SHIFT Right Arrow</td><td>If cursor is at end of elements on screen, will go to next screen of elements (if it exists).</td></tr>
	<tr><td>x</td><td>Select the current entity.</td></tr>	
</table>
<p>&nbsp;</p>

<p><b>Sounds</b></p>
<table>
	<tr><td>&gt; or Space</td><td>Play selected clip.</td></tr>
	<tr><td>? or Return</td><td>Show / Close detail popup.</td></tr>
</table>
<p>&nbsp;</p>

<h3>Grid Filtering</h3>
<p>The Filter Input at the top of every grid allows users to reduce the collection in the grid by specifying clauses to match against.</p>
<p>The current implementation of the filter will <i>add</i> any comma separated set of clauses together.
Each clause added will further reduce the set to only those that match the clause. Many clause forms can be modified by wildcards (*),
which will match against unknown portions of a pattern.</p>
<p>Clauses come in three forms:</p>
<table>
	<tr><td>*value*</td><td>The value (including wildcards) is compared against the name of each entity, and the tags associated with each entity.  If either matches, it is selected.</td></tr>
	<tr><td>tag:*value*</td><td>The value (including wildcards) is compared against tags associated with each entity.</td></tr>
	<tr><td>name:*value*</td><td>The value (including wildcards) is compared against the name of each entity.</td></tr>
	<tr><td>attribute: <=> value</td><td>If the entity has the indicated attribute, it can be filtered on a given compared ( greater, less, unequal, or equal) value.</td></tr>
</table>
<p>&nbsp;</p>

<p><b>Filtering Examples</b></p>
<p>Given a set of entities with the following characteristics:</p>
<table>
	<tr><td>name: Blackbird</td><td>bitrate: 8000</td><td>tags: bird, male</td></tr>
	<tr><td>name: Finch</td><td>bitrate: 20000</td><td>tags: bird, gold, female</td></tr>
</table>
<p>&nbsp;</p>
<p>The patterns in the first column produce the results indicated in the second column.</p>
<table>
	<tr><td>name: Blackbird</td><td>matches: blackbird (on name)</td></tr>
	<tr><td>tag: bird</td><td>matches: Blackbird, Finch (on tags)</td></tr>
	<tr><td>tag: *ale, black*</td><td>matches: Blackbird (on tags, name)</td></tr>
	<tr><td>bitrate: > 9000, tag: bird</td><td>matches: Finch (on tags, attribute)</td></tr>	
</table>

</div>	
