<%

	container_id = rand_id   

	#--
	# determine whether we are in a single log or sound context
	#--
	
	# NOTE: we check for local log input, in this case we have a single log and sound situation
	
	log = nil if local_assigns[:log].blank?
	
	single_log = !log.blank?
	
	if single_log
		sound = log.sound
		
		single_sound = true
	else
		sound = nil if  local_assigns[:sound].blank? 
		
		single_sound = !sound.blank?
	end
	
	#--
	# configure listing according to context
	#--
	
	# TODO: we should be appending/updating the actions hash not creating it
		
	actions = {
		'tag' => '/events?partial=widgets/new_tag',
		'share' => '/events?partial=widgets/share',
		'browse' => events_path,
		'delete' => '/events?partial=widgets/confirm_delete',
	}
	
	if single_log
		
		actions['browse'] = log_events_path(log)
	
	elsif single_sound
	
		actions['browse'] = sound_events_path(sound)
	end

	#--
	# dialog options
	#--

	#--
	# These are JSON strings. Be careful to escape double-quotes since this is how
	# the view helpers render the options (project="{key:value}")
	# Additionally, these only need to have the options set that are different than the defaults.
	#--

   # NOTE: the pound is ruby interpolation, only double-quoted strings ate interpolated
	
   # TODO - the tag close function fails from the 'cancel' button on the pop-up on the second or later appearance of the
   # dialog.  Observation shows that the 'cancel' button invocation calls the refresh_container with the ID given when the
   # page was first loaded.  This may be because the javascript in the cancel button is in the tag markup...(?)
   # the 'x' icon calls the same close function below, but contains the proper container id...

	dialog_options = {
		'tag'		=> "{ close: function (event, ui) { refresh_container('#{container_id}');} }",
		'delete' 	=> '{ height: 210, width:450 }',
	}   

 	verbs = {:list => ['tag', 'share', 'delete'], :actions => actions, :dialog_options => dialog_options}
	
	options = get_listing_display_options(local_assigns, params)
		
%>

<%= render :partial => 'widgets/clips', :locals => {
	:objects => events,
	:verbs => verbs,
	:options => options,
	:container_id => container_id,	
}%>