<div class="clipTip" id="currentTip">

	<div id="<%= rand_id %>" class="ajax-tabs render-ajax-tabs">

		<ul class="tabs-list">
			<li><a class="local" href="">Tags</a></li>
            <li><a class="local" href="">Info</a></li>
		</ul>

		<div class="tabs-target" style="width: 100%; height: 250px; overflow: auto;">
            <div class="localContent">
                <%= render(:partial => 'tags/clip_tags', :locals => {:taggable => event}) %>
            </div>
            <div class="localContent">
                Time: <%= sec_to_clock event.start %><br/>
                Duration: <%= sec_to_clock event.duration %><br/>
                Low Freq: <%= rate_to_hertz event.low %><br/>
                High Freq: <%= rate_to_hertz event.high %><br/>
            </div>
		</div>
	</div>

    <script>
        $(document).ready( function() {
            render_ajax_tabs();
        });
    </script>


</div>