<%
   
	# REVIEW CODE SKETCH

	current = 0;

	yescount = event.tagged_as_count('review:yes')
	nocount = event.tagged_as_count('review:no')
	maybecount = event.tagged_as_count('review:maybe')

	yesout = ""
	noout = ""
	maybeout = ""

	for i in 1..yescount do yesout << "<div>y</div>" end
	for i in 1..nocount do noout << "<div>n</div>" end
	for i in 1..maybecount do maybeout << "<div>m</div>" end

	if event.tagged_as_for_user?('review:yes', user) then current = 1 end
	if event.tagged_as_for_user?('review:no', user) then current = 2 end
	if event.tagged_as_for_user?('review:maybe', user) then current = 3 end

	reviews = ['none', 'yes', 'no', 'maybe', 'yes']

%>

<%= yesout << noout << maybeout %>
<a href="/events/<%= event.id %>/review.js?event[tag_add]=review:<%= reviews[current + 1] %>&amp;noview=true" class="<%= reviews[current] %> review">&nbsp;</a>

