<%
	container_id = rand_id;

	#--
	# build verbs description based on context
	#--

	#--
	# actions
	#--

	actions = {
		'tag' => '/events?partial=widgets/new_tag',
		'share' => '/events?partial=widgets/share',
		'browse' => events_path,
		'delete' =>'/events?partial=widgets/confirm_delete'
	}

 	#--
	# dialog options
	#--

	#--
	# These are JSON strings. Be careful to escape double-quotes since this is how
	# the view helpers render the options (project="{key:value}")
	# Additionally, these only need to have the options set that are different than the defaults.
	#--

   # NOTE: the pound is ruby interpolation, only double-quoted strings ate interpolated

	dialog_options = {
		'tag'		=> "{ close: function (event, ui) { refresh_container('#{container_id}');} }",
		'delete' 	=> '{ height: 210, width:450 }',
	}

	#--
	# determine whether we are in a single log or sound context
	#--
	
	# NOTE: we check for local log input, in this case we have a single log and sound situation
	
	log = nil if local_assigns[:log].blank?; single_log = !log.blank?
	
	if single_log
		sound = log.sound; single_sound = true;
	else
		sound = nil if  local_assigns[:sound].blank?; single_sound = !sound.blank?
	end

	if single_log
		
		actions['browse'] = log_events_path(log)
	
	elsif single_sound
		
		actions['browse'] = sound_events_path(sound)
	end

   list = ['tag', 'delete']

	#--
	# verbs
	#--

	verbs = {:list => list, :actions => actions, :dialog_options => dialog_options}

  	#--
	# pack display options
	#--
   
	options = get_listing_display_options(local_assigns, params)
	
	params[:striped] = 1
%>

<%= render :partial => 'widgets/listing', :locals => {
	:objects => events,
	:verbs => verbs,
	:options => options,
	:container_id => container_id,	
}%>
