/*
THIS STYLESHEET SHOULD BE REMOVED AS SOON AS THE STYLES SOLIDIFY - OR RENAME THE CLASSES ON THESE PAGES :|
*/

body{
	font-family:verdana;
}

.stats{
	font-size:12px;
	float:left;
	width:300px;
}

a{
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

.section-header{
	font-size:100%;
	font-weight:bold;
	border-bottom:1px solid #ccc;
	float:left;
	width:100%;
	
}
.section-body{
	background-color:#efefef;
	margin:0;
	padding:0;
	margin-bottom:40px;
	clear:both;
}

table.listing{
	font-size:11px;
	border:0;
	margin:0px;
}

table.listing th{
	padding:5px;
}

table.listing td{
	padding:5px;
}




ul.tag_list, ul.tag_hint {
  list-style: none;
  margin-left: 0em;
  padding-left: 0em;
  height: 1.5em;
  width: 100%;
  margin:0;
}

ul.tag_list li {
  float: left;
	font-family:verdana;
  background-color: rgb(250, 250, 200);
  border: 1px solid rgb(240, 240, 160);
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.3em;
  padding-top: 0.2em;
  padding-right: 0.8em;
}


ul.tag_hint li {
  font-family:verdana;
  float: left;
  border: 1px solid rgb(210, 210, 210);
  color: rgb(160, 160, 160);  
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.3em;
  padding-top: 0.2em;
  padding-right: 0.8em;
}

.tags form input {
  font-family: verdana;
  height: 40px;
margin-top:10px;
margin-bottom:0px;
}


