/*-------------------------------------------------------*/
/*BASIC STYLES*/
/*-------------------------------------------------------*/

/*html {*/
/*  margin: 0em 3em;*/
/*  border: 1px solid rgb(210, 210, 210);*/
/*  border-bottom: none;*/
/*}*/

body {
  background-color: white;
  color: black;
  font-family: "Segoe UI", "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  font-size:100%;
  line-height: 180%;
  margin:0;
  padding:0;
}

p {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0em;
  margin-bottom: 1em;
  display: block;
  font-weight: bold;
  padding: 0em;
}

h2, h3, h4 {
  padding-bottom: 0.5em;
  border: none;
  border-bottom: 1px solid rgb(210, 210, 210);
}

a {
  font-weight: bold;
  letter-spacing: +0.025em;
  padding: 0em;
  color: rgb(64, 128, 64);
  text-decoration: underline;
  /*text-decoration: none;*/
}

a:hover {
  text-decoration: underline;
  text-decoration: none;
}

ul {
  padding: 0em;
  padding-left: 1em;
}

ul li {
  padding: 0.25em;
}

ul.define li {
  margin-bottom: 0.5em;
}

ul.define li h3 {
  margin-bottom: 0.5em; 
}

/* FLASH NOTICES */

.flash-container {
  padding: 0.75em;
  margin-bottom: 1em;
  line-height:150%;
  display: none;
}

#flash-error {
  background-color: #FFCCCC;
}

#flash-notice {
  background-color: #FFFFCE;
}

/*LAYOUT STYLES*/

#content {
  margin: 1em 2em 4em;
  overflow: visible;
  text-align: left;
  vertical-align: top;
}

div.container {
  margin: 0em;
  padding: 0em;
}

/*VERBS AND SELECT STYLES*/

table.listing caption {
  height: auto;
  margin: 0em;
  padding: 0em;
  padding-top: 0.5em;
  vertical-align: middle;
  border: 1px solid red;
  border: none;
}

ul.verbs {
  margin: 0em;
  margin-bottom: 1em;
  padding: 0em;
  float: left;
}

ul.verbs li, ul.select li {
  display: inline;
  float: left;
  padding: 0em;
  padding-right: 0.5em;
  margin: 0em;
  margin-right: 0.5em;
  border: none;
  /*border-right: 1px solid rgb(210, 210, 210);*/
}

/*NOTE: verbs can be collected as verbs or marked as such*/

.verbs a, a.verb {
  font-weight: bold;
  padding: 0em;
  /*color: rgb(64, 96, 128);*/
  text-decoration: none;
}

.verbs a:hover, a.verb:hover {
  /*text-decoration: underline;*/
}


.review-mode {
	text-decoration: none;
}


/*TODO: make the page controls more like the pagination controls*/

/*TODO: rating-controls should probably be renamed review controls*/

div.select-controls, div.rating-controls, div.per-page-controls, div.sort-controls {
  display: inline;
  margin: 0em;
  margin-bottom: 1em;
  float: left;
}

div.select-controls {
	clear: left;
}

div.select-controls a, div.sort-controls a {
  margin: 0em;
  padding: 0em;
  /*color: rgb(64, 96, 128);*/
  text-decoration: none;
  padding-right: 0.5em;
}

div.sort-controls, div.rating-controls {
  padding-top: 0.85em;
  text-align: left;
  border: none;
}

div.rating-controls {
	text-align: right;
	float: right;
}

div.horiz-rule {
	width: 100%;
	float: left;
	height: 1px;
	border-top: 1px solid silver;
	margin-bottom: 0.2em;
}

div.per-page-controls {
  word-spacing: +0.75em;
}

div.pagination {
  float: right;
  clear: right;
  text-align: right;
  margin: 0em;
  margin-bottom: 1em;
  padding: 0em;
  word-spacing: +0.75em;
}

div.pagination a, div.per-page-controls a {
  color: rgb(160, 160, 160);
  padding: 0.2em 0.75em;
  margin: 0em;
  text-decoration: none;
  border: 1px solid rgb(210, 210, 210);
}

div.pagination a:hover, div.per-page-controls a:hover {
  color: rgb(64, 128, 64);
  background-color: rgb(240, 240, 240);
}

/*FILTER STYLES*/

div#search {
  margin: 0em;
  margin-bottom: 1em;
  padding: 0em;
  float: right;
}

div#search input {
  font-size: 100%;
  width: 16em;
  margin-right: 0em;
}

div#search form.filter-form {
  display: inline;
  padding: 0em;
  margin: 0em;
  margin-bottom: -0.5em;
  margin-left: 0.5em
}


/*-------------------------------------------------------*/
/*LISTING STYLES*/
/*-------------------------------------------------------*/

table.listing {
  width: 100%;
  clear: both;
  border-collapse: collapse;
  empty-cells: show;
  margin: 0em;
  margin-bottom: 1em;
  border: none;
  border-bottom: 1px solid rgb(210, 210, 210);
}

table.listing th {
  text-align:left;
  /*a simpler version*/
  background-color: rgb(230, 230, 230);
  border: none;
  border-bottom: 1px solid rgb(210, 210, 210);
  border-top: 1px solid rgb(230, 230, 230);
}

table.listing .jquery-icon {
  float: left;
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.75em;	
  padding: 1px 0px 0px 1px;
}


table.listing th.sorted {
  background-color: rgb(220, 220, 220);
  border: 1px solid rgb(210, 210, 210);
}

table.listing th.hover {
  background-color: rgb(220, 220, 220);
}

table.listing th a {
  text-decoration: none;
  color: inherit;
}

table.listing th a:hover {
  color: rgb(64, 128, 64)
}

table.listing th {
  margin: 0em;
  padding: 0.5em 1.5em;
}

table.listing td {
  margin: 0em;
  padding: 0.2em 0.5em 0.3em 1.5em
}

/*table.listing tr td {*/
	/*border-color: transparent;*/
	/*border-width: 3px 0px;*/
/*}*/

table.listing tr.odd {
  background-color: white; /* rgb(250, 250, 240); */
}

table.listing.striped tr.even {
  background-color: rgb(243, 243, 243);
}

table.listing tr.notice {
  background-color: transparent;
}

table.listing tr.notice td {
  padding-top: 0em;
  padding-left: 0em;
}

table.listing tr.hover {
  background-color: rgb(230, 255, 230); cursor: default;
}

table.listing tr.selected {
  background-color: rgb(240, 255, 210);
}

table.listing tr.selected.odd {
  background-color: rgb(240, 255, 210);
}

table.listing tr.selected.even {
  background-color: rgb(230, 245, 200);
}

table.listing .pad-cell {
  /*background-color: rgb(255, 200, 255);*/
}

table.listing span.at-time {
  display: block;
  display: none;
  padding-top: 0.5em;
  /*font-size: 90%;*/
  color: rgb(180, 180, 180);
}

table.listing span.at-time:hover {
  color: inherit;
}


table.listing .selection-marker {
  width: 8px;
  height: 100%;
  background-color: red;
  display: inline;
}

/*NOTE: 24px is the size of the icon image*/

table.listing .icon {
	padding: 2px 8px 2px 24px;
	border: 1px solid red;
	border: none;
}

/*NOTE: the more specific selectors over-ride the 'display: none'?*/

table.listing .icon.locked {
	background: url('../images/icons/lock.png') no-repeat;
}

table.listing .icon.unlocked {
	background: url('../images/icons/unlock.png') no-repeat;
}


/*-------------------------------------------------------*/
/* SPECIFIC LISTING STYLES*/
/*-------------------------------------------------------*/

/*NOTE: this does not work with the jquery icons, possibly with simple images say*/

table.listing td.access {
  text-align: left;
}

table.listing td.expansion, table.listing th.expansion {
  padding: 0em 0.25em;
}

table.listing td.selection, table.listing th.selection {
  padding-right: 1.5em;
}

table.listing td.file, table.listing td.title {
  padding-top: 0.75em;
  padding-bottom: 1em;
}

table.listing .sound {
	display: block;
}

table.listing .sound a{
	text-decoration: none;
}

table.listing ul.sounddata {
	display: inline;
	float: left;
	margin: 0;
	padding: 8 8 0 0px;
}

table.listing .sounddata li {
	font-size: .75em;
	list-style: none;
	display: inline;
	padding: 3 10 3 0px;
}

table.listing .sounddata li em{
	color: #999;
	font-style: normal;
}


span.listing-editor.toggle {
  clear: left;
  float: right;
  background-color: rgb(220, 220, 220);
  border: 1px solid rgb(210, 210, 210);
  border-top: none;
  border-bottom: none;
  padding: 0.2em 2em 0.3em;
  margin-left: 0.25em;
  font-weight: bold;
}

div.listing-editor form {
  border: none;
  border-top: 1px solid rgb(210, 210, 210);
  border-bottom: 1px solid rgb(210, 210, 210);
  padding: 1em 0 2em;
}

/*-------------------------------------------------------*/

/*NOTE: this was an experiment related to improving cursor indication*/

table.listing td.indicator, table.listing th.indicator {
  margin: 0em;
  padding: 0em;
  width: 20px !important;
  background-color: rgb(230, 230, 230);
}


/*-------------------------------------------------------*/


div.section-header {
  border: none;
  border-bottom: 1px solid rgb(210, 210, 210);
  padding-bottom: 0.5em;
  margin-top: 2em;
  margin-bottom: 1.5em;
}

/*NOTE: in this case we are a child in a listing*/

td.content-pane div.section-header {
  margin-top: 0em;
}

div.section-header h2 {
  border: none;
  display: inline;
}

.export-links {
  float: right;
}

.export-links a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  padding: 0.2em 0.75em;
  margin-left: 0.75em;
  color: rgb(160, 160, 160);
  border: 1px solid rgb(210, 210, 210);
}

a.edit-link {
  text-decoration: none;
  color: black;
}

.export-links a:hover {
  color: rgb(64, 128, 64);
  background-color: rgb(240, 240, 240);
}

caption .export-links {
  margin-top: 0.75em;
}

/*MISC STYLES*/

.code {
  font-family: 'Courier New', Courier, monospace;
}

.input {
  height: 1.5em;
}

form.star-rating {
  min-width: 110px;
}

.status_symbol {
  border:0;
  vertical-align:bottom;
  margin-right:5px;
}





/*-------------------------------------------------------*/
/*TAGGING STYLES*/
/*-------------------------------------------------------*/

ul.tag_list, ul.tag_hint {
  list-style: none;
  margin-left: 0em;
  margin: 1em 0em;
  /*float: left;*/
  padding-left: 0em;
  padding-bottom: 0.75em;
  margin-bottom: 0.75em;
  height: 1.5em;
  /*max-width: 32em;*/
  border-bottom: 1px solid white;/* background color*/
}

ul.tag_list:hover, ul.tag_hint:hover {
  /*border-bottom: 1px solid silver;*/
}

ul.tag_list li.tag {
  float: left;
  font-family: 'Comic Sans MS', Courier New, monospace;
  font-size: 94%;
  margin: 0.25em 1em 0.25em 0.5em;
  padding: 0.2em 1em 0.3em 0.5em;
}

ul.tag_list li.tag {
  background-color: rgb(250, 250, 200);
  border: 1px solid rgb(240, 240, 160);
}


ul.tag_list span.namespace {
  color: gray;
  text-transform: uppercase;
  font-size: 90%;
  letter-spacing: 0.5px;
  padding-right: 0.25em;
}

/* TODO: we need to be able to hit this before the list*/

ul.tag_list span.delete {
  color: gray;
  text-transform: uppercase;
  font-size: 90%;
  letter-spacing: 0.5px;
  margin-left: 0.75em;
  margin-right: -1em;
  padding: 0.5em 0.75em;
  background-color: rgb(250, 250, 200);
  border-left: 1px solid silver;
}

ul.tag_hint li {
  float: left;
  font-family: 'Comic Sans MS', Courier New, monospace;
  font-size: 94%;
  border: 1px solid rgb(210, 210, 210);
  color: rgb(160, 160, 160);  
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.3em;
  padding-top: 0.2em;
  padding-right: 0.8em;
}

.tags form input {
  font-family: 'Comic Sans MS', monospace;
  vertical-align: middle;
  /*height: 24px;*/
  margin: 0.75em 0.5em 0em;
}

div.tag-cloud {
  float: left;
  margin: 0em;
  width: 100%;
  line-height: 3em;
  margin-bottom: 0.75em;
  padding: 0em;
}

.tag-cloud span.wrapper {
  font-size: 120%;
  margin: 0;
  margin-right: 1.5em;
  margin-bottom: 0.75em;
  padding: 0.4em 0em 0.5em;
  background-color: transparent;
  border: 1px solid rgb(210, 210, 210);
}

.tag-cloud span.selected {
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(210, 210, 210);
}


/*-TEST----------------*/

/*NOTE: the next two rules were used along with the span.add element*/

.tag-cloud span.tag {
    font-family: 'Comic Sans MS', sans-serif;
	margin: 0;
	margin: 0.5em;
	margin-right: 0;
	padding: 0.5em;
	padding-right: 1em;
	border: none;
	border-right: 1px solid rgb(210, 210, 210);
  /*padding-right: 0; */
}

.tag-cloud span.add {
  margin: 0;
  color: gray;
  padding: 0.5em;
  margin: 0;
  font-weight: bold;
  border: none;
}

.tag-cloud span.wrapper:hover {
  background-color: rgb(240, 240, 240);
  background: rgb(245, 250, 255);
  border: 1px solid rgb(100, 160, 230); /*NOTE: same as cursor*/
}

/*---------------------*/


div.tag-cloud .css1 {
  font-size: 0.8em;
  margin-bottom: 0.6em;
}
div.tag-cloud .css2 {
  font-size: 1em;
  margin-bottom: 0.4em;
}
div.tag-cloud .css3 {
  font-size: 1.2em;
  margin-bottom: 0.2em;
}
div.tag-cloud .css4 {
  font-size: 1.4em;
  margin-bottom: 0em;
}

tr.tag-row td {
    padding: .1em;
}


/*-------------------------------------------------------*/
/*TEXT COLUMN STYLES*/
/*-------------------------------------------------------*/

div.two-column-left {
  width: 47%;
  float: left;
  padding:0em;
  padding-right: 4em;
}

div.two-column-right {
  width: 47%;
  float: left;
}

div.two-column-left, div.two-column-right {
  border: 1px solid red;
  border: none;
}

/*FORM STYLES*/

form label {
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-right: 1em;
}

form input, form select, form textarea {
  padding: 0.25em;
  border: 1px solid rgb(210, 210, 210);
}

form input, form textarea {
  padding-bottom: 0.5em;
}

/* NOTE: these are the typical submit and cancel buttons, NOT DONE */

form input.submit, form a.cancel {
  padding: 0.75em 1em;
  margin-top: 0.75em;
  margin-right: 1em;
  border: 3px solid silver;
  font-weight: bold;
}

form a.cancel {
  text-decoration: none;
}

/*input#submit, #cancel {*/
/*  padding: 0.5em 1em;*/
/*  letter-spacing: +0.05em;*/
/*  background-color: rgb(240, 240, 240);*/
/*  border: 1px solid rgb(210, 210, 210);*/
/*}*/
/**/
/*a#cancel {*/
/*  text-decoration: none;*/
/*  font-weight: normal;*/
/*}*/


input, textarea {
  font-family: "Segoe UI", "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  margin: 0em;
  margin-top: 0em;
  padding: 0.1em;
}

select {
  font-family: "Segoe UI", "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  margin-right: 0.5em;
  letter-spacing: +0.05em;
  font-size: 108%;
}

select option {
  letter-spacing: +0.05em;
  padding: 0em 1em;
}

input.button:hover {
  background-color: rgb(240,240,230);
}

form table.control.group {
  padding-right: 2em;
}


/*-------------------------------------------------------*/
/*CONSOLE STYLES*/
/*-------------------------------------------------------*/

#console textarea{
  width: 100%;
  font-family: "Courier New", courier, monospace;
  font-size: 94%;
  font-weight: bold;
  line-height: 150%;
  border: 1px solid rgb(210, 210, 210);
}

#console input {
  width: 100%;
}

#console table td {
  vertical-align: top;
  padding: 0.5em 1em 1em 0em;
  margin: 0em;
}

#console table td.head {
  text-align: right;
  font-weight: bold;
}


/*-------------------------------------------------------*/
/*CODE STYLES*/
/*-------------------------------------------------------*/

code {
  font-family: "Courier New", Courier, monospace;
  font-size: 108%;
  font-weight: bold;
  padding: 0em 0.5em;
}

code.display {
  display: block;
  padding: 0.5em;
  margin: 0.75em 0em 0.75em;
  background-color: rgb(255, 255, 240);
  border: 1px dashed rgb(210, 210, 210);
  
}


/*-------------------------------------------------------*/
/*DIALOG STYLES*/
/*-------------------------------------------------------*/

.ui-dialog, .ui-widget, .ui-dialog *, .ui-widget * {
  font-family: "Segoe UI", "Lucida Grande", "Trebuchet MS", sans-serif;
  -moz-border-radius: 0px;
}

.ui-dialog, .ui-widget {
  padding-bottom: 2em;
}

.ui-dialog input , .ui-widget input, .ui-dialog select , .ui-widget select {
  font-family: "Segoe UI", "Lucida Grande", "Trebuchet MS", sans-serif;
}

.ui-dialog-titlebar, .ui-widget-header {
  background-image: none;
  background-color: rgb(230, 230, 230);
}

.form-fields {
  border: 1px solid red;
  border: none;
  margin: 1em 0em;
}


/*SECTION STYLES*/

.section-body {
  margin-bottom: 3em;
}


/*-------------------------------------------------------*/
/*TABS STYLES*/
/*-------------------------------------------------------*/

/*NOTE: the following two selectors mostly float the list*/

ul.tabs-list {
  list-style: none;
  float: left;
  width: 100%;
  margin: 0em;
  margin-bottom: 1em;
  padding: 0em;
  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
}

/*NOTE the following two relate to tab hover behavior*/

.tabs-list li {
  color: rgb(160, 160, 160);
  float: left;
  margin: 0em;
  margin-right: 0.25em;
  padding: 0.5em 2em;
 
}

.tabs-list li:hover {
  color: rgb(64, 128, 64);
  background-color: rgb(230, 230, 230);
  padding-bottom: 0.4em;
}

.tabs-list li a, .tabs-list li:hover a {
  color: inherit;
  text-decoration: none;
}

.tabs-list li.selected {
  background-color: rgb(220, 220, 220);
  border: 1px solid rgb(210, 210, 210);
  border-bottom: none;
}

.tabs-list li.selected:hover {
  padding-bottom: 0.5em;
}

.tabs-list li.selected a {
  color: black;
}

/*NOTE: 'simple' tabs are styled like the various pagination links*/

.tabs-list.simple {
  border: none;
  /*margin-top: -1.25em;*/
  margin-bottom: 0.75em;
  /*background-color: rgb(240, 240, 240);*/
  padding: 0.75em 0em;
}

.tabs-list.simple li {
  background-color: transparent;
  border: 1px solid rgb(210, 210, 210);
  padding: 0em 0.75em;
  margin: 0em;
  margin-right: 1em;
}

/*NOTE: using float to change position reverses the list order*/

.tabs-list.simple.right, .tabs-list.simple.right li {
  float: right;
}

.tabs-list.simple li.selected {
  border: none;
}

.tabs-list.simple li.selected:hover {
  padding: 0em 0.75em;
}

.tabs-container .tabs-target {
  clear: both;
}

/*NOTE: the floating allows the container to wrap the content, the width is then required*/

.tabs-target {
  float: left;
  width: 100%;
  border: 1px solid red;
  border: none;
}


/*-------------------------------------------------------*/
/* CURSOR STYLES */
/*-------------------------------------------------------*/

table.listing tr.cursor{
  border: 1px solid rgb(100, 160, 230);
  background: rgb(245, 250, 255);
}


/* SNAPSHOT AND PLAYER STYLES */

ul.glider li.element {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(220, 220, 220);
  padding: 9px 9px 12px 9px; /* NOTE: adding the small right padding prevents a scrollbar */
  margin: 0px 40px 25px 0px;
  margin-right: 4em;
  padding: 0.75em;
  padding-bottom: 1.5em;
  width: auto;
  float: left;
  height: 150px;	
/*  overflow: auto; */
}

/*span.clip-data-container {*/
	/*position: relative;*/
	/*float: left;*/
	/*width: 0px;*/
	/*top: 175px;*/
	/*left: -12px;*/
/*}*/

/*span.clip-data {*/
	/*float: left;*/
	/*top: 175px; */
/*}*/

/* NOTE: there are various states for the glider element: base, cursor, selected, selected + cursor */

/*TODO: match the blues clip colors to the listing colors appropriately!*/

/*CURSOR*/

ul.glider li.element.cursor, ul.glider li.element.cursor .sidebar .sidecontents {
	border: 1px solid rgb(100, 160, 230);
	background: rgb(245, 250, 255);
}

ul.glider li.element.cursor img {
	border: 1px solid rgb(100, 160, 230)
}

/*SELECTED*/

ul.glider li.element.selected, ul.glider li.element.selected .sidebar .sidecontents {
	border: 1px solid rgb(180, 195, 150);
	background: rgb(230, 245, 200);
}

ul.glider li.element.selected img {
	border: 1px solid rgb(180, 195, 150)
}

/*SELECTED + CURSOR*/

ul.glider li.element.cursor.selected, ul.glider li.element.cursor.selected .sidebar .sidecontents {
	border: 1px solid rgb(100, 160, 230);
	background: rgb(235, 247, 250)
}

ul.glider li.element.cursor.selected img {
	border: 1px solid rgb(100, 160, 230)
}


/*NOTE: this applies to all of the above*/

ul.glider li.element.cursor .sidebar .sidecontents, ul.glider li.element.selected .sidebar .sidecontents, ul.glider li.element.cursor.selected .sidebar .sidecontents {
  border-left: none;
}

/*NOTE: this was the highlight on hover, bring this back*/

ul.glider li.element.highlight {
  background: rgb(245, 245, 245);
}

ul.glider li.element img {
  z-index: -1;
  margin: 0em;
  padding: 0em;
  margin-bottom: 4px;
  border: 1px solid rgb(220, 220, 220);
}

ul.glider li.element .clipctr a {
	max-width: 800px;	
	display: block;
	position: relative; 
}

ul.glider li.element .progress {
  z-index: 1;
  position: absolute;
  float: left;
  border: none;
  border-right: 1px solid transparent;
 /* margin-left: -1px; */
}

ul.glider li.element a.sm2_playing .progress {
  border: none;
  border-right: 1px solid red;
}

ul.glider {
  margin: 0em;
  padding: 1em;
  padding-left: 0em; /* change this if we use div as mat*/
  padding-bottom: 0em;
  float: left;
  width: 100%;
  list-style: none;
}

ul.glider li.element a {
   max-width: 800px;
}

ul.glider .clipctr {
	float: left;
	overflow: auto;
	padding:1px;	
}

/*TODO: comment and improve grouping of '.sidebar' rules they are intricate*/

ul.glider .sidebar {
	position: relative;
	float: left;
	margin-top: -0.75em;
}

ul.glider .sidebar .sidecontents {
	position: absolute; /* position absolute works because the containing .sidebar is set to position relative */
	left: 0.75em;
	top: -1px;
	border: 1px solid rgb(220, 220, 220);
	border-left: none;
	background: white;
	text-align: center;
}

ul.glider .sidebar .sidecontents a {
	color: #AAAAAA;
	display:block;
	font-size: 110%;
	text-decoration:none;
}

ul.glider .sidebar a {
	size: 26px;
	margin: 4px;
	margin-bottom: 6px;
	display: none;
}

/*NOTE: the more specific selectors over-ride the 'display: none'?*/

ul.glider .cursor .sidebar a {
	background: url('../images/icons/help-gray.png') no-repeat;
}

ul.glider .sidebar a.yes {
	background: url('../images/icons/accept.png') no-repeat;
}

ul.glider .sidebar a.no {
	background: url('../images/icons/delete.png') no-repeat;
}

ul.glider .sidebar a.maybe {
	background: url('../images/icons/warning.png') no-repeat;
}

ul.glider .sidebar .selection-checkbox {
	margin: 0.75em;
}

div.clipTip {
	background: #FFF;
	width: 500px;
}

div.clipTip .tipBar {
	background: rgb(230, 230, 230);
	clear: both;
	padding: 0.5em 0.5em 0;
	margin: -0.25em -0.5em;
}

div.clipTip .tipBar span {
	float: right;
}

div.clipTip .title {
	float: left;
}

#innerTip {
	padding: 0;
	padding-top: 0.25em;
}


div.clipTip ul.hmenu {
  margin: 0 0 0 0.5em;
  padding: 0;
  float: left;
}

div.clipTip ul.hmenu li {
  display:  inline;
  float: left;
  padding: 0.25em 2em;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0;
  margin-right: 0.5em;
  border: none;
}

div.clipTip ul.hmenu li.selected {
	background-color: #FFF;	
}


div.clipTip .clip_tags span {
	float: left;	
}

div.clipTip .clip_tags ul {
  margin: 0 0 0 0.5em;
  padding: 0;
  float: left;	
}

div.clipTip .clip_tags li {
  /* display: inline; */
  background-color: #FAFAC8;
  /* background-color: #FFD0A8; */
  color: #000;
  float: left;
  padding: 0px 0.5em;
  margin: 0;
  margin-right: 0.25em;
  border: none;
}

ul.unadorned {
	list-style-type: none;
}

.tag_buttons li {
/*	display: inline; */	
	width: 16px;
}








/*TODO: this needs to be extended, tested on listings, a first go*/

.sorted {
  border: 1px solid rgb(210, 210, 210);
  border: none;
  padding: 0.25em 0.5em;
}

.sorted.asc {
  padding-right: 24px;
}

.sorted.desc {
  padding-right: 22px;
}

/*.sorted.asc {*/
/*  padding-right: 24px;*/
/*  background: url(asc2.png) no-repeat center right;*/
/*}*/
/**/
/*.sorted.desc {*/
/*  padding-right: 22px;*/
/*  background: url(desc2.png) no-repeat center right;*/
/*}*/

p.note {
  margin: 0em 0em;
}


/*TIP STYLES*/

.local-tip {
  display: none;
}

#cluetip-title{
 border:none; 
}

table.tip th {
  text-align: right;
  padding-right: 1em;
  vertical-align: middle;
}

table.tip td {
  vertical-align: middle;
}

table.tip th, table.tip td {
  padding-bottom: 0.5em;
}

table.tip ul {
  list-style: none;
  margin: 0em;
  padding: 0em;
}


#activity-indicator {
  position:absolute;
  top:0px;
  text-align: center;
  opacity: 0.8;
  z-index: 999 !important;
  width: 100%;
  height:31px;
  padding:7px;
  padding-left:10px;
  padding-right:10px;
  background:#FAFAC8;
  color:black;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
}


/*-------------------------------------------------------*/
/*SIMPLE RATING STYLES*/
/*-------------------------------------------------------*/

/*NOTE: mostly these are taken from the original rating plugin*/

.simple-rating {
  float: left;
  padding: 0.5em 0em;
  min-width: 120px;
  margin: 0em;
  margin-right: 1em;
  border: 1px solid silver;
  border: none;
}

/*STARS*/

.simple-rating a {
  float: left;
  width: 17px;
  height: 16px;
  padding: 0px;
  padding-right: 3px;
  text-indent: -999em;
  cursor: pointer;
  display: block;
  background: transparent;
  overflow: hidden;
  background-image: url(star.gif);
  background-position: 0 0!important;
  background-repeat: no-repeat;
}

.simple-rating a.star-on {
  background-position: 0 -16px!important
}

.simple-rating a:hover, .simple-rating a.star-on:hover, .simple-rating a.hover {
  background-position: 0 -32px!important
}

/*DELETE*/

.simple-rating a.delete {
  background-image: url(delete.gif);
  background-position: 0 0!important
}

.simple-rating a.delete:hover {
   background-position: 0 -16px!important
}


/*-------------------------------------------------------*/
/*PROGRESS BAR*/
/*-------------------------------------------------------*/

.progressbar
{
    width: 100px;
    height: 20px;
    background: #EFEFEF;
    /* border: 1px solid #BFBFBF; */
}

.progressbar_complete
{
    width: 0px;
    height: 20px;
    background: #BFBFBF;
    float: left;
}

.progressbar_info
{
    width: 100px;
    position: absolute;
    float: left;
    text-align: center;
    color: #5F5F5F;
    font-size: 80%;
}


/* SORT DROP */

/* General dropdown styles */

th.multisort span {
	float: left;
	margin: 10px 0px;
	margin-right: 10px;
}

dl.dropdown {
	float: left;
	display: inline;
	margin: 0 10 0 0px;
	padding:0px;
}

.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; width: 100px; }

.dropdown dd { position:relative; }

.dropdown dt
{
	background:#DCDCDC url(arrow.png) no-repeat scroll right center;
    display:block;
	min-width:130px;
	padding: 10px 0px;
}

.dropdown dt a
{
	cursor:pointer;
	display:block;
	margin-left: 10px;
}

/* UL styles */
.dropdown dd ul
{
	background:#DCDCDC none repeat scroll 0 0;
	display:none;
    list-style:none;
	/*padding:5px 0px;*/
	position:absolute;
    left:0px;
	top:2px;
	width:auto;
	min-width:130px;
}

.dropdown span.value { display:none; }

.dropdown dd ul li
{
	padding: 0px;
}

.dropdown dd ul li a
{
	padding: 5 0 5 5px;
	display:block;
}


/*-------------------------------------------------------*/
/* DOCUMENTATION STYLES */
/*-------------------------------------------------------*/

div.docs {
	width: 100%;
}

.docs table {
	margin: 0px;
	padding: 0px;
}

.docs table tr td {
	background-color: #EEE;
	padding: 2px 5px;	
}

.docs table tr > td:first-child {
	width: 200px;
	background-color: #EEE;
	margin-right: 10px;
}


/*-------------------------------------------------------*/
/* REPORTS */
/*-------------------------------------------------------*/

iframe.report {
  margin: 0;
  margin-bottom: 1.5em;
  /*padding: 0.5em 0.5em 1em;*/
  padding: 0;
  border: 1px solid rgb(210, 210, 210);
  border-left: none;
  border-right: none;
  /*border: none;*/
  height: 290px;
}

span.tag-cloud.toggle, span.report.toggle {
  float: right;
  background-color: rgb(220, 220, 220);
  border: 1px solid rgb(210, 210, 210);
  border-top: none;
  border-bottom: none;
  padding: 0.2em 2em 0.3em;
  margin-top: -1em;
  margin-bottom: 1em;
  margin-left: 0.25em;
  font-weight: bold;
}


/*-------------------------------------------------------*/
/* MAPS and IFRAME TABS*/
/*-------------------------------------------------------*/

iframe.tab-content {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(210, 210, 210);
}


/*-------------------------------------------------------*/
/* SHOW */
/*-------------------------------------------------------*/

/*NOTE: the float related to the parent*/

div.description-content {
  float: inherit;
  margin-bottom: 4em;
  max-height: 400px;
  overflow-y: hidden;
  padding:0 2em 1em 0;
}

div.description-content:hover {
  overflow-y: scroll;
  margin-right: -1em;
}

span.date-time {
  padding: 0.5em;
  border: 1px solid silver
}