<div id="notes-header" class="section-header">
	<h2>Notes</h2>
</div>

<div id="notes-listing" class="section-body">
	Loading ...
</div>

<script>
	$(document).ready(function () {
		url = "/notes?partial=notes/listing&per_page=10&heading_selector=<%= u '#notes-header' %>";
		
		$("#notes-listing").load(url);
	})
</script>
