<h2>Add a Note</h2>

<form action="/<%= @parent_class.table_name.pluralize %>/{<%= @parents.map!{|r| r.id}.join(",") %>}/notes" method="post" id='new-annotation-form'>
  <div class="form-submit">
    <p>
      <label>Title</label> <br />
      <%= text_field "note", "title" %><br />
    </p>
    <p>
    <label>Body</label> <br />
    <%= text_area "note", "body" %><br />
    </p>
    <p>
      <%= submit_tag 'Add Note', :id => 'submit' %> &nbsp; 
      <input type="button" id="cancel" onclick="$('#verb-form').dialog('close');" value="Cancel">
      </p>
  </div>
</form>
