<script type="text/javascript">
$().ready(function() {
	bind_element_add('<%= locals[:container_id] %>');
});
</script>

<div style="clear:both">

<%# @project = Project.find(params[:project_id])
   #if @project.user_can_edit?(User.current) -%>

<%
   con = 'users'
   if locals[:object].type == Project
        con = 'projects'
    end
%>

<div id="" class="section-body">

		<% form_for :tag_set, :url => "/#{con}/#{locals[:object].id}/tag_sets", :html => { :id => "add_form" } do |f| %>
			<p>
				<%= label_tag 'name' %><br/>
				<%= f.text_field :name %>
			</p>
			<p>
				<%= label_tag 'tags' %><br/>
				<%= f.text_field :tag_list %>
			</p>

			<input type="submit" class='submit' value="Add Tag Set" id="add_submit">
		<% end %>
</div>


<%# end -%>

</div>