<%

	container_id = rand_id

	case params[:type]

	when 'public'
		verbs = {}
	else
		verbs = {
			:list => [
				'delete'
			],
			:actions => {
				'delete' 			=> "/tag_sets?partial=widgets/confirm_delete&container_id=#{container_id}"

			},
			:dialog_options => {
				'delete' 			=> '{ height: 160, width:450 }'
			}
		}
	end

	options = get_listing_display_options(local_assigns, params)

	options[:expansion] = 0

	# NOTE: this is being used by the refresh button

	params[:partial] = 'tag_sets/listing'
    params[:hidetags] = true;
    params[:hidereport] = true;

 	editor = logged_in?

 	if params.include?(:project_id)
	
		project = Project.find(params[:project_id])
		
		if !(User.current.is_admin? || project.owner == User.current || project.user_has_role?(User.current, 'administrator'))
			editor = false
		end
	end  

  	editorFunction = nil

    if editor
	
		editorFunction = lambda {
			render 'tag_sets/_add_tag_set', :locals => {
                :object => !project.nil? ? project : current_user,
				:options => options,
				:container_id => container_id
			}
		}
	end
-%>

<%= render :partial => 'widgets/listing', :locals => {
	:objects => @tag_sets,
	:verbs => verbs,
	:options => options,
	:container_id => container_id,
	:editorFunction => editorFunction,
	:expansion_url => nil
	}
-%>

