		<caption>
			<div class='griddata' style="display:none">
				<span class='size'><%= objects.size %></span>
				<span class='page'><%= params['page'] %></span>
				<%= link_to('Refresh', params, :class => 'refresh', :id => 'd-refresh-' + container_id) %>
			</div>
			<!--VERBS-->

			<!--NOTE: we can always 'refresh'-->

			<% if objects.size > 0 %>

			<div id="verbs">
				
				<ul class="verbs">

					<% if logged_in? && options[:selection] == 1 && objects.size > 0 -%>
						<% verbs[:list].each do |name| -%>
							<% class_modifications = (!verbs[:class_modifications].blank?) ? ' ' + verbs[:class_modifications][name].to_s : '' -%>
							<% dialog_options = (!verbs[:dialog_options].blank?) ? verbs[:dialog_options][name] : nil -%>
							<li><%= link_to title_caps(name), verbs[:actions][name], :class => 'verb' + class_modifications, :dialog_options => dialog_options %></li>
						<% end %>
					<% end %>

					<!--NOTE: link_to, and its helper url_for, transform the params into a routes-aware url-->

					<!--<li><%= link_to('Refresh', params, :class => 'refresh', :id => 'refresh-' + container_id) %></li>-->

				</ul>

			</div>
			
			<% end %>


			<!-- RSS -->
			<% if false %>
				<div style="float:left;">
					<%
						rss_params = params.reject{|key,val| ['heading_selector', 'partial', 'per_page', 'page'].include?(key)}
						rss_params['format'] = :rss
					%>
					<%= link_to(image_tag('feed-icon.png', :border => 0, :style =>"padding-top:3px;"), rss_params, :title => "#{feed_title(type)} RSS Link" )%>
				</div>
			<% end %>
			<!-- /RSS -->

			
			<!--<% if options[:selection] == 1 && objects.size > 0 %>-->
			<!---->
			<!--	<div class='select-controls'>-->
			<!--		Select: &nbsp; <a href='#' class='select-all'>All</a> <a href='#' class='select-none'>None</a>-->
			<!--	</div>-->
			<!---->
			<!--<% end %>-->
			
			

			<% if 1 %>

				<!--FILTER-->

				<div id="search">
					<!--TODO: we may want to set the name of a listing directly-->
					
					<!--NOTE: convention here is tempting, as in application_helper > feed_description, however it feels dangerous-->
					
					<span style="padding: 0em;">Filter <%= type.gsub('_', ' ') %></span>

					<% no_query = params.clone; no_query.delete(:query) %>

					<% form_tag url_for(no_query), :method => :post, :id => 'filter-' + container_id, :class => 'filter-form' do %>
						<%= text_field_tag :query, params[:query], :class => 'filter-query' %>
					<% end %>
				</div>

			<% end %>

				<!-- PAGINATION -->

			<% if objects.size > 0 && paginate_markup %>

				<%= paginate_markup %>

			<% end %>

			<% if options[:selection] == 1 && objects.size > 0 %>

				<div class='select-controls'>
					Select: &nbsp; <a href='#' class='select-all'>All</a> <a href='#' class='select-none'>None</a>
				</div>

			<% end %>			

			<!-- this will show for glider --->
			<% if objects.size > 0 && options[:extra_sorting] == 1 -%>

			<!-- SORTING -->
			<div class='horiz-rule'></div>
				
			<div class='sort-controls'>
				Sort by: &nbsp;
				<% columns.each do |column| %>

					<% sorting = column_sorting(column);	%>

					<%if !sorting.empty? %>
						<% if params[:order] == sorting[:order] %>
							<%= link_to("#{title_caps(column.name)} <span class=sort-order'>(#{title_caps(params[:direction])})</span>", params.merge(sorting).merge({:page => 1}), :class => "sorted") %>
						<% else %>
							<%= link_to(title_caps(column.name), params.merge(sorting).merge({:page => 1})) %>
						<% end %>
					<% end %>

				<% end %>
			</div>

			<div class='export-links'><%= export_links(params) %></div>
			
				<% if false # !User.current.nil?

				    if params[:review_mode].nil?
						review_display = 'Show'
					elsif params[:review_mode] == 'Hide'
						review_display = 'Show'
					elsif params[:review_mode] == 'Show'
						review_display = 'Hide'
					else
						review_display = params[:review_mode]
					end

				-%>

			<div class='rating-controls'>
				Review: &nbsp; <%= link_to( review_display, params.merge( :review_mode => review_display ), :class => 'review-mode') %>
			</div>

				<% end -%>

			<% end %>

	   	<div class="separator"></div>

		</caption>