<html> 

<head> 
  <title>Histogram</title>
  
  <%= javascript_include_tag 'jquery/jquery-1.3.1.min.js' %>
  
  <%= javascript_include_tag "protovis-3.2/protovis-r3.2.js" %>
  
  <!--NOTE: this is used to display the export links in a uniform way-->
  
  <%= stylesheet_link_tag "barn.xbat.org.css" %>
</head> 

<body>
  <!--NOTE: the histograms we get are scoped, filtered, and paginated-->
  
  <!--NOTE: the variable name 'histogram' is assigned in the events_controller.rb-->
    
  <div class='export-links' style='padding: 0; padding-top: 0.75em; margin-bottom: -0.5em'><%= export_links(params) %></div>
  
  <script type="text/javascript+protovis">
  
	// TODO: the typical recommendation for multiple series uses multiple panels
	
	// DATA
	// ---------------------------------

	var scoped = JSON.parse('<%= histogram[:scoped].to_json %>');
	
	var filtered = JSON.parse('<%= histogram[:filtered].to_json %>');
	
	// NOTE: this repackaging allows 'pv' iterator to loop over the datasets
	
	var data = [scoped, filtered];
	
	var params = JSON.parse('<%= params[:metadata].to_json %>')
		
	// SETUP
	// ---------------------------------
	
	var width = $('html').width() - 8;
	
	// TODO: choose a height proportional to the width, perhaps consider screen-height
	
	var height = 200;
	
	var max_bin = pv.max(scoped, function(d) d.bin);
	
	var max_count = pv.max(scoped, function(d) d.count);
	
	var bin_width = width / max_bin, bin_space = 3;
	
	var time = pv.Scale.linear(0, max_bin).range(0, width);
	
	// NOTE: the scale is here expressed in hours
		
	var vis = new pv.Panel()
		.width(width)
		.height(height + 16);
	
	// PLOT
	// ---------------------------------

	// NOTE: this is not the most intuitive chain of commands, we should break some of these
	
	//var bar = vis.add(pv.Bar)
	//	.data(scoped)
	//	.left(function(d) d.bin * bin_width)
	//	.width(bin_width - bin_space)
	//	.bottom(0)
	//	.height(function(d) height * d.count / max_count)
	//	.anchor("top")
	//  .add(pv.Label)
	//	.text(function(d) d.count)
	//	.textBaseline("bottom");
		
	//new pv.Panel()
	//  .width(150)
	//  .height(150)
	//.add(pv.Panel)
	//  .data([1, 1.2, 1.7, 1.5, .7, .2])
	//  .left(function() this.index * 25)
	//.add(pv.Panel) // group bar and label for redraw
	//  .def("active", false)
	//.add(pv.Bar)
	//  .bottom(0)
	//  .width(20)
	//  .height(function(d) d * 80)
	//  .fillStyle(function() this.parent.active() ? "orange" : "steelblue")
	//  .event("mouseover", function() this.parent.active(true))
	//  .event("mouseout", function() this.parent.active(false))
	//.anchor("top").add(pv.Label)
	//  .visible(function() this.parent.active())
	//  .textStyle("white")
	//.root.render();
	 
	var bar =
	  vis.add(pv.Panel)
		.data(data)
	  .add(pv.Bar)
		.data(function (d) d)
		.left(function(d) d.bin * bin_width)
		.width(bin_width - bin_space)
		.bottom(0)
		.height(function(d) height * d.count / max_count);
	
	//bar.anchor("top").add(pv.Label)
	//  .text(function(d) d.count)
	//  .textBaseline("bottom");
		
	vis.add(pv.Rule)
	  .data(time.ticks())
	  .bottom(0)
	  .height(height - 8)
	  .left(function (d) time(d))
	  .lineWidth(1)
	  .strokeStyle('rgb(210, 210, 210)')
	.anchor('bottom').add(pv.Label)
	  .text(function (d) time(d));
	
	vis.render();

  </script> 
</body>

</html> 