<%

 # must do the following:

 # provide a hide / show interface for the admin editor
 # understand which interface it is to host
 # provide adequate context for the guest interface to do the following:
 # 		determine whether an entity is being added or edited
 #		pass along parent / other info necessary for associations
 # intercept submit events to properly direct them to async submits, with a refresh to the parent container

-%>

<div class='inline_editor'>
	<div class='editor_toggle'>TOGGLE</div>
	<div class='editor_container'>
		<%= render guest_interface %>
	</div>
</div>