<%
	event = resource;
  
	tip_location ||= "default"; tip_title ||= "default"
     
%>

<!--TODO: set callback for checkbox to select clip-->

<li id='events-<%= event.id %>' class='load-local-tip element' rel='<%= tip_location %>' title='<%= tip_title %>'>	

	<div class='clipctr'>
		<a class='sm2_link' href='<%= files_root_url(event, 'clip.mp3') %>'>
		  <img src='<%= files_root_url(event, 'thumb.256.gray-light.png') %>'/>
		</a>
	</div>

	<div class='sidebar'>
	  
		<div class='sidecontents'>
			<input type="checkbox" value="1" id="select-events-<%= event.id %>" class="render-select-clip selection-checkbox">
			 <% if params[:review_mode] == 'Show' && !user.nil? -%>
			 <div class='review_panel'>
			 <%= render :partial => 'events/event_review', :locals => { :event => event, :user => user } %>
			 </div>
			 <% end -%>
		</div>
	</div>

	<% if !event.date_time.nil? %>
		<!--TODO: we want to have a better display of the date_time-->
		
		<!---<span class='clip-data'><%= event.date_time %></span>--->
	<% end %>
</li>