<tr id="<%= row[:label] %>" class="child_<%= row[:handle] %> <%= row[:state] %> element" >

    <% columns.each do |column| %>
    
        <% if column.display %>
            <!--TODO: we need to make sure that this signature is sufficient-->
            
            <td class="<%= column.name %>"><%= column_markup(row, column, object) %></td>
        <% end %>
    <% end %>

</tr>

<%= post_row( options, columns, row,  object ) %>






