<!--CONFIGURATION-->

<%
	type = params[:controller]

	object_path = type.singularize + '_path'

	options = options || {}

	total_entries = @metadata[:total_entries]

	heading_markup = local_assigns[:heading_markup] ? local_assigns[:heading_markup] : '' # "<h2> #{title_caps(type)} (#{total_entries}) </h2>"

	heading_selector = params.include?(:heading_selector) ? params[:heading_selector] : ''

	container_id = local_assigns[:container_id] ? local_assigns[:container_id] : rand_id

	paginate_markup = objects.is_a?(WillPaginate::Collection) ? will_paginate(objects) : nil;

#	expansion_url = ""

	columns = columns_default

	editorFunction = local_assigns[:editorFunction] ? local_assigns[:editorFunction] : nil;

	# NOTE: the default expansion url is the show for the object without layout

	if options[:expansion] == 1 && (!local_assigns[:expansion_url] || expansion_url.blank?)

		expansion_url = Proc.new {|object|
			send(type.singularize + '_path', object, :format => 'html', :layout => false)
		}
	end
-%>

<!--CONTAINER-->

<div style="margin:0;padding:0;" id="<%= container_id %>" class="grid-container">
			
	<% if options[:heading] == 1 && heading_selector.blank? %>
	
		<%= heading_markup %>
	<% end %>
	
	<!--TAGS-->

    <!--TODO: this is one place where we'll plugin reports-->

	<%= render(:partial => 'tags/tag_cloud') %>
	
	<table class="listing<%= ' striped' if params[:striped] %> <%= container_id %>" style="margin-bottom: 0em">

		<!--CAPTION-->
		
		<% if options[:caption] == 1 -%>
		
			<% options[:extra_sorting] = 0 -%>		

			<%= render(
				:partial => 'widgets/grid_controls',
                :locals => {
					:type => type,
					:objects => objects,
                    :verbs => verbs,
                    :container_id => container_id,
					:paginate_markup => paginate_markup,
                    :options => options
                }
            ) -%>
			
		<% end -%>
	
		<!--CONTENT-->
			
		<% if objects.size == 0 -%>
	</table>
			
		<%#= debug params %>
		
		<div class="filter-notice">
			No <%= type %> <%= "matching the query <span class='query'>\"#{params[:query]}\"</span>" unless params[:query].blank? %> are currently available.
		</div>
			
		<% else -%>
				
		<tr>
			<!--ORDER-->
			<% columns.each do |column| -%>
				<% if column.display -%>
					<% if column.header -%>
						<%= header_markup(column, params) -%>
					<% else -%>
						<th></th>
					<% end -%>
				<% end -%>
			<% end -%>
		</tr>

		<% table = { :options => options } %>

		<% objects.each do |object| %>

		<% row = { :label => type + "-" + object.id.to_s,
				   :state => cycle('even', 'odd'),
				   :handle => rand_id,
				   :uri => expansion_url.call(object),
				   :table => table } %>

		<%= render(:partial => 'widgets/listing_row',
				  :locals => { :row => row,
							   :type => type,
							   :object => object,
							   :options => options,
							   :columns => columns,
							   :expansion_url => expansion_url }) %>

		<% end %>
		
	</table>

	<% end %>

	<div style="height: 0.75em; width: 100%"></div>	
	
	<% if paginate_markup %>
		<%		
			begin
				per_page = objects.first.class.per_page
			rescue
				per_page = 5
			end 	
		%>
		<%= render_per_page_controls( params, total_entries, per_page ) -%>
		
		<%= paginate_markup %>
	<% end %>

	<% if editorFunction != nil%>
		<span class='listing-editor toggle'>Add</span>
		
		<div class='listing-editor'>	
			<%= editorFunction.call %>
		</div>
	<% end %>
	
	<div style="display:none;" id="verb-form" title="test"></div>
	
<script>
	$('.qtip').remove();
	
	enable_row_selection();

	enable_filter_forms('<%= container_id %>');

	enable_toggle_controls('<%= container_id %>');

	<%= "enable_editable_tags();" if logged_in? %>

	bind_cloud_tags('<%= container_id %>');

	enable_ratings();

	render_simple_ratings();

	enable_verbs('<%= container_id %>');

	bind_selection_elements('<%= container_id %>');

	bind_selection_allnone('<%= container_id %>');

//	render_sort_menu();  //TODO this belongs in a construct at the entity-level listing that injects special js into this list

	$('#<%= container_id %>' )[0].get_collection = function(){ return $( '#<%= container_id %> > tbody > tr.element' ); }

	//--
	// update external heading
	//--

	<% if !heading_selector.blank? %>

		<% if !heading_markup.blank? %>
		
			// NOTE: this is the old way, left in place for backward compatibility for now
			
			$("<%= heading_selector %>").html("<%= heading_markup %>");
		<% else %>
			// NOTE: this is the new way. the parent listing creates a header with classed elements!
			
			$("<%= heading_selector %> .total-count").html("<%= @metadata[:total_entries] %>");
			
			$("<%= heading_selector %> .page").html("<%= params[:page] %>");
			
			$("<%= heading_selector %> .per-page").html("<%= params[:per_page] %>");
			
			// NOTE: the export_links functions is in application_helper.rb
			
			$("<%= heading_selector %> .export-links").html('<%= export_links(params) %>');
		<% end %>
		
	<% end %>

	bind_link_targets('<%= container_id %>');
	
	
	// NOTE: this is a small test for the viability of qtip ... it should work!
	
	enable_export_tips();
	
	enable_tag_tips('<%= container_id %>');
	
	$('div.listing-editor', '#<%= container_id %>').hide();
	
	$('.listing-editor.toggle', '#<%= container_id %>').click( function () {
		
		$('div.listing-editor', '#<%= container_id %>').toggle();
	});
</script>		

</div>



