<% if menu_model[:logged_in?] -%>

<!--<li class="menu-label">Projects:</li>-->

<li <%= menu_model[:sel] unless params[:type] %> >
  <%= link_to "Joined", projects_path, {:title => "Projects joined or owned"} %>
</li>

<li <%= menu_model[:sel] if params[:type] == 'watched'%>>
  <%= link_to "Watched", projects_path + '?type=watched', {:title => "My watched projects"} %>
</li>

<li <%= menu_model[:sel] if params[:type] == 'public'%>>
  <%= link_to "Public", projects_path + '?type=public', {:title => "All public projects"} %>
</li>

<!--<li class="verb"><%= link_to "New project", new_project_path, :id => 'new-project', :dialog_options => '{ height: 210, width:450 }'%></li>-->

<% end -%>
