<% if menu_model[:logged_in?] -%>

<li <%= menu_model[:sel] if menu_model[:con] == 'sounds'%>><%= link_to "Sounds", sounds_path %></li>

<li <%= menu_model[:sel] if menu_model[:con] == 'logs'%>><%= link_to "Logs", logs_path %></li>

<li <%= menu_model[:sel] if menu_model[:con] == 'events'%>><%= link_to "Events", events_path %></li>

<li <%= menu_model[:sel] if menu_model[:con] == 'recordings'%>><%= link_to "Recordings", recordings_path %></li>

<li <%= menu_model[:sel] if menu_model[:con] == 'tasks'%>><%= link_to "Tasks", tasks_path %></li>

<% end %>