<% if menu_model[:logged_in?] -%>

<li <%= menu_model[:sel] if menu_model[:con] == 'home'%>><%= link_to "Home", '/home' %></li>

<li <%= menu_model[:sel] if menu_model[:con] == 'users'%>><%= link_to "Profile", edit_user_url(User.current) %></li>

<li <%= menu_model[:sel] if menu_model[:con] == 'files'%>><%= link_to "Files", '/files' %></li>

<!--
<li <%= menu_model[:sel] if menu_model[:con] == 'sync'%>><%= link_to "Sync", '/sync/setup' %></li>

<li <%= menu_model[:sel] if menu_model[:con] == 'peers'%>><%= link_to "Peers", '/peers' %></li>

<li <%= menu_model[:sel] if menu_model[:con] == 'peers'%>><%= link_to "Silo", '/silos' %></li>
-->
<% end -%>