<p>Add a Note to the selected <%= params[:controller] %>.</p>

<%
	@resources = controller.instance_variable_get("@#{params[:controller]}")	
	@resources.map!{|r| r.id}
	@controller = params[:controller]
%>

<form action="/<%= @controller %>/{<%= @resources.join(",") %>}/notes" method="post" id='new-annotation-form'>
	<div class="form-submit">
		<p>
			<label>Title</label> <br />
			<%= text_field "note", "title" %><br />
		</p>
		<p>
		<label>Body</label> <br />
		<%= text_area "note", "body", :style=>"height:300px;" %><br />
		</p>
		<p>
			<%= submit_tag 'Add Note', :id => 'submit' %> &nbsp; 
			<input type="button" id="cancel" onclick="closeDialog('#verb-form');" value="Cancel">
			</p>
	</div>
</form>

<script>
	// Form submission script
	
	$('#new-annotation-form').submit(function() {
		
		var form	= $(this);
		var title = $("#note_title", this).attr("value");
		var body	= $("#note_body", this).attr("value");
		
		if(title == ""){
			alert("Please give this note a title");
			return false;			
		}
		
		if(body == ""){
			alert("Please give this note a body");
			return false;			
		}

		// submit the form 
		$(this).ajaxSubmit({
			url: $(this).attr("action") + ".js", // this should be specifiable with dataType, but its not working
			success: function(responseText){
				try{
					// for some reason, this script cannot find "#verb-form"- maybe document.ready
					var dialog_div = form.parent(); 
					// close the dialog	 
					if(dialog_div.dialog('isOpen')) dialog_div.dialog('close');				}
				catch(e){
					console.log(e)
				}
			}
		});
		
		// return false to prevent normal browser submit and page navigation 
		return false; 
});
</script>