<p>Add a Tag to the selected <%= params[:controller] %>.</p>

<%
	@resources = controller.instance_variable_get("@#{params[:controller]}")
	@resources.map!{|r| r.id}
	@controller = params[:controller]
%>

<form action="/<%= @controller %>/{<%= @resources.join(",") %>}" method="post" id='new-tag-form'>
	<div class="form-submit">
		<p>
			<label>Tag</label> <br />
			<%= text_field @controller.singularize, "tag_add" %><br />
		</p>
		<p>
			<%= submit_tag 'Add Tag', :id => 'submit' %> &nbsp;
			<input type="button" id="cancel" onclick="closeDialog('#verb-form');" value="Cancel">
			</p>
	</div>
</form>

<script> bind_tag_form(); </script>