<%
	@container_id = params[:container_id]
	
	@resources = controller.instance_variable_get("@#{params[:controller]}")
	
	user = User.current
	
	# The IDs coming from the params are resource specific IDs, 
	# so they must be removed from params hash to maintain the other conditions for finding a project
	
	resource_ids  = params.delete(:id)
	
	resource_name = params[:controller]
	
	asset_action = params[:asset_action] || "add"
	
	if asset_action == 'add'
		@projects = Project.find_by_user(:user => user, :params => params)
	else
		@project = Project.find(params[:project_id])
	end
-%>

<!-- 
	This form action is filled in with JavaScript, since it is not known which project has been selected before submit 
	Another way to do this would be to have JS update the action on dropdown change, but it is possible
	that this form element is replaced by a multiselect in the future.
-->





<form action="#" method="post" id='project-asset-form'>
	
	<input type="hidden" name="_method" value="put">	
	
	<input type="hidden" name="asset_type" value="<%= resource_name.classify %>">
	
	<input type="hidden" name="asset_action" value="<%= asset_action %>">
	
	<% 	@resources.map{|r| r.id}.each do |i| -%>	
		<!-- <input type="hidden" name="add_<%= resource_name %>[]" value="<%= i %>"> -->
		
		<input type="hidden" name="asset_id[]" value="<%= i %>">
	<% end -%>
	
	<p> 
		<%= asset_action.capitalize %> these <%= params[:controller] %> <%= (asset_action == "add") ? "to" : "from" %>
	</p>

	<% if asset_action == 'add' %>
	
		<select name="project_id">
			<% @projects.each do |project| -%>
				<option value="<%= project.id %>"><%= project.name %></option>
			<% end -%>
		</select>
	<% else %>
		
		<%= @project.name %>
		
		<input type='hidden' name='project_id' value='<%= params[:project_id] %>'>
	<% end %>
	
	<br/><br/>
	
	<div class="form-submit">
		<%= submit_tag asset_action.capitalize, :id => 'submit' %> &nbsp; <input type="button" id="cancel" onclick="closeDialog('#verb-form');" value="Cancel">
	</div>
</form>

<!--
	Form scripts
-->

<script>
	
	// AJAX form submission
	
	$('#project-asset-form').submit( function() {
		
		var form = $(this);
		
		<% if asset_action == 'add' %>
			var project_id = $("#project-asset-form > select[name='project_id'] option:selected").val();
		<% else %>
			var project_id = <%= @project.id %>
		<% end %>
/*
		if (project_id.size() > 0){
			project_id = project_id[0].value;	
		}
		else{
			close_dialog(form.parent());
			flash("error", "Sorry, there are no projects to add this."); 
		}
*/	
		$(this).ajaxSubmit({
			url: "/projects/" + project_id + ".js", // this should be specifiable with dataType, but its not working
			success: function(responseText) {
				try { 
					refresh_container('<%= @container_id %>')
					close_dialog(form.parent());
					flash("notice", "Resources have been successfully <%= (asset_action == 'add') ? 'added' : 'removed' %>"); 
				}
				catch(e) {
					console.log(e)
				}
			}
		});
		
		return false; 
	});	
	
</script>
