<p>Choose a Detector to be run against the selected sounds.</p>

<%
	@resources = controller.instance_variable_get("@#{params[:controller]}")
	@resources.map!{|r| r.id}
	@controller = params[:controller]
%>

<form action="/tasks" method="post" id='request-detection-form'>
	<div class="form-submit">
		<p>
			<label>Detector Type</label> <br />
		    <%= collection_select( :extension, :id, @extensions, :id, :name )  %><br />
		</p>
        <p>
            <label>Detector Preset</label> <br />
            <span id="preset-list">Select A Detector.</span><br />
        </p>
		<p>
			<%= submit_tag 'Request Detection', :id => 'submit' %> &nbsp;
			<input type="button" id="cancel" onclick="closeDialog('#verb-form');" value="Cancel">
            <input type="hidden" id="task_action" name="task_action" value="scan_sound">
            <input type="hidden" id="task_target" name="task_target" value="<%= @resources.join(",") %>">
	    </p>
	</div>
</form>

<script>
    // Detector Select script

    $("#extension_id").prepend(new Option("Please choose a detector", "Choose"));
    $("#extension_id").val("Choose");

    $("#extension_id").change(function(){
        $("#extension_id option[value='Choose']").remove();
        selected = $("#extension_id").val();

        $("#preset-list").html("<span>Loading...</span>");
        // TODO provide some error information for conditional display in event of bad list data
        $.get("/extensions/" + selected + "/presets", function(data){
            $("#preset-list").html(data);  
        });
    });


	// Form submission script

	$('#request-detection-form').submit(function() {

		var form	= $(this);
		var extension = $("#extension_id", this).attr("value");
        var preset = $("#preset_id", this).attr("value");

		if(extension == "Choose"){
			alert("Please select a detector");
			return false;
		}

        if(preset == ""){
            alert("Please select a preset");
            return false;
        }

		// submit the form
		$(this).ajaxSubmit({
            url: $(this).attr("action"),
			//url: $(this).attr("action") + ".js", // this should be specifiable with dataType, but its not working
			success: function(responseText){
				try{
					// for some reason, this script cannot find "#verb-form"- maybe document.ready
					var dialog_div = form.parent();
					// close the dialog
					if(dialog_div.dialog('isOpen')) dialog_div.dialog('close');				}
				catch(e){
					console.log(e)
				}
			}
		});

		// return false to prevent normal browser submit and page navigation
		return false;
});
</script>