/*BASIC STYLES*/

/*html {*/
/*  margin: 0em 3em;*/
/*  border: 1px solid rgb(210, 210, 210);*/
/*  border-bottom: none;*/
/*}*/

body {
  background-color: white;
  color: black;
  font-family: "Trebuchet MS", "Lucida Grande", Verdana, sans-serif;
  font-size:100%;
  line-height: 180%;
  margin:0;
  padding:0;
}

p {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0em;
  margin-bottom: 1em;
  display: block;
  font-weight: bold;
  padding: 0em;
}

h2, h3, h4 {
  padding-bottom: 0.5em;
  border: none;
  border-bottom: 1px solid rgb(210, 210, 210);
}

a {
  font-weight: bold;
  letter-spacing: +0.025em;
  padding: 0em;
  color: rgb(64, 128, 64);
  text-decoration: underline;
}

ul {
  padding: 0em;
  padding-left: 1em;
}

ul li {
  padding: 0.25em;
}

ul.define li {
  margin-bottom: 0.5em;
}

ul.define li h3 {
  margin-bottom: 0.5em; 
}

/*LAYOUT STYLES*/

#content {
  margin: 2em 2em 4em;
  overflow: visible;
  text-align: left;
  vertical-align: top;
}

div.container {
  margin: 0em;
  padding: 0em;
}

/*VERBS AND SELECT STYLES*/

table.listing caption {
  height: auto;
  margin: 0em;
  padding: 0em;
  padding-top: 0.5em;
  vertical-align: middle;
  border: 1px solid red;
  border: none;
}

ul.verbs {
  margin: 0em;
  margin-bottom: 1em;
  padding: 0em;
  float: left;
}

ul.verbs li, ul.select li {
  display: inline;
  float: left;
  padding: 0em;
  padding-right: 0.5em;
  margin: 0em;
  margin-right: 0.5em;
  border: none;
  /*border-right: 1px solid rgb(210, 210, 210);*/
}

/*NOTE: verbs can be collected as verbs or marked as such*/

.verbs a, a.verb {
  font-weight: bold;
  padding: 0em;
  /*color: rgb(64, 96, 128);*/
  text-decoration: none;
}

.verbs a:hover, a.verb:hover {
  /*text-decoration: underline;*/
}

/*TODO: make the page controls more like the pagination controls*/

div.select-controls, div.per-page-controls, div.sort-controls {
  display: inline;
  margin: 0em;
  margin-bottom: 1em;
  float: left;
  clear: left;
}


div.select-controls a, div.sort-controls a {
  margin: 0em;
  padding: 0em;
  /*color: rgb(64, 96, 128);*/
  text-decoration: none;
  padding-right: 0.5em;
}

div.per-page-controls {
  word-spacing: +0.75em;
}

div.pagination {
  float: right;
  clear: right;
  text-align: right;
  margin: 0em;
  margin-bottom: 1em;
  padding: 0em;
  word-spacing: +0.75em;
}

div.pagination a, div.per-page-controls a {
  color: rgb(160, 160, 160);
  padding: 0.1em 0.8em;
  margin: 0em;
  text-decoration: none;
  border: 1px solid rgb(210, 210, 210);
}

div.pagination a:hover, div.per-page-controls a:hover {
  color: rgb(64, 128, 64);
  background-color: rgb(240, 240, 240);
}

/*FILTER STYLES*/

div#search {
  margin: 0em;
  margin-bottom: 1em;
  padding: 0em;
  float: right;
}

div#search input {
  font-size: 100%;
  width: 16em;
  margin-right: 0em;
}

div#search form.filter-form {
  display: inline;
  padding: 0em;
  margin: 0em;
  margin-bottom: -0.5em;
  margin-left: 0.5em
}

/*LISTING STYLES*/

table.listing {
  width: 100%;
  clear: both;
  border-collapse: collapse;
  empty-cells: show;
  margin: 0em;
  margin-bottom: 1em;
  border: none;
  border-bottom: 1px solid rgb(210, 210, 210);
}

table.listing th {
  border: none;
  margin: 0em;
  padding: 1em 0.75em 0.75em;
  text-align:left;
  /*a simpler version*/
  background-color: rgb(230, 230, 230);
  border-bottom: 1px solid rgb(210, 210, 210);
  border-top: 1px solid rgb(230, 230, 230);
}

table.listing th.sorted {
  background-color: rgb(220, 220, 220);
  border: 1px solid rgb(210, 210, 210);
}

table.listing th.hover {
  background-color: rgb(220, 220, 220);
}

table.listing th a {
  text-decoration: none;
  color: inherit;
}

table.listing th a:hover {
  color: rgb(64, 128, 64)
}

table.listing th {
  margin: 0em;
  padding: 0.75em 1.5em;
}

table.listing td {
  margin: 0em;
  padding: 0.5em 1.5em;
}

table.listing tr.odd {
  background-color: white; /* rgb(250, 250, 240); */
}

table.listing.striped tr.even {
  background-color: rgb(243, 243, 243);
}

table.listing tr.notice {
  background-color: transparent;
}

table.listing tr.notice td {
  padding-top: 0em;
  padding-left: 0em;
}

table.listing tr.hover {
  background-color: rgb(230, 255, 230); cursor: default;
}

table.listing tr.selected {
  background-color: rgb(240, 255, 210);
}

table.listing tr.selected.odd {
  background-color: rgb(240, 255, 210);
}

table.listing tr.selected.even {
  background-color: rgb(230, 245, 200);
}

table.listing .pad-cell {
  /*background-color: rgb(255, 200, 255);*/
}

table.listing span.at-time {
  display: block;
  display: none;
  padding-top: 0.5em;
  /*font-size: 90%;*/
  color: rgb(180, 180, 180);
}

table.listing span.at-time:hover {
  color: inherit;
}

/*MISC STYLES*/

.code {
  font-family: 'Courier New', Courier, monospace;
}

.input {
  height: 1.5em;
}

form.star-rating {
  min-width: 110px;
}

.status_symbol {
  border:0;
  vertical-align:bottom;
  margin-right:5px;
}

/*TAGGING STYLES*/

ul.tag_list, ul.tag_hint {
  list-style: none;
  margin-left: 0em;
  margin: 1em 0em;
  /*float: left;*/
  padding-left: 0em;
  height: 1.5em;
  max-width: 32em;
}


ul.tag_list li.tag {
  float: left;
  font-family: 'Comic Sans MS', Courier New, monospace;
  font-size: 94%;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.3em;
  padding-top: 0.2em;
  padding-right: 0.8em;
}

ul.tag_list li.tag {
  background-color: rgb(250, 250, 200);
  border: 1px solid rgb(240, 240, 160);
}

ul.tag_hint li {
  float: left;
  font-family: 'Comic Sans MS', Courier New, monospace;
  font-size: 94%;
  border: 1px solid rgb(210, 210, 210);
  color: rgb(160, 160, 160);  
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.3em;
  padding-top: 0.2em;
  padding-right: 0.8em;
}

.tags form input {
  font-family: 'Comic Sans MS', monospace;
  vertical-align: middle;
  height: 24px;
  margin-bottom: -1.6em;
}

div.tag-cloud {
  float: left;
  margin: 0em;
  width: 100%;
  margin-bottom: 0.75em;
  padding: 0.75em 0em;
}

.tag-cloud a {
  float: left;
  font-family: 'Comic Sans MS', Courier New, monospace;
  font-size: 94%;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.3em;
  padding-top: 0.2em;
  padding-right: 0.8em;
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.tag-cloud a {
  /*background-color: rgb(250, 250, 230);*/
  background-color: transparent;
  border: 1px solid rgb(210, 210, 210);
}

.tag-cloud a.selected {
  /*background-color: rgb(250, 250, 200);*/
  background-color: rgb(240, 240, 240);
  /*border: 1px solid rgb(240, 240, 160);*/
  border: 1px solid rgb(210, 210, 210);
}

div.tag-cloud .css1 {
  font-size: 80%;
}
div.tag-cloud .css2 {
  font-size: 100%;
}
div.tag-cloud .css3 {
  font-size: 120%;
}
div.tag-cloud .css4 {
  font-size: 140%;
}

/*TEXT COLUMN STYLES*/

div.two-column-left {
  width: 47%;
  float: left;
  padding:0em;
  padding-right: 4em;
}

div.two-column-right {
  width: 47%;
  float: left;
}

div.two-column-left, div.two-column-right {
  border: 1px solid red;
  border: none;
}

div#content {
  margin-top: 2em;
  border: 1px solid blue;
  border: none;
}

/*FORM STYLES*/

input, textarea {
  font-family: "Trebuchet MS", "Lucida Grande", Verdana, sans-serif;
  margin: 0em;
  margin-top: 0em;
  padding: 0.1em;
}

input#submit, #cancel {
  padding: 0.5em 1em;
  letter-spacing: +0.05em;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(210, 210, 210);
}

a#cancel {
  text-decoration: none;
  font-weight: normal;
}

select {
  font-family: "Trebuchet MS", "Lucida Grande", Verdana, sans-serif;
  padding: 0em;
  margin-right: 0.5em;
  letter-spacing: +0.05em;
  font-size: 108%;
}

select option {
  letter-spacing: +0.05em;
  padding: 0em 1em;
}

input.button:hover {
  background-color: rgb(240,240,230);
}


/*CONSOLE STYLES*/

#console textarea{
  width: 100%;
  font-family: "Courier New", courier, monospace;
  font-size: 94%;
  font-weight: bold;
  line-height: 150%;
  border: 1px solid rgb(210, 210, 210);
}

#console input {
  width: 100%;
}

#console table td {
  vertical-align: top;
  padding: 0.5em 1em 1em 0em;
  margin: 0em;
}

#console table td.head {
  text-align: right;
  font-weight: bold;
}

/*CODE STYLES*/

code {
  font-family: "Courier New", Courier, monospace;
  font-size: 108%;
  font-weight: bold;
  padding: 0em 0.5em;
}

code.display {
  display: block;
  padding: 0.5em;
  margin: 0.75em 0em 0.75em;
  background-color: rgb(255, 255, 240);
  border: 1px dashed rgb(210, 210, 210);
  
}

/*DIALOG STYLES*/

.ui-dialog, .ui-widget, .ui-dialog *, .ui-widget * {
  font-family: "Trebuchet MS", "Lucida Grande", sans-serif;
  -moz-border-radius: 0px;
}

.ui-dialog, .ui-widget {
  padding-bottom: 2em;
}

.ui-dialog input , .ui-widget input, .ui-dialog select , .ui-widget select {
  font-family: "Trebuchet MS", "Lucida Grande", sans-serif;
}

.ui-dialog-titlebar, .ui-widget-header {
  background-image: none;
  background-color: rgb(230, 230, 230);
}

.form-fields {
  border: 1px solid red;
  border: none;
  margin: 1em 0em;
}


/*SECTION STYLES*/

.section-body {
  margin-bottom: 3em;
}



/*TABS STYLES*/

/*NOTE: the following two selectors mostly float the list*/

ul.tabs-list {
  list-style: none;
  float: left;
  width: 100%;
  margin: 0em;
  margin-bottom: 1em;
  padding: 0em;
  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
}

/*NOTE the following two relate to tab hover behavior*/

.tabs-list li {
  color: rgb(160, 160, 160);
  float: left;
  margin: 0em;
  margin-right: 0.25em;
  padding: 0.5em 2em;
 
}

.tabs-list li:hover {
  color: rgb(64, 128, 64);
  background-color: rgb(230, 230, 230);
  padding-bottom: 0.4em;
}

.tabs-list li a, .tabs-list li:hover a {
  color: inherit;
  text-decoration: none;
}

.tabs-list li.selected {
  background-color: rgb(220, 220, 220);
  border: 1px solid rgb(210, 210, 210);
  border-bottom: none;
}

.tabs-list li.selected:hover {
  padding-bottom: 0.5em;
}

.tabs-list li.selected a {
  color: black;
}

/*NOTE: 'simple' tabs are styled like the various pagination links*/

.tabs-list.simple {
  border: none;
  /*margin-top: -1.25em;*/
  margin-bottom: 0.75em;
  /*background-color: rgb(240, 240, 240);*/
  padding: 0.75em 0em;
}

.tabs-list.simple li {
  background-color: transparent;
  border: 1px solid rgb(210, 210, 210);
  padding: 0em 0.75em;
  margin: 0em;
  margin-right: 1em;
}

/*NOTE: using float to change position reverses the list order*/

.tabs-list.simple.right, .tabs-list.simple.right li {
  float: right;
}

.tabs-list.simple li.selected {
  border: none;
}

.tabs-list.simple li.selected:hover {
  padding: 0em 0.75em;
}

.tabs-container .tabs-target {
  clear: both;
}

/*NOTE: the floating allows the container to wrap the content, the width is then required*/

.tabs-target {
  float: left;
  width: 100%;
  border: 1px solid red;
  border: none;
}


/*SNAPSHOT AND PLAYER STYLES*/

div.thumb {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(220, 220, 220);
  padding: 0.75em 0.05em 0.75em 0.5em; /*NOTE: adding the small right padding prevents a scrollbar*/
  margin: 0em;
  width: auto;
  float: left;
  max-width: 768px;
  overflow: auto;
}

div.thumb.highlight {
  background: rgb(245, 245, 245);
}

div.thumb img {
  z-index: -1;
  margin: 0em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding: 0em;
  border: 1px solid rgb(220, 220, 220);
}

div.thumb .progress {
  z-index: 1;
  position: relative;
  float: left;
  border: none;
  border-right: 1px solid transparent;
  margin-left: -1px;
}

div.thumb a.sm2_playing .progress {
  border: none;
  border-right: 1px solid red;
}



ul.glider {
  margin: 0em;
  padding: 1em;
  padding-left: 0em; /* change this if we use div as mat*/
  padding-bottom: 0em;
  float: left;
  width: 100%;
  list-style: none;
}

ul.glider li {
  float: left;
  padding: 0em;
  margin: 0em 2em 1.5em 0;
}


ul.glider li div.thumb {
   max-width: 800px;
}


/*TODO: this needs to be extended, tested on listings, a first go*/

.sorted {
  border: 1px solid rgb(210, 210, 210);
  border: none;
  padding: 0.25em 0.5em;
}
.sorted.asc {
  padding-right: 24px;
  background: url(asc2.png) no-repeat center right;
}

.sorted.desc {
  padding-right: 22px;
  background: url(desc2.png) no-repeat center right;
}

p.note {
  margin: 0em 0em;
}


/*TIP STYLES*/

.local-tip {
  display: none;
}

#cluetip-title{
 border:none; 
}

table.tip th {
  text-align: right;
  padding-right: 1em;
  vertical-align: middle;
}

table.tip td {
  vertical-align: middle;
}

table.tip th, table.tip td {
  padding-bottom: 0.5em;
}

table.tip ul {
  list-style: none;
  margin: 0em;
  padding: 0em;
}


#activity-indicator{
  position:absolute;
  top:0px;
  right:50%;
  height:31px;
  padding:7px;
  padding-left:10px;
  padding-right:10px;
  background:#FAFAC8;
  color:black;
  text-align:bottom;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
}



/*SIMPLE RATING STYLES*/

/*NOTE: mostly these are taken from the original rating plugin*/

.simple-rating {
  float: left;
  padding: 0.5em 0em;
  min-width: 120px;
  margin: 0em;
  margin-right: 1em;
  border: 1px solid silver;
  border: none;
}

/*STARS*/

.simple-rating a {
  float: left;
  width: 17px;
  height: 16px;
  padding: 0px;
  padding-right: 3px;
  text-indent: -999em;
  cursor: pointer;
  display: block;
  background: transparent;
  overflow: hidden;
  background-image: url(star.gif);
  background-position: 0 0!important;
  background-repeat: no-repeat;
}

.simple-rating a.star-on {
  background-position: 0 -16px!important
}

.simple-rating a:hover, .simple-rating a.star-on:hover, .simple-rating a.hover {
  background-position: 0 -32px!important
}

/*DELETE*/

.simple-rating a.delete {
  background-image: url(delete.gif);
  background-position: 0 0!important
}

.simple-rating a.delete:hover {
   background-position: 0 -16px!important
}



