/*HEADER CONTAINER STYLES*/

div#header-container {
  background-color: rgb(230, 230, 230);
  background-image: url("../images/barn-back.png");
  background-image: url("../images/baby-barn5.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  margin: 0em;
  padding: 0em;
}

/*TOP BAR STYLES*/

div#top-bar {
  border: none;
}

div#top-bar ul {
  padding: 0em;
  margin: 0em;
  margin-top: 0.5em;
}

div#top-bar ul li {
  
}

div#top-bar div#login ul {
  list-style: none;
  float: right;
  margin-right: 1.5em;
  border-bottom: none; // 1px solid rgb(210, 210, 210);
}

div#top-bar div#login li {
  margin-left: 1em;
  float: left;
}

/*HEADER STYLES*/

div#header {
  background-color: transparent;
  border-bottom: 1px solid rgb(210, 210, 210);
  font-family: "Trebuchet MS", "Lucida Grande", Verdana, sans-serif;
  font-size: 100%;
  height: 2.5em;
  margin: 0em;
  padding: 0em;
  width:100%;
  z-index:200;
}

div#header ul {
  line-height: 2.25em;
  list-style: none;
  margin: 0em;
}

div#header li {
  float:left;
}

div#header a {
  font-weight: bold;
}

/*MENU STYLES*/

div#header div#menu ul {
  font-weight: bold;
  margin: 0em;
  margin-left: 1.25em;
  padding: 0em;
}

div#header div#menu li {
  background-color: transparent;
  border: none;
  padding: 0.2em 1.5em 0px;
  margin-left: 0.5em;
}

div#header div#menu li.selected {
  background-color: white; /* rgb(250, 250, 240); */
  border: 1px solid rgb(210, 210, 210);
  border-bottom: 1px solid white; /* rgb(250, 250, 240); */
  padding-bottom: 0px;
}

div#header div#menu li a {
  text-decoration: none;
  color: rgb(105, 105, 105);
  /*font-weight: normal;*/
}

div#header div#menu li a:hover {
  text-decoration: underline;
}

div#header div#menu li.selected a {
  text-decoration: none;
  color: rgb(64, 128, 64);
  font-weight: bold;
}

/*SUB-MENU STYLES*/

div#header div#sub-menu-container {
  border: none;
  border-bottom: 1px solid rgb(210, 210, 210);
  margin: 0em;
  padding: 0em;
  padding-bottom: 0.35em;
}

div#header div#sub-menu ul {
  font-weight: bold;
  font-size: 105%;
  margin: 0em;
  margin-left: 2em;
  padding: 0.5em 0em;
}

div#header div#sub-menu li {
  background-color: transparent;
  border: none;
  padding: 0.35em 1em;
  margin-left: 0.25em;
  margin-bottom: 0.25em;
}

div#header div#sub-menu li a {
  text-decoration: none;
  color: rgb(105, 105, 105);
  /*font-weight: normal;*/
}

div#header div#sub-menu li.selected a {
  color: rgb(64, 128, 64);
  font-weight: bold;
}

div#header div#sub-menu li a:hover {
  text-decoration: underline;
}

div.separator {
  clear: both;
  height: 0em;
  width: 100%;
  margin: 0em;
  padding: 0em;
}

/*LOGIN STYLES*/

div#header div#login ul {
  float: right;
  margin-right: 1.5em;
}

div#header div#login li {
  margin-left: 1em;
}

/*SEARCH STYLES*/

/*TODO: clean up and make factor stuff for all forms*/

div#barn-search {
  width: 100%;
  text-align: right;
  margin-right: 2em;
  margin: 1em 0em 2em;
  border: 1px solid red;
  border: none;
}

div#barn-search input {
  font-family: "Trebuchet MS", "Lucida Grande", Verdana, sans-serif;
  margin: 0em;
  margin-top: 0em;
  padding: 0.1em;
}

div#barn-search input#query {
  width: 100%;
  margin: 0em;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

div#barn-search input#submit {
  margin-right: 0em;
  padding: 0.5em 1em;
  letter-spacing: +0.05em;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(210, 210, 210);
}

div#barn-search select {
  font-family: "Trebuchet MS", "Lucida Grande", Verdana, sans-serif;
  padding: 0em;
  margin-right: 0.5em;
  letter-spacing: +0.05em;
  font-size: 108%;
}

div#barn-search select option {
  letter-spacing: +0.05em;
  padding: 0em 1em;
}

div#barn-search input.button:hover {
  background-color: rgb(240,240,255);
}

form input {
  border: 1px solid rgb(210, 210, 210);
  color: black;
  font-size: 100%;
  padding: 0.05em;
}

form input.button:hover {
  background-color: rgb(240,240,255);
}

/*FOOTER STYLES*/

div#footer-container {
  clear: both;
  border: none;
  border-top: 1px solid rgb(210, 210, 210);
  margin: 0em;
  margin-top: 2em;
  padding: 2em;
  background-color: rgb(230, 230, 230);
  /*background-image: url("../images/grass.png");*/
  background-repeat: no-repeat;
  background-position: right 95%;
}

div#footer-container a {
  color: inherit;
  font-weight: normal;
}

/*NOTE: these are required for proper footer placement, this is still not right */

html, body {
  height: 100%;
}

div#content {
  min-height: 32em;
}


.right-sep {
  border-right: 1px solid rgb(210, 210, 210);
}
