<%
	container_id = rand_id

	verbs = {
		:list => [],
		:actions => {}
	}
	
    parent_type, parent_id = getParentFromParamType; adminPermissions = false

 	if logged_in?
		if params.include?(:project_id)
		
			project = Project.find(params[:project_id])
			
			if User.current.is_admin? || project.owner == User.current || project.user_has_role?(User.current, 'administrator')
				adminPermissions = true
			end
		else
			# HACK: we want the editors to appear in the sound, something is needed here
			
			adminPermissions = true
			
			#if User.current.is_admin?
			#	adminPermissions = true
			#end
		end

		#@project = Project.find(params[:project_id])
		
   		#@project.user_can_edit?(User.current)
 	end
 	
	options = get_listing_display_options(local_assigns, params)
   
	params[:partial] = 'file_resources/listing'

	editorFunction = nil
		
    if !parent_type.blank? && adminPermissions
		
		verbs[:actions]['remove'] = "/" + parent_type.pluralize + "/#{params[:project_id]}/file_resources?partial=widgets/confirm_delete&container_id=#{container_id}"
		
		verbs[:list] = ['remove']
		
		editorFunction = lambda {
			render 'file_resources/_file_add', :locals => {
				:options => options,
				:container_id => container_id,
				:parent_type => parent_type,
				:parent_id => parent_id,
				:adminPermissions => adminPermissions			
			}
		}
	end
%>

<%#= debug file_resources %>

<%= render :partial => 'widgets/listing', :locals => {
	:objects => file_resources,
	:verbs => verbs,
	:options => options,
	:container_id => container_id,
	:expansion_url => Proc.new {},
	:editorFunction => editorFunction
	}
%>

<script type="text/javascript">

	$(document).ready(function(){
		
	});
</script>