<%
	container_id = rand_id
	
    parent_type, parent_id = getParentFromParamType; adminPermissions = false

 	if logged_in?
		if params.include?(:project_id)
		
			project = Project.find(params[:project_id])
			
			if User.current.is_admin? || project.owner == User.current || project.user_has_role?(User.current, 'administrator')
				adminPermissions = true
			end
		else

			if User.current.is_admin?
				adminPermissions = true
			end
		end

		#@project = Project.find(params[:project_id])
		
   		#@project.user_can_edit?(User.current)
 	end
 	
	options = get_listing_display_options(local_assigns, params)
   
	params[:partial] = 'file_resources/listing'
%>

<!--NOTE: we have tested that file resources are available here!-->

<%#= debug file_resources %>

<%= render :partial => 'widgets/glider', :locals => {
	:objects => file_resources,
	:options => options,
	:container_id => container_id,
	:expansion_url => Proc.new {}
	}
%>
