<div id="file-resources-header" class="section-header">
	<h2>File Resources (<span class='total-count'></span>)</h2><div class="export-links"></div>
</div>

<div id="file-resources-listing" class="section-body">
	Loading ...
</div>

<script>
	$(document).ready(function () {
		url = "/file_resources?partial=file_resources/listing&per_page=10&heading_selector=<%= u '#file-resources-header' %>";

		$("#file-resources-listing").load(url);
	})
</script>