<%

# NOTE: first parameter, then local, then default

if params[:caption].blank?
  caption = true 
else
  caption = params[:caption]
end

# NOTE: we use these to make verbs and messages specific to shareable class

singular = shareable.class.to_s.downcase; plural = singular.pluralize

%>

<!--TODO: replace path function call with proper dynamic call?-->

<table class='listing'>
  
  <% if caption %>
	<caption>
	  
	  <!--NOTE: we are always in the context of a single shareable here-->
	  
	  <div id="verbs">
		<ul class="verbs">
		  <li><%= link_to "Share this #{singular}", new_sound_share_path(shareable) %></li>
		</ul>
	  </div>
	  
	  <div id="search">
		<span style="padding: 0em;">Filter shares</span>
		<% form_tag shares_path(:partial => 'shares/listing'), :method => :get, :id => 'filter-shares', :class => 'filter-form' do %>
		  <%= text_field_tag :query %>
		<% end %>	
	  </div>
	  
	</caption>
  <% end %>
  
  <% if shareable.shared_to.blank? or shareable.shared_to.size == 0 %>
  
	<tr class="<%= cycle('even', 'odd') %>">
	  <td>This <%= singular %> is not currently shared</td>
	</tr>
  
  <% else %>
  
	<tr>
	  <th> Shared with </th>
	  <th> Shared by </th>
	  <th colspan="2"> Created </th>
	</tr>
  
	<% shareable.sharings.each do |sharing| %>
	  <tr class="<%= cycle('even', 'odd') %>">
		<td><b><%= sharing.recipient.login %> </b> &nbsp; (<%= sharing.recipient.email %>)</td>
		<td><%= sharing.user.login %></td>
		<td><%= time_ago_in_words sharing.created_at %> ago</td>
		<td><%= link_to "Unshare",  "/#{plural}/#{shareable.id}/shares/#{sharing.id}", :method => :delete %></td>
	  </tr>
	<% end %>
  
  <% end %>

</table>
