<div class="two-column-left">
  
    <h2>What's the BARN?</h2>
    
    <p>The BARN project develops open-source software tools that support the creation of annotated sound libraries in a way that transforms recording collections into rich and accesible scientific data resources. A typical application is the evaluation of biological diversity through the processing and analysis of long-term environmental recordings.</p>
	
	<p>BARN combines computer-assisted annotation (through detection and classification of relevant recording segments) with web-based collaborative human review to achieve efficient high-quality annotation of large sound collections. Through BARN, users can maintain and extensively and extensibly annotate sound collections in support of their research, with collaboration and data-sharing of results built-in.</p>
    
		<p>Look in <%= link_to 'Sounds', sounds_path(:public => 1) %> to get an idea of what this looks like, or look in <%= link_to 'Projects', projects_path(:public => 1) %> to see some projects currently using BARN.</p>
		
		<!--<p><%#= link_to 'Sign up', '#' %> to annotate your own sound collection.</p>-->
		
    <h2 style="margin-top: 2em">Who's behind the BARN?</h2>
    
    <p>The BARN project emerged at the Bioacoustics Research Program of the Cornell Lab of Ornithology to support our ever growing sound annotation and collaboration efforts.</p>
		
		<p>BARN was created by Harold Figueroa as part of the <a href="http://xbat.org">XBAT</a> project while addressing the scaling and networkability of XBAT annotation tools.</p>
    
  </div>
  
  <div class="two-column-right">
  
    <h2>What's in the BARN?</h2>
    
    <ul class="define">
			<li><h3>barn.xbat.org</h3>
			As part of the BARN project we host our server and web application as a service to the bioacoustics research community. You can sign up for an account to start annotating your sounds, collaborating, and sharing your work.
			</li>
      <li><h3>BARN API</h3>
        <p>The BARN architecture offers simple programmatic access to BARN data through a REST application programming interface (API). For example, the request <code class="display"> http://barn.xbat.org/sounds.xml</code> will respond with an XML representation of the list of available sound resources. Similarly, other addresses will respond with representations of a variety of BARN sound annotation resources. Using this approach users and developers can create simple scripts and full applications that read and write BARN data.</p>
        
        <p>Look in the <%= link_to 'API', '/docs' %> section to learn about this interface through a tutorial and reference, or experiment with the API in the console application.</p>
      </li>
      <li><h3>BARN server and clients</h3>
        <p>The BARN project provides server and client reference implementations documenting and supporting the database schemas and BARN API.</p>
				<p>Learn more about these and access the code through the <a href="/developer">Developer</a> section.</p>
      </li>
    </ul>
    
  </div>

