<p>
  <b>Title:</b>
  <%=h @page.title %>
</p>

<p>
  <b>Permalink:</b>
  <%=h @page.permalink %>
</p>

<p>
  <b>Body:</b>
  <%=h @page.body %>
</p>

<p>
  <b>Created at:</b>
  <%=h @page.created_at %>
</p>

<p>
  <b>Modified at:</b>
  <%=h @page.modified_at %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
