
<div class="two-column-left">
  
  <h2>Console</h2>
  
  <p>Experiment with the BARN API by typing resource locations and seeing the raw server responses.</p>
  
  <% form_tag url_for(:action => 'index', :controller => 'home'), :id => 'api-console' do %>
  
	<div id="console">
		<table>
		  <tr id="request">
			<td class="head">Request:</td>
			<td>
			  <%= text_field_tag 'request', nil, :id => 'request-path' %>
			</td>
		  </tr>
		  <tr style="display: none;" id="status">
			<td class="head">Status:</td>
			<td>
	
			</td>
		  </tr>
		  <tr id="response">
			<td class="head">Response:</td>
			<td>
			  <%= text_area_tag 'response', nil, :id => 'response-text', :size => '72x18', :spellcheck => 'false', :autocomplete => 'off' %>
			</td>
		  </tr>
		</table>
	</div>
	
  <% end %>

</div>

<div class="two-column-right">
  
  <h2>Getting started with the Console</h2>
  
  <p>Successful API requests result in two types of responses, a single resource or a collection of resources. Requests with singular responses are typically more specific and require more information to make. The most common element of specific requests is the unique database identifier of a resource.</p>
  
  <p>To play with the console start by requesting collections, directly or through search, make note of identifiers and gradually make more specific requests. For example the following sequence of requests would make sense.</p>

<ol>
  <li><code class="display">/sounds.xml</code></li>
  <li><code class="display">/sounds/1/logs.xml</code></li>
  <li><code class="display">/logs/1/events.xml</code></li>
</ol>

</div>

<script>

$(document).ready( function () {
  
	$('#api-console').submit( function () {
	
		var array  = $('#request-path').val().split('.');
		
		var format = array[array.length - 1];
		
		$.get($('#request-path').val(), null, function(data,status) {
			
			// NOTE: we make the json nice to read, we parse and reserialize, a tad wasteful but looks nice
			
			if (format == "js")
				data = JSON.stringify($.parseJSON(data), null, 2);
			
			$('#response-text').val(data)
			
		}, 'text');
		
		return false;   
	});
})

</script>