<%
	@container_id = params[:container_id]
	@resources = controller.instance_variable_get("@#{params[:controller]}")
	@resources.map!{|r| r.id}

	#note, @controller is already being used, and will blow things up if modified.
    #TODO check other dialog widgets for this issue.
	@controller_p = params[:controller]
    @verb = params[:verb]   
%>

<% if @verb == 'watch' -%>
	<p>Are you sure you want to watch these projects?</p>
<% else -%>
	<p>Are you sure you want to stop watching these projects?</p>	
<% end -%>

<form action="/<%= @controller_p %>/{<%= @resources.join(",") %>}" method="post" id='confirm-watch-form'>
	<div class="form-submit">
		<input type="hidden" name="verb" value="<%= @verb %>">
		<%= submit_tag params[:verb], :id => 'submit' %> &nbsp; <input type="button" id="cancel" onclick="closeDialog('#verb-form');" value="Cancel">
	</div>
</form>

<script>
	$('#confirm-watch-form').submit(function() {

		var form = $(this);

		// submit the form
		$(this).ajaxSubmit({
			url: $(this).attr("action") + ".js", // this should be specifiable with dataType, but its not working

			error: function (response) {
				close_dialog(form.parent());
				var text = "Sorry, an error has occurred: HTTP " + response.status + " :: " + response.responseText;

				if(response.status == 403){
					text = "You cannot <%= @verb %> the selected <%= @controller_p %>" ;
				}

				flash_error(text);
			},

			success: function(responseText){
				// on success, close the dialog, show a message, and refresh the container

				refresh_container('<%= @container_id %>');
				close_dialog(form.parent());
				flash_notice("Items have been selected to <%= @verb %>.");
			}
		});

		// return false to prevent normal browser submit and page navigation
		return false;
});
</script>