
            <!--GRID TAG CONTROLS -->

            <% tag_tab_mode = nil %>

            <%  ##### confirm                                                               -%>

			<% filter_tag = params[:query].blank? ? [] : get_filter_tags( params[:query] )

            confirm_state = 'disabled'
            confirm_link = 'Confirm'

            if filter_tag.count == 1
                params_confirm = params.dup;
                params_confirm = params_confirm.merge({:confirm => :all});
                #params_confirm.delete(:tag_set);
                confirm_state = ''
                confirm_link = link_to(['Confirm:&nbsp;&nbsp;', filter_tag], params_confirm)

				if !params[:confirm].blank?
                    params_no_confirm = params.dup;
                    params_no_confirm.delete(:confirm);
                    confirm_state = 'active'
                    confirm_link = link_to(['Confirm:&nbsp;&nbsp;', filter_tag], params_no_confirm)
                    tag_tab_mode = :confirm
                end
            end -%>

            <%  ##### tag_set                                                             -%>

            <% tag_state = ''
               tag_set = 'default'
               set_name = ''
               tag_link = 'Tag Set'

               if !@metadata['tag_set'].nil?
                params_tag_link = params.dup; params_tag_link.delete(:confirm)
                set_name = @metadata['tag_set'][:name]

                if !params['tag_set'].blank?
                    set_id = params['tag_set']
                    if params['confirm'].blank? then params_tag_link.delete(:tag_set) end
                    tag_link = link_to(['Tag Set:&nbsp;&nbsp;', set_name], params_tag_link )
                end

               end

               if !(confirm_state == 'active')
                if !params[:tag_set].blank?
                    tag_state = 'active'
                    tag_tab_mode = :tag_set
                end
            end -%>


            <span class="confirm tag_control toggle <%= confirm_state %>" title='report'>
                <%= confirm_link %>
            </span>


            <% if set_name != '' %>
            <span class='tag_set confirm tag_control toggle <%= tag_state %>' title='report'>
              <div>
				<div style="float: left;"><%= tag_link %></div>
                <div class="drop_bttn"></div>
              </div>
              <div class="drop_panel">
                <% if !@metadata['tag_set'].nil?
                     if !@metadata['tag_set'][:all].nil? %>
                        <ul>
                        <%  @metadata['tag_set'][:all].each{ |t|   %>
                        <li class="<%= t.id.to_s == params['tag_set'] ? 'selected' : '' %>"><%=    link_to(t.name, params_tag_link.merge({:tag_set => t.id}))  %></li>
                     <% } %>
                        </ul>
                    <% end
                   end
                %>
              </div>
			</span>
            <% end %>


			<% if tag_tab_mode == :confirm %>

                <div class='confirm tag_control pane'>
                    <span class='confirm-tag' style='display:none'><%= params[:query] %> </span>
                    <span class='confirm-mode' style='display:none'><%= params[:confirm] %> </span>

                    <%#= debug @metadata %>

                    <div class='content'>
                        <!--<span class='notice'>Not implemented yet. Coming soon!</span>-->

                        <ul class='report'>
                            <li class='all <%= params[:confirm] == 'all' ? ' selected' : '' %>'><%= link_to("Events tagged as &nbsp;&nbsp;<span> #{filter_tag} &nbsp;:</span>", params.merge({:confirm => 'all'})) %></li>

                            <li class='unconfirmed <%= params[:confirm] == 'unconfirmed' ? ' selected' : '' %>'><%= link_to("<span class='label'>to confirm</span><span>#{@metadata[:unconfirmed]}</span>", params.merge({:confirm => 'unconfirmed'})) %></li>

                            <li class='accepted <%= params[:confirm] == 'accepted' ? ' selected' : '' %>'><%= link_to("<span class='label'>accepted</span><span>#{@metadata[:accepted]}</span>", params.merge({:confirm => 'accepted'})) %></li>

                            <li class='rejected <%= params[:confirm] == 'rejected' ? ' selected' : '' %>'><%= link_to("<span class='label'>rejected</span><span>#{@metadata[:rejected]}</span>", params.merge({:confirm => 'rejected'})) %></li>
                        </ul>

                        <ul class='action'>
                            <li class='accept'><span>Accept</span><span class='label'>page</span></li>
                            <li class='reject'><span>Reject</span><span class='label'>page</span></li>
                        </ul>
                    </div>

                </div>

            <% elsif tag_tab_mode == :tag_set %>
                <div class='tag_set tag_control pane'>
                    <ul class='tag_set'>
                      <% i = 0;
                         @metadata['tag_set'][:tags].each{ |t|
                         i = i + 1;  if i > 9 then i = 1 end -%>
                        <li class='tag tag_set_color_<%= i %>' title='tag_set_color_<%= i %>'><%= t %></li>
                      <% } -%>
                    </ul>
                </div>
			<% end %>
