<%
	event = resource;
  
	tip_location ||= "default";

    tip_title = @title_prefix + ' #' + "#{event.id}"
    
	# TODO: the speed should come in as a parameter, but probably not here, look at the SM2 code
	
	if params[:speed].blank?
		speed = ''
	else
		speed = "_#{params[:speed]}";
	end	
%>

<!--TODO: set callback for checkbox to select clip-->

<li id='event-<%= event.id %>' class='load-local-tip element' rel='<%= tip_location %>' title='<%= tip_title %>'>

	<div class='clip-bdry'>

		<div class='clipctr'>
			
			<a class='sm2_link' href='<%= files_root_url(event, "clip#{speed}.mp3") %>'>
				<img class='render-clip-canvas' src='<%= files_root_url(event, 'thumb.256.gray-light.png') %>'/>
			</a>
 		</div>

		<div class='sidebar'>

			<div class='sidecontents'>
				<input type="checkbox" value="1" id="select-events-<%= event.id %>" class="render-select-clip selection-checkbox">
				
				<% if params[:review_mode] == 'Show' && !user.nil? -%>
					<div class='review_panel'>
						<%= render :partial => 'events/event_review', :locals => { :event => event, :user => user } %>
					</div>
				<% end -%>
			</div>
		</div>

		<div style='clear:both'></div>

 	</div>
    
	<% if params[:confirm].blank? %>
		<% if !params[:tag_set].blank?%>
		
			<% tags = event.list_for_tagset( params[:tag_set] ) %>
					
			<% if tags.length > 0 %>
				<div class='tags-for-clip' id='<%= "tags-event-#{event.id}"%>'>
					<%= tags %>
				</div>
			<% end %>
		<% end %>
		
		<div class='clip-info'>
			
			<% if !event.score.nil? %>
				<div class='score'><%= '%.2f' % (event.score * 100) + '%' %></div>
			<% end %>
			
			<!--TODO: we want to have a better display of the date_time-->

			<% if event.date_time.nil? %>
				<div class='date-timex'><%= sec_to_clock(event.start) %></div>
			<% else %>
				<div class='date-timex'><%= event.date_time.to_s[0..-5] %></div>
			<% end %>
		</div>
	<% else %>
		
		<div class='confirm-clip' id='<%= "confirm-event-#{event.id}"%>'>
			<ul>
				<li class='accept'>Accept</li>
				
				<li class='reject'>Reject</li>
				
				<!--<li class='flag'>Flag</li>-->
			</ul>
		</div>
	<% end %>

 </li>