<%
  con = params[:controller]
%>

<li <%= menu_model[:sel] if menu_model[:act] == 'intro'%>><%= link_to "Intro", "/home/intro" %></li>

<li <%= menu_model[:sel] if con == 'sounds'%>><%= link_to "Sounds", sounds_path(:public => 1) %></li>

<li <%= menu_model[:sel] if con == 'projects'%>><%= link_to "Projects", projects_path(:public => 1) %></li>

