<% if menu_model[:logged_in?] -%>

<!--<li <%= menu_model[:sel] if menu_model[:con] == 'overview'%>><%= link_to "Overview", "/user/overview" %></li>-->

<!--DATA OR METADATA TABS-->

<li <%= menu_model[:sel] if menu_model[:con] == 'sounds'%>><%= link_to "Sounds", sounds_path %></li>

<li <%= menu_model[:sel] if menu_model[:con] == 'logs'%>><%= link_to "Logs", logs_path %></li>

<li <%= menu_model[:sel] if menu_model[:con] == 'events'%>><%= link_to "Events", events_path %></li>

<li <%= menu_model[:sel] if menu_model[:con] == 'recordings'%>><%= link_to "Recordings", recordings_path %></li>

<!--MANAGEMENT TABS-->

<li <%= menu_model[:sel] if menu_model[:con] == 'tag_sets'%>><%= link_to "Tag-sets", tag_sets_path %></li>

<li <%= menu_model[:sel] if menu_model[:con] == 'jobs'%>><%= link_to "Jobs", jobs_path %></li>

<% end %>