<p>Add a Tag to the selected <%= params[:controller] %>.</p>

<form action="/<%= params[:controller] %>/<%= params[:id] %>" method="post" id='new-tag-form'>

	<div class="form-submit" id="#tag_dialog">
		<p>
			<label>Tag</label> <br/>
			
			<%= text_field params[:controller].singularize, "tag_add", :class => "tag_dialog_input" %><br/>
		</p>
		<p>
            <select id="tag_action">
              <option value="<%= params[:controller].singularize + '[tag_add]' %>" selected >add</option>
              <option value="<%= params[:controller].singularize + '[tag_remove]' %>">remove</option>
            </select>
        </p>
        <p>
            <input type="button" id="ok" value="OK">
		    <input type="button" id="cancel" value="Cancel">
		</p>
	</div>
</form>

<script> bind_tag_form(); </script>