<%
=begin
	Let's set up some page variables
=end

	@container_id = params[:container]
	@resources = controller.instance_variable_get("@#{params[:controller]}")
	user = User.current
	# The IDs coming from the params are resource specific IDs, 
	# so they must be removed from params hash to maintain the other conditions for finding a project
	resource_ids  = params.delete(:id)
	resource_name = params[:controller]
	
	@projects = Project.find_by_user(:user => user, :params => params)

-%>

<!-- 
	This form action is filled in with JavaScript, since it is not known which project has been selected before submit 
	Another way to do this would be to have JS update the action on dropdown change, but it is possible
	that this form element is replaced by a multiselect in the future.
-->





<form action="#" method="post" id='add-to-project-form'>
	<input type="hidden" name="_method" value="put">	
	<% 	@resources.map{|r| r.id}.each do |i| -%>	
		<input type="hidden" name="add_<%= resource_name %>[]" value="<%= i %>">
	<% end -%>
	
	<p> Add these <%= params[:controller] %> to: </p>
	
	<select name="project_id">
		<% @projects.each do |project| -%>
			<option value="<%= project.id %>"><%= project.name %></option>
		<% end -%>
	</select>
	
	<br/>	
	<br/>
	<div class="form-submit">
		<%= submit_tag 'Add', :id => 'submit' %> &nbsp; <input type="button" id="cancel" onclick="closeDialog('#verb-form');" value="Cancel">
	</div>
</form>

<!--
	Form scripts
-->

<script>
	
	// AJAX form submission
	
	$('#add-to-project-form').submit(function() {
		var form = $(this);
		var project_id = $("#add-to-project-form > select[name='project_id'] option:selected");

		if (project_id.size() > 0){
			project_id = project_id[0].value;	
		}
		else{
			close_dialog(form.parent());
			flash("error", "Sorry, there are no projects to add this."); 
		}
	
		$(this).ajaxSubmit({
			url: "/projects/" + project_id + ".js", // this should be specifiable with dataType, but its not working
			success: function(responseText){
				try{ 
					close_dialog(form.parent());
					flash("notice", "Added to the project"); 
				}
				catch(e){ console.log(e) }
			}
		});
		
		return false; 
	});	
	
</script>
