<%
if (taggable.blank?)
  taggable_type = '{TAGGABLE_TYPE}';

  taggable_id = '{TAGGABLE_ID}';

  tag_list = '{TAG_LIST}';

  prefix = taggable_type + '-' + taggable_id;
else
#  prefix = taggable.class.to_s.downcase + '-' + taggable.id.to_s;
  prefix = taggable.class.table_name + '-' + taggable.id.to_s;

  tag_list = taggable.tag_list
end
%>

<div class="render-editable-tags tags" id="<%= prefix %>-tags">
  <%= tag_list %>
</div>

<div style="display: none;" id="<%= prefix %>-tags-hidden">
  <%= tag_list %>
</div>