.tag_set_color_1 {
  background-color: #e99595;
  border: 1px solid #e16b6b; }

.tag_set_color_2 {
  background-color: #e9cd95;
  border: 1px solid #e1b96b; }

.tag_set_color_3 {
  background-color: #cde995;
  border: 1px solid #b9e16b; }

.tag_set_color_4 {
  background-color: #95e995;
  border: 1px solid #6be16b; }

.tag_set_color_5 {
  background-color: #95e9cd;
  border: 1px solid #6be1b9; }

.tag_set_color_6 {
  background-color: #95cde9;
  border: 1px solid #6bb9e1; }

.tag_set_color_7 {
  background-color: #9595e9;
  border: 1px solid #6b6be1; }

.tag_set_color_8 {
  background-color: #cd95e9;
  border: 1px solid #b96be1; }

.tag_set_color_9 {
  background-color: #e995cd;
  border: 1px solid #e16bb9; }

.tags-for-clip {
  clear: both;
  padding-top: 0.25em;
  margin-left: -3px; }

.tags-for-clip div {
  display: inline;
  font-size: 12px;
  font-family: "Comic Sans MS", monospace;
  margin: 0 0.5em;
  padding: 4px 10px 6px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
