/*HEADER CONTAINER STYLES*/

div#header-container {
  background-color: rgb(230, 230, 230);
  background-repeat: no-repeat;
  background-position: bottom left;
  margin: 0em;
  margin-bottom: -2em;
  padding: 0em;
}

/*TOP BAR STYLES*/

div#top-bar {
  border: none;
  background-color: rgb(210, 210, 210);
  font-family: Futura, "Lucida Grande", "Segoe UI", "Trebuchet MS", Verdana, sans-serif;
}

div#top-bar ul {
  padding: 0em;
  margin: 0em;
  margin-bottom: 0.25em;
}

div#top-bar ul li a{
  text-decoration: none;
}

div#top-bar div#login ul {
  list-style: none;
  float: right;
  margin-right: 1.5em;
  border-bottom: none;
  font-weight: bold;
}

div#top-bar div#login li {
  margin-left: 1em;
  float: left;
}

div#top-bar div#meta-nav ul {
  list-style: none;
  float: left;
  margin-right: 1.5em;
  padding-left: 0.5em;
  border-bottom: none;
}

div#top-bar div#meta-nav li {
  margin-left: 1em;
  float: left;
}

/*BANNER STYLES*/

div#banner {
  clear: both;
  border: none;
  padding-top: -0.5em;
  padding-bottom: 0em;
  border-top: 1px solid rgb(210, 210, 210);
}

/*HEADER STYLES*/

div#header {
  background-color: #E6E6E6;
  border-bottom: 1px solid rgb(210, 210, 210);
  font-family: Futura, "Lucida Grande", "Segoe UI", "Trebuchet MS", Verdana, sans-serif;
  font-size: 110%;
  height: 2.5em;
  margin: 0em;
  padding: 0em;
  width:100%;
  z-index:200;
  -moz-box-shadow: inset 0 -10px 20px rgb(210,210,210);
  -webkit-box-shadow: inset 0 -10px 20px rgb(210,210,210);
}

div#header ul {
  line-height: 2.25em;
  list-style: none;
  margin: 0em;
}

div#header li {
  float:left;
}

div#header a {
  font-weight: bold;
}

/*MENU STYLES*/

div#header div#menu ul {
  font-weight: bold;
  margin: 0em;
  margin-left: 1.25em;
  padding: 0em;
}

div#header div#menu li {
  background-color: transparent;
  border: none;
  padding: 0.2em 1.5em 0px;
  margin-left: 0.15em;
}

div#header div#menu li.selected {
  background-color: white; /* rgb(250, 250, 240); */
  border: 1px solid rgb(210, 210, 210);
  border-bottom: 2px solid white; /* rgb(250, 250, 240); */
  padding-bottom: 0px;
}

div#header div#menu li a {
  text-decoration: none;
  color: rgb(105, 105, 105);
  /*font-weight: normal;*/
}

div#header div#menu li a:hover {
  text-decoration: underline;
}

div#header div#menu li.selected a {
  text-decoration: none;
  color: rgb(64, 128, 64);
  font-weight: bold;
}

div#header div#menu li.menu-label {
  padding-right: 0.75em;
  color: darkred;
}

/*SUB-MENU STYLES*/

div#sub-menu {
  margin-top: 0.75em;
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(210, 210, 210);
}

div#sub-menu ul {
  font-weight: bold;
  line-height: 2.25em;
  list-style: none;
  margin: 0em;
  margin-left: 1.25em;
  padding: 0em;
}

div#sub-menu li {
  display: inline;
  background-color: transparent;
  border: none;
  padding: 0.2em .5em 0px 1.5em;
  margin-left: 0.5em;
}

div#sub-menu li a {
  text-decoration: none;
  color: rgb(105, 105, 105);
  /*font-weight: normal;*/
}

div#sub-menu li.selected a {
  color: rgb(64, 128, 64);
  font-weight: bold;
}

div#sub-menu li a:hover {
  text-decoration: underline;
}

div.separator {
  clear: both;
  height: 0em;
  width: 100%;
  margin: 0em;
  padding: 0em;
}

/*LOGIN STYLES*/

div#header div#login ul {
  float: right;
  margin-right: 1.5em;
}

div#header div#login li {
  margin-left: 1em;
}

/*SEARCH STYLES*/

/*TODO: clean up and make factor stuff for all forms*/

div#barn-search {
  width: 100%;
  text-align: right;
  margin-right: 2em;
  margin: 1em 0em 2em;
  border: 1px solid red;
  border: none;
}

div#barn-search input {
  font-family: "Segoe UI", "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  margin: 0em;
  margin-top: 0em;
  padding: 0.1em;
}

div#barn-search input#query {
  width: 100%;
  margin: 0em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding: 0.25em;
  font-size: 150%;
}

/*CLEAN UP*/

div#barn-search input#submit {
  margin-right: 0em;
  margin-top: -0.4em;
  padding: 0.4em 2em 0.5em;
  letter-spacing: +0.05em;
  font-weight: bold;
  font-size: 125%;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(210, 210, 210);
  margin-bottom: -1.5em;
  visibility: hidden;
  margin-right: 0;
  margin-top: -0.4em;
  padding: 0.5em 1.5em 0.75em
}

div#barn-search select {
  font-family: "Segoe UI", "Trebuchet MS", "Lucida Grande", Verdana, sans-serif;
  padding: 0em;
  margin-right: 0.5em;
  letter-spacing: +0.05em;
  font-size: 108%;
}

div#barn-search select option {
  letter-spacing: +0.05em;
  padding: 0em 1em;
}

div#barn-search input.button:hover {
  background-color: rgb(240,240,255);
}

form input {
  border: 1px solid rgb(210, 210, 210);
  color: black;
  font-size: 100%;
  padding: 0.05em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

form input.button:hover {
  background-color: rgb(240,240,255);
}

/*FOOTER STYLES*/

div#footer-container {
  clear: both;
  border: none;
  border-top: 1px solid rgb(210, 210, 210);
  margin: 0em;
  margin-top: 2em;
  padding: 3em 2em;
  text-align: left;
  background-color: rgb(230, 230, 230);
  /*background-image: url("../images/grass.png");*/
  background-repeat: no-repeat;
  background-position: right 95%;
  -moz-box-shadow: inset 0 10px 20px rgb(210,210,210);
  -webkit-box-shadow: inset 0 10px 20px rgb(210,210,210);
}

div#footer-container a {
  color: inherit;
  font-weight: normal;
}


#footer-container .license {
  /*font-weight: bold;*/
  font-size: 120%
}

#footer-container ul.svn-info {
  font-size: 110%;
  color: rgb(64,64,64);
  list-style: none;
  padding: 0;
  padding-top: 0.6em;
  margin-left: -0.25em;
  border: none;
  border-top: 1px solid rgb(64,64,64);
}

/*NOTE: these are required for proper footer placement, this is still not right */

html, body {
  height: 100%;
}

div#content {
  min-height: 32em;
}


.right-sep {
  border-right: 1px solid rgb(210, 210, 210);
}


div#banner h1 {
  font-size: 475%;
  color: rgb(160, 48, 48);
  font-family: Futura, "Segoe UI", "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  margin-bottom: 0;
  margin-top: -0.7em;
  padding-bottom: 0;
  padding-left: 0.05em;
  text-shadow: 0em 0.1em 0.2em rgb(128, 128, 128), -1px 0 1px rgb(80, 24, 24), 0 1px 1px rgb(80, 24, 24), 1px 0 1px rgb(80, 24, 24), 0 -1px 1px rgb(80, 24, 24);
  text-shadow: 0em 0.1em 0.2em rgb(128, 128, 128), -1px 0 rgb(80, 24, 24), 0 1px rgb(80, 24, 24), 1px 0 rgb(80, 24, 24), 0 -1px rgb(80, 24, 24);

}

div#banner h1 span#xbat-uri {
  font-size: 90%;
  opacity: 0.5;
  padding-left: 0.1em;
  color: rgb(128, 128, 128);
  /*text-shadow: 0.1em 0.1em 0.2em rgb(128, 128, 128);*/
  text-shadow: none;
  text-shadow: -1px 0 1px rgb(64, 64, 64), 0 1px 1px rgb(64, 64, 64), 1px 0 1px rgb(64, 64, 64), 0 -1px 1px rgb(64, 64, 64);
}

div#banner h1 span#release-level {
  vertical-align: super;
  font-size: 29%;
  padding-left: 0.5em;
  color: rgb(180,180,180);
  text-shadow: none;
}