body, table, td {
	padding:0px;
	margin:0px;
	padding-top:0px;
	font-size:87%;

}

h1, h2, h3, h4, h5, h6 {
	font-family:"Lucinda Grande",Arial,sans-serif;
	padding-top:0px;
	margin-top:0px;
}

/* LISTING */
table.listing{
	border-collapse:collapse;

}

th{
	text-align:left;
	padding-left:5px;
	padding-right:5px;
}

table.listing td{
	border-collapse:collapse;
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	padding-bottom:3px;
}

table.listing td.last{
	padding-right:20px;
}

table.listing td.action{
	width:30px;
	font-size:85%;
}

tr.even {
	background-color:#EEE;
}

tr .odd {
	background-color:#EFEFEF;
}

/* CONTENT */

#content{
	margin:0px;
	padding:20px;
	padding-right:0px;
	padding-top:0px;
	
}

/* HEADER */
#eventheader {
	background:#FCFCFC url(/images/header_bg.png) repeat-x scroll 0 0px;
	text-align:left;
	margin:0px;
	padding:20px;
	padding-right:0px;
}

#eventheader h1{
	padding:0px;
	margin:0px;
	width:600px;
	
	margin-bottom:10px;
}

#eventheader ul, #eventheader li {
	display: inline;
	padding:0px;
	margin:0;
	font-family:georgia;
	font-size:95%;
}

#eventheader div#logo{
	font-size:115%;
	color:black;
	float:left;
	margin-right:10px;
}

#eventheader div#server_stats{
	font-size:50%;
	color:#444;
	float:left;
	margin-right:10px;
}

#eventheader div#barn_stats{
	font-size:50%;
	color:#444;
	float:left;
}


#eventheader li {
	margin-right:10px;
}

#footer{
    clear:both;
}

#footer ul{
	font-size:100%;

	background:#FCFCFC url(/images/header_bg.png) repeat-x scroll 0 0;
	margin:0;
	padding-left:20px;
	text-align:left;
	width:100%;
}

#footer ul, #footer li {
	display: inline;
}

#footer li {
	margin-right:10px;
}

.rater
{
	float:left;
	cursor: pointer;
	width:96px;
	z-index:6;
}
