<h1>This is your Silo</h1>
<% ip_changed = (@local_ip != @config['silo']['local_ip']) %>
<% has_guid = !(@config['silo']['guid'].nil? || @config['silo']['guid'].empty?) %>

<% if ip_changed %>
	<p style="color:red">
		Your local IP address seems to have changed! <br />
		Your config says <b style="color:black;"><%= @config['silo']['local_ip']%></b>, <br />
		but it is probably <b style="color:black;"><%= @local_ip %></b>
		<br />
		Though this might not affect communications, you should probably re-register with the BARN.
	</p>
<% else %>
	<p>	
		<% if has_guid %>
			This Silo believes it is registered.<br />
			You can <a href='/register'>re-register</a> if your config has changed.
		<% end %>
	</p>
<% end %>

<% if ip_changed || !has_guid %>
	<p>
		<b>Register with <%= @config['scout']['host']%></b>
	</p>
	<form method="POST" action="/register">
		<input type="submit" value="Register with BARN">
	</form>
<% end %>

<br />

<h2>This is your Silo's configuration</h2>

<table>
	<% @config['silo'].each do |key, value| %>
	<tr>
		<td>
			<b><%= key %></b>
		</td>
		<td>
			<%= value %>
		</td>
	</tr>
	<% end %>
</table>

<h2>This is your host BARN's configuration</h2>

<form method="POST" action="/configure">
	<table>
		<tr>
			<td>server</td>
			<td>
				<input type="text" name="server" value="<%= @config['scout']['host'] %>"> <%= @config['scout']['host'] %>
			</td>
		</tr>
		<tr>
			<td>port</td>
			<td>
				<input type="text" name="port" value="<%= @config['scout']['port'] %>"> <%= @config['scout']['port'] %>
			</td>
		</tr>
		<tr>
			<td> username</td>
			<td>
				<input type="text" name="user" value="<%= @config['scout']['user'] %>"> <%= @config['scout']['user'] %>
			</td>
		</tr>
		<tr>
			<td>password</td>
			<td>
				<input type="text" name="password" value="<%= @config['scout']['password'] %>"> <%= @config['scout']['password'] %>
			</td>
		</tr>
		<tr>
			<td>resolution</td>
			<td>
				<input type="text" name="resolution" value="<%= @config['scout']['resolution'] %>"> <%= @config['scout']['resolution'] %>
			</td>
		</tr>
	</table>
	<input type="submit" value="Save">
</form>
	
</p>
