<h2>Pages</h2>

<table  class='listing'>
  <tr>
    <th>Title</th>
    <th>Permalink</th>
    <th>Created at</th>
    <th>Modified at</th>
  </tr>

<% for page in @pages %>
  <tr>
    <td><%=h page.title %></td>
    <td><%=h page.permalink %></td>
    <td><%=h page.created_at %></td>
    <td><%=h page.modified_at %></td>
    <td><%= link_to 'Show', page_path(page.permalink) %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New page', new_page_path %>
