<%
	container_id = rand_id
	
	options = get_listing_display_options(local_assigns, params)
	
	# TODO: the above function needs work, the default value for heading is 0
	
    options[:selection] = 1

	params[:partial] = 'jobs/listing'
%>

<%= render :partial => 'widgets/listing', :locals => {
	:objects => @jobs,
	:verbs => {:list=>[]},
	:options => options,
	:expansion_url => Proc.new {|job|
		if job.children.empty?
			nil
		else
			jobs_path(:partial => 'jobs/listing', :parent => job.id)
		end
	}
}%>