<div id="jobs-header" class="section-header">
	<h2>Jobs (<span class='total-count'></span>)</h2><div class="export-links"></div>
</div>

<!--TODO: we could produce 'group-by' sets of (tabbed or stacked) listings with not too much work-->

<!--NOTE: for example multiple event listings for a set of tags, jobs by project or user-->

<div id="jobs-listing" class="section-body">
	Loading ...
</div>

<!--NOTE: this will be hidden when we are done here-->

<div id="jobs-listing-update" style="display: none; border: 2px solid red; padding: 2em; margin-top: 3em">
	
</div>

<script type="text/javascript">

	//---------------------------
	
	// FACTOR THESE!
	
	
	// GET_LISTING_ROW - by type and id in context
	
	// NOTE: may also get all rows in context if no 'id' id provided
	
	function get_listing_row(type, id, context) {
		
		// NOTE: the listing convention means that each object row (tr) has a 'type-id' id
		
		var pat;
		
		if (id.length) {
			pat = type + '-' + id;
		} else {
			pat = type; 
		}
				
		var selector = 'table.listing tr[id|="' + pat + '"]';
		
		var row;
		
		if (context) {
			row = $(selector, context);
		} else {
			row = $(selector);
		}
		
		return row;
	}
	
	
	// GET_LISTING_ROWS - all rows of a type in a context
	
	// NOTE: calls 'get_listing_row' without an 'id'
	
	function get_listing_rows(type, context) {
		
		return get_listing_row(type, [], context);	
	}
	
	
	// GET_LISTING_IDS - from listing rows in context
	
	function get_listing_ids(type, context) {
		
		var rows = get_listing_rows(type, context);
		
		var ids = rows.map( function () {
			return this.id.substring(type.length + 1)
		}).get();
		
		return ids;
	}
	
	
	// UPDATE_ROWS - from source to destination using the listing 'id' convention
	
	function update_rows(type, source, destination) {
				
		//--
		// setup
		//--
		
		var id; var child_id;
		
		var pat1 = /id_\d*\b/; var pat2 = /child_id_\d*\b/;
		
		var toggle;
		
		//--
		// get destination rows and update if needed
		//--
		
		var rows = get_listing_rows(type, destination);
		
		rows.each( function () {
			
			// NOTE: we retrieve the possibly updated row from the source listing by id
			
			id = this.id.substring(type.length + 1);
						
			updated = get_listing_row(type, id, source);
						
			if (updated.length) {
				
				// CHILD LINK UPDATE
				
				// NOTE: to link the "child" content row to the updated parent we update a class
				
				child = $(this).next(); child_id = $(child).attr('class').match(pat1);
				
				// REF: http://stackoverflow.com/questions/57812/jquery-remove-all-classes-that-begin-with-a-certain-string
				
				$(updated)[0].className = $(updated)[0].className.replace(pat2, '');
				
				$(updated).addClass('child_' + child_id[0]);
				
				// NOTE: this should not be required and reflects a violation of DRY!
				
				$('span.targets', updated).html(child_id[0]);
				
				// STATE UPDATE
				
				if ($(this).hasClass('cursor')) {
					$(updated).addClass('cursor');
				}
								
				toggle = get_toggle(this);
				
				if (toggle && toggle.state == 'open') {
					set_toggle(updated, 'open');
				}
				
				// UPDATE
								
				// NOTE: finally we replace the source row with the updated row
				
				$(this).replaceWith(updated);
			}
		});
	}
	
	//---------------------------
	
	// NOTE: these make use of the experimental tools above
	
	function get_displayed_jobs() {
				
		return get_listing_ids('jobs', '#jobs-listing');
	}
	
	function update_displayed_jobs() {
		
		update_rows('jobs', '#jobs-listing-update', '#jobs-listing');
	}
	
	//---------------------------
	
	
    function update_jobs() {
				
		var jobs = get_displayed_jobs();
		
		if (!jobs.length) { // NOTE: sending an empty set of identifiers causes an error
			return;
		}
		
		var url = '/jobs/{' + get_displayed_jobs().join(',') + '}?partial=jobs/listing&parent=any';
						
		$("#jobs-listing-update").load(url);
		
		update_displayed_jobs();				
    }

	$(document).ready( function () {
		
		var path  = $.url.setUrl(this.href).attr("path");

		var url = path + "?partial=jobs/listing&per_page=10&heading_selector=<%= u '#jobs-header' %>";
           
        $("#jobs-listing").load(url, update_jobs);
		
        // update_jobs();

        setInterval( function(){ update_jobs(); }, 30000);
	});

</script>