_____________

Your username is <%= @login %>. 
Your new password is <%= @pass %>.

Please login and change it to something more memorable.

Be aware that this also changes your FTP password.
-------------