<div class="page-header section-header">	
	<h2><%= @recording.name %></h2>

	<div class='export-links'><%= export_links(params) -%></div>
</div>

<div style="clear:both;"></div>

<div style='height:1em'></div>

<div id="associated-listing" class="section-body">
	Loading ...
</div>

<script>
	$(document).ready(function($) {
				
		var url = "<%= recording_path(@recording, :partial => 'recordings/associated') %>";
			
		$("#associated-listing").load(url);
	})
</script>