<!--NOTE: this is an example of the markup that would be needed to get simple tabbing-->

<!--TODO: we should only need the list, wrap it, append the target, and hijack using javascript -->

<!--TODO: figure out how to update the tab markup using the listing-->

<div id="<%= rand_id %>" class="ajax-tabs render-ajax-tabs">

	<ul class="tabs-list">
      <% default_params = {:per_page => 5} %>
      <%= addTab( renderCountLabel( 'Events', @log.events.length ), log_events_path(@log, {:partial => 'events/clips'}.merge(default_params)), {:title => 'Events' }) %>
      <%= addTab( renderCountLabel( 'Notes', @log.notes.length ), log_notes_path(@log, {:partial => 'notes/listing'}.merge(default_params)), {:title => 'Notes' }) %>
	</ul>

	<div class="tabs-target">Loading ...</div>

</div>

<script>
	$(document).ready( function() {
		
		render_ajax_tabs();
		
	})
</script>