<%# '<ul>' + request.methods.join('</li><li>') + '</li></ul>' %>


<h2><%= link_to @log.sound.name, sound_path(@log.sound) %> &mdash; <%= link_to @log.name, edit_log_path(@log) %></h2>

<div id="events-listing" class="section-body">
  Loading ...
</div>


<script>
  $(document).ready(function($) {
	
	  var url = "<%= log_events_path(@log, :partial => 'events/listing', :caption => 1, :expansion => 1, :heading => 0) %>";
		  
	  $("#events-listing").load(url);
	
  })
</script>
