<%
	container_id = rand_id

	verbs = {
		:list => ['import'], 
		:actions => {'import'=>'/files?partial=files/import'}
	}
	
	
	options = get_listing_display_options(local_assigns, params)
	
	# TODO: the above function needs work, the default value for heading is 0
	
	#options[:heading] = 1
		
	params[:partial] = 'files/listing'
%>

<%#= debug params %>

<%= render :partial => 'widgets/listing', :locals => {
	:objects => @files,
	:verbs => verbs,
	:options => options,
	:expansion_url => Proc.new {|file|
 		if file.directory?
			"/files?partial=files/listing&dirname=#{u params[:dirname]}/#{u file.name}&heading_selector=#files-header"
		else
			nil
		end
	}
}%>

<script type="text/javascript">

	$(document).ready( function () {
		
		$('a.render.files-listing').removeClass('render').click( function () {
			
			// NOTE: this can also be done through 'load'
			
			$.get(this.href, null, function (response) {
				$('#files-listing').html(response);
			});
		
			return false;
		});	
	});
	
</script>