<% if @tags && !@tags.empty? %>

	<div class='tag-cloud'>
		
		<% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
		
			<% if tag.filtered_count %>
				<% label_count = tag.filtered_count < tag.count ? "(#{tag.filtered_count || 0} of #{tag.count})" : "(#{tag.count})"%>
				
				<span><%= link_to("#{tag.name} #{label_count}", params.merge({:query => tag.name, :page => 1}), :class => "tag #{css_class} selected") %></span>
			<% else %>
				<span><%= link_to("#{tag.name} (#{tag.count})", params.merge({:query => tag.name, :page => 1}), :class => "tag #{css_class}") %></span>
			<% end %>
			
			<%#= link_to("#{tag.name}", params.merge({:query => tag.name, :page => 1}), :class => "tag #{css_class}") %>
		<% end %>
		
	</div>
	
<% end %>