<%
if (taggable.blank?)
  taggable_type = '{TAGGABLE_TYPE}';

  taggable_id = '{TAGGABLE_ID}';

  tag_list = '{TAG_LIST}';

  prefix = taggable_type + '-' + taggable_id;
else
  prefix = taggable.class.to_s.downcase + '-' + taggable.id.to_s;

  tag_list = taggable.my_tags()

  ###tag_review = Projects.find( :all, :conditions => "" ).namespace_tags('review')
#  tag_review = []
#
#  projects = taggable.sound.projects
#
#  if ( !projects.nil? ) then
#
#	  projects.each() { |project|
#		#tag_review += project.namespace_tags('review')
#		  project.reviews.each() { |r|
#			  tag_review << r.tag.name
#		  }
#	  }
#
#  end

#  tag_review.uniq!()
#
#  tag_review = tag_review - tag_list.map() { |t| t.name }
  
  tag_other = taggable.other_tags()
end

 # NOTE leave tag_list elements on the same line as the 'each' so a newline is not introduced, which distorts their
 # appearance in the input form
%>

<div class="render-editable-tags tags parent_handle" id="<%= prefix %>-tags">
		<% tag_list.each { |tag| -%><%= tag %>,<% } -%>
</div>

<div style="display: none;" id="<%= prefix %>-tags-hidden">
		<% tag_list.each { |tag| -%><%= tag %>,<% } -%>
</div>

<div style="clear: both" id="<%= prefix %>-tags">
	Others
	<ul class="tag_list voted">
		<% tag_other.each { |tag| -%>
		<li class="tag" rel="<%= tag %>"><%= tag %></li>
		<% } -%>
	</ul>
</div>

<script>
	bindTagTips( $('.voted', ''));
</script>