<%

	container_id = rand_id

	case params[:type]

	when 'public'
		verbs = {}
	else
		verbs = {
			:list => [
				'annotate',
				'delete'
			],
			:actions => {
				'annotate'	        => "/tags?partial=widgets/new_annotation",
				'delete' 			=> "/tags?partial=widgets/confirm_delete&container_id=#{container_id}"

			},
			:dialog_options => {
				'annotate'  		=> '{ height: 600, width:450 }',
				'delete' 			=> '{ height: 160, width:450 }'
			}
		}

	end

	options = get_listing_display_options(local_assigns, params)

	options[:expansion] = 0

	# NOTE: this is being used by the refresh button

	params[:partial] = 'tags/listing'
-%>

<%= render :partial => 'widgets/listing', :locals => {
	:objects => @tags,
	:verbs => verbs,
	:options => options,
	:container_id => container_id
} -%>

