<!--CONFIGURATION-->

<%
	
	#--
	# get the type that we are listing and some convenience variables
	#--
	
	# NOTE: this means that we should always call upon these listings through the corresponding controller
	
	type = params[:controller]
				
	object_path = type.singularize + '_path'
	
	options = options || {}
		
	#--
	# set default heading, container id, columns, and expansion uri if needed
	#--
	
	# NOTE: we may create or update a header container based on the availability of a selector
	
	heading_markup = params.include?(:heading_markup) ? params[:heading_markup] : "<h2> #{title_caps(type)} (#{@metadata[:total_entries]}) </h2>"
		
	heading_selector = params.include?(:heading_selector) ? params[:heading_selector] : ''
	
	
	# NOTE: the default container id is random
	
	if !local_assigns[:container_id] || container_id.blank?
		container_id = rand_id
	end
	
	# NOTE: the default columns are either provided by the helper or the objects
	
	if !local_assigns[:columns] || columns.blank?
		begin
			columns = columns_default
		rescue
			columns = objects[0].attributes.keys; # TODO: improve ordering of this default 
		end
	end
	
	# NOTE: the default expansion url is the show for the object without layout
	
	if options[:expansion] == 1 && (!local_assigns[:expansion_url] || expansion_url.blank?)
		
		expansion_url = Proc.new {|object|
			send(type.singularize + '_path', object, :format => 'html', :layout => false)
		}
		
	end
	
	# NOTE: we get the paginate markup once if needed
	
	if objects.is_a?(WillPaginate::Collection)
		paginate_markup = will_paginate(objects)
	else
		paginate_markup = nil;
	end
	
	total_entries = @metadata[:total_entries]
			
%>

<!--CONTAINER-->

<div style="margin:0;padding:0;" id="<%= container_id %>">
	
	<%#= debug params %>
	
	<%#= debug objects %>
		
	<% if options[:heading] == 1 && heading_selector.blank? %>
	
			<%= heading_markup %>

	<% end%>
	
	<!--TAGS-->
	
	<!--NOTE: this is ugly, perhaps problematic-->
				
	<%# @tags = params[:controller].capitalize.singularize.constantize.tag_counts %>
		
	<%= render(:partial => 'tags/tag_cloud') %>
	
	<table class="listing <%= 'striped' if params[:striped] %>" style="margin-bottom: 0em">

		<!--CAPTION-->
		
		<% if options[:caption] == 1 %>
		<caption>
				
			<!--VERBS-->
			
			<!--NOTE: we can always 'refresh'-->
			
			<% if objects.size > 0 %>
			
			<div id="verbs">
				
				<ul class="verbs">
					
					<% if logged_in? && options[:selection] == 1 %>
						<% verbs[:list].each do |name| %>
							<li><%= link_to title_caps(name), verbs[:actions][name], :class => 'verb render-verb' %></li>
						<% end %>
					<% end %>
					
					<!--NOTE: link_to, and its helper url_for, transform the params into a routes-aware url-->
					
					<li><%= link_to('Refresh', params, :class => 'refresh', :id => 'refresh-' + container_id) %></li>
				
				</ul>
			
			</div>
		
			<% end %>
			
			<% if 1 %>
				
				<!--FILTER-->
					
				<div id="search">
					<span style="padding: 0em;">Filter <%= type %></span>
					
					<% no_query = params.clone; no_query.delete(:query) %>
					
					<% form_tag url_for(no_query), :method => :post, :id => 'filter-' + container_id, :class => 'render-filter-form filter-form' do %>
						<%= text_field_tag :query, params[:query] %>
					<% end %>
				</div>
				
			<% end %>
			
				<!-- PAGINATION -->

			<% if objects.size > 0 && paginate_markup %>
			
				<%= paginate_markup %>
					
			<% end %>

			<!-- SORTING -->
			
			<% if objects.size > 0 %>
			
			<div class='sort-controls'>
				Sort by: &nbsp;
				<% columns.each do |column| %>
				
					<% sorting = column_sorting(column, type);	%>
					
					<%if !sorting.empty? %>
						<% if params[:order] == sorting[:order] %>
							<%= link_to("#{title_caps(column)} <span class=sort-order'>(#{title_caps(params[:direction])})</span>", params.merge(sorting).merge({:page => 1}), :class => "sorted") %>
						<% else %>
							<%= link_to(title_caps(column), params.merge(sorting).merge({:page => 1})) %>
						<% end %>
					<% end %>
					
				<% end %>
			</div>

			<% end %>
			
		 	<div class="separator"></div>
			
		</caption>
		<% end %>
	
		<!--CONTENT-->
	
		<% if objects.size == 0 %>
		
			</table>
			
			<p class="note">No <%= type %> are currently available.</p>

		<% else %>

		</table>
	
		<ul class="glider">
			<% objects.each do |object| %>
	
				<!--TODO: use the label to identify displayed objects-->
				
				<% label = type + "-" + object.id.to_s %>
		
				<li>
					<%= column_markup(type.singularize, object) %>
					<%= '<div style="clear: both"></div>' + column_markup(params[:order], object) unless params[:order].blank? %>
				</li>
		
				
			<% end %>
		</ul>
		
		<% end %>

	<div class='per-page-controls'>
		<% [5, 10, 20, 50, 100].each do |per_page| %>
		
			<% if per_page < 2 * total_entries %>
			
				<% if params[:per_page] == per_page.to_s %>
					<%= per_page %>
				<% else %>
					<%= link_to(per_page.to_s, params.merge({'per_page' => per_page, 'page' => 1})) %>
				<% end %>
				
			<% end %>
			
		<% end %>
	</div>

	<% if paginate_markup %>
		<%= paginate_markup %>
	<% end %>

</div>

<div style="display:none;" id="verb-form" title="test"></div>


<script type="text/javascript">

	$(document).ready(function(){

		$('.load-local-tip').removeClass('load-local-tip').cluetip({
			cluetipClass: 'jtip',
			local: false,
			arrows: false,
			activation: 'hover',
			hoverClass: 'highlight',
			dropShadow: false,
			dropShadowSteps: 4,
			sticky: true,
			closePosition: 'title',
			ajaxCache: false,
			ajaxProcess: function(data){
				//data = data.replace(/<s(cript|tyle)(.|\s)*?\/s(cript|tyle)>/g, '').replace(/<(link|title)(.|\s)*?\/(link|title)>/g,'');
				return data;
	    },
		});
	
		/*
			The callback option to enable_ratings is called after the rating has been updated for a resource.
			Since enable_rating is called with type 'json', the rating itself is passed to the callback
		*/

		enable_filter_forms();
		
		enable_editable_tags();
		
		render_inline_player();
	
		enable_verbs('<%= container_id %>');
	
		//--
		// update external heading
		//--
	
		<% if !heading_selector.blank? %>
	
			$("<%= heading_selector %>").html("<%= heading_markup %>");

		<% end %>
	
		//--
		// enable selection
		//--
	
		<% if options[:selection] == 1 %>
	
			$('a.select-all').click( function () {
				checkbox_select_all ('#<%= container_id %>'); return false;
			})
			$('a.select-none').click( function () {
				checkbox_select_none ('#<%= container_id %>'); return false;
			})
		
		<% end %>
		
	
		//--
		// target refresh, sort, and pagination links to container
		//--
			
		$('#refresh-<%= container_id %>, #<%= container_id%> .sort-controls a, #<%= container_id %> .tag-cloud a, #<%= container_id %> .pagination a, #<%= container_id %> .per-page-controls a').click( function () {
				
			$.get(this.href, null, function (response) {
				$('#<%= container_id %>').replaceWith(response);
			});
		
			return false;
		});
	
	});
</script>