<p>Are you sure you want to delete these <%= params[:controller] %>?</p>
<%= params[:container_id]%>
<%
	@container_id = params[:container_id] 
	@resources = controller.instance_variable_get("@#{params[:controller]}")	
	@resources.map!{|r| r.id}
	@controller = params[:controller]
%>
<form action="/<%= @controller %>/{<%= @resources.join(",") %>}" method="post" id='confirm-delete-form'>
	<input type="hidden" name="_method" value="delete">		
		
	<div class="form-submit">
		<%= submit_tag 'Delete!', :id => 'submit' %> &nbsp; <input type="button" id="cancel" onclick="$('#verb-form').dialog('close');" value="Cancel">
	</div>
</form>

<script>
	$('#confirm-delete-form').submit(function() {
		
		var form = $(this);
		
		// submit the form 
		$(this).ajaxSubmit({
			url: $(this).attr("action") + ".js", // this should be specifiable with dataType, but its not working

			error: function (response) {
				close_dialog(form.parent());
				var text = "Sorry, an error has occurred: HTTP " + response.status + " :: " + response.responseText;				
				
				if(response.status == 403){
					text = "You cannot delete the selected <%= @controller %>" ;
				}
				
				flash_error(text);
			},
			
			success: function(responseText){
				// on success, close the dialog, show a message, and refresh the container
				
				refresh_container('<%= @container_id %>');
				close_dialog(form.parent());
				flash_notice("Items have been deleted.");
			}			
		});
		
		// return false to prevent normal browser submit and page navigation 
		return false; 
});
</script>