<%
	tip_location ||= "default"
	tip_title 	 ||= "default"
%>

<div class='thumb load-local-tip' rel='<%= tip_location %>' title='<%= tip_title %>'>
  <a class='render-inline-player' href='<%= files_root_url(resource, 'clip.mp3') %>'>
	  <div class='progress' style='height: 129'></div>
	  <img src='<%= files_root_url(resource, 'thumb.256.gray-light.png') %>'/>
  </a>
</div>
