
<!--CONFIGURATION-->
<%
	
	#--
	# get the type that we are listing and some convenience variables
	#--
	
	# NOTE: this means that we should always call upon these listings through the corresponding controller
	
	type = params[:controller]
				
	object_path = type.singularize + '_path'
	
	options = options || {}
		
	#--
	# set default heading, container id, columns, and expansion uri if needed
	#--
	
	# NOTE: we may create or update a header container based on the availability of a selector
	
	# NOTE: it is not totally clear how heading_markup and heading_selector are used... in locals or params?

	if !local_assigns[:heading_markup]
		heading_markup = "<h2> #{title_caps(type)} (#{@metadata[:total_entries]}) </h2>"
	end

	if !local_assigns[:heading_selector]
		heading_selector = params.include?(:heading_selector) ? params[:heading_selector] : ''	
	end
	
	# NOTE: the default container id is random
	
	if !local_assigns[:container_id] || container_id.blank?
		container_id = rand_id
	end
	
	# NOTE: the default columns are either provided by the helper or the objects
	
	if !local_assigns[:columns] || columns.blank?
		begin
			columns = columns_default
		rescue
			# THIS THROWS AN ERROR FOR EMPTY ARRAYS
			columns = objects[0].attributes.keys # TODO: improve ordering of this default 
		end
	end
	
	# NOTE: the default expansion url is the show for the object without layout
	
	if options[:expansion] == 1 && (!local_assigns[:expansion_url] || expansion_url.blank?)
		
		expansion_url = Proc.new {|object|
			send(type.singularize + '_path', object, :format => 'html', :layout => false)
		}
		
	end
	
	# NOTE: we get the paginate markup once if needed
	
	if objects.is_a?(WillPaginate::Collection)
		paginate_markup = will_paginate(objects)
	else
		paginate_markup = nil;
	end
	
	total_entries = @metadata[:total_entries]
			
%>


<!--CONTAINER-->

<div style="margin:0;padding:0;" id="<%= container_id %>">
			
	<% if options[:heading] == 1 && heading_selector.blank? %>
	
		<%= heading_markup %>

	<% end %>
	
	<!--TAGS-->

    <!--TODO: this is one place where we'll plugin reports-->

	<%= render(:partial => 'tags/tag_cloud') %>
	
	<table class="listing <%= 'striped' if params[:striped] %>" style="margin-bottom: 0em">

		<!--CAPTION-->
		
		<% if options[:caption] == 1 %>
		<caption>
				
			<!--VERBS-->
			
			<!--NOTE: we can always 'refresh'-->
			
			<div id="verbs">
				
				<ul class="verbs">
					
					<% if logged_in? && options[:selection] == 1  && objects.size > 0 %>
						<% verbs[:list].each do |name| %>
							<li><%= link_to title_caps(name), verbs[:actions][name], :class => 'verb render-verb', :dialog_options => ( (!verbs[:dialog_options].blank?)? verbs[:dialog_options][name] : nil ) %></li>
						<% end %>
					<% end %>
					
					<!--NOTE: link_to, and its helper url_for, transform the params into a routes-aware url-->
					
					<li><%= link_to('Refresh', params, :class => 'refresh', :id => 'refresh-' + container_id) %></li>
				
				</ul>
				
			</div>


			<!-- RSS -->
			<% if 1 %>
				<div style="float:left;">
					<%
						rss_params = params.reject{|key,val| ['heading_selector', 'partial', 'per_page', 'page'].include?(key)}
						rss_params['format'] = :rss
					%>
					<%= link_to(image_tag('feed-icon.png', :border => 0, :style =>"padding-top:3px;"), rss_params, :title => "#{feed_title(type)} RSS Link" )%>
				</div>
			<% end %>
			<!-- /RSS -->
			

			<% if 1 %>
				
				<!--FILTER-->
					
				<div id="search">
					<span style="padding: 0em;">Filter <%= type %></span>
					
					<% no_query = params.clone; no_query.delete(:query) %>
					
					<% form_tag url_for(no_query), :method => :post, :id => 'filter-' + container_id, :class => 'render-filter-form filter-form' do %>
						<%= text_field_tag :query, params[:query] %>
					<% end %>
				</div>
				
			<% end %>
			
				<!-- PAGINATION -->

			<% if objects.size > 0 && paginate_markup %>
			
				<%= paginate_markup %>
					
			<% end %>

			<% if options[:selection] == 1 && objects.size > 0 %>
			
				<div class='select-controls'>
					Select: &nbsp; <a href='#' class='select-all'>All</a> <a href='#' class='select-none'>None</a>
				</div>
		
			<% end %>

	   	<div class="separator"></div>
			
		</caption>
		<% end %>
	
		<!--CONTENT-->
			
		<% if objects.size == 0 %>
			
			</table>
			
			<p class="note">No <%= type %> are currently available.</p>
			
		<% else %>
				
				<tr>
					<% if( !options.blank? && !options[:selection].blank? && !options[:selection].blank?) &&  options[:selection] + options[:expansion] > 0 %>
						<th colspan="<%= options[:selection] + options[:expansion] %>"></th>
					<% end %>
	
					<!--ORDER-->
					
					<% columns.each do |column| %>
					
						<% sorting = column_sorting(column, type) %>
						
						<%if sorting.empty? %>
							<th><%= title_caps(column) %></th>
						<% else %>
							<th <%= "class='sorted #{params[:direction]}'" if params[:order] == sorting[:order] %> ><%= link_to(title_caps(column), params.merge(sorting).merge({:page => 1}), :class => "sort-listing") %></th>
						<% end %>
						
					<% end %>
				</tr>
			
				<% objects.each do |object| %>
		
					<% label = type + "-" + object.id.to_s; state = cycle 'even', 'odd'; handle = rand_id%>
		  
					<tr id="<%= label %>" class="<%= state %>" >
													
						<% if options[:selection] == 1 %> 
							<td width="20"><input type="checkbox" targets="<%= handle %>" name="select-row" class="render-select-row selection-checkbox" id="select-<%= label %>" value="1"></td>
						<% end %>
		
						<% if options[:expansion] == 1 %>
							<% uri = expansion_url.call(object) %>
							
							<td width="20">
								<% if !uri.nil? %>
									<%= jquery_icon 'plus', {:class => 'render-toggle-control toggle', :targets => handle, :uri => uri} %>
								<% end %>
							</td>
						<% end %>
				
						<!--COLUMNS-->
					
						<% columns.each do |column| %> 
							<td><%= column_markup(column, object) %></td>	
						<% end %>
				
					</tr>
	
					<!--EXPANSION -->
					
					<% if options[:expansion] == 1 %>
						<tr style='display: none; border-top: none;' class="<%= handle %> <%= state %>">
						
							<td colspan=2 class="hide-cell"></td>
							
							<td class='content-pane' colspan='<%= columns.length + 3 %>'>
								<p>Loading ...</p>
							</td>
						
						</tr>
					<% end %>
			
				<% end %>
		
		</table>

		<% end %>

	<div style="height: 0.75em; width: 100%"></div>

	<div class='per-page-controls'>
		
		<% [5, 10, 20, 50, 100].each do |per_page| %>
		
			<% if per_page < 2 * total_entries %>
			
				<% if params[:per_page].to_i == per_page || (params[:per_page].blank? && objects.first.class.per_page == per_page)%>
					<%= per_page %>
				<% else %>
					<%= link_to(per_page.to_s, params.merge({'per_page' => per_page, 'page' => 1})) %>
				<% end %>
				
			<% end %>
			
		<% end %>
	</div>

	<% if paginate_markup %>
		<%= paginate_markup %>
	<% end %>

</div>

<div style="display:none;" id="verb-form" title="test"></div>

<script>

	enable_row_selection();
	
	enable_filter_forms();
	
	enable_toggle_controls(); 
	
	<%= "enable_editable_tags();" if logged_in? %>
  
	enable_ratings();
	
	render_simple_ratings();
	
	enable_verbs('<%= container_id %>');
	
	render_inline_player();
	
	//--
	// update external heading
	//--
	
	<% if !heading_selector.blank? %>

		$("<%= heading_selector %>").html("<%= heading_markup %>");

	<% end %>
	
	//--
	// enable selection
	//--
	
	<% if options[:selection] == 1 %>
	
		$('a.select-all').click( function () {
			checkbox_select_all ('#<%= container_id %>'); return false;
		})
		$('a.select-none').click( function () {
			checkbox_select_none ('#<%= container_id %>'); return false;
		})
		
	<% end %>
	
	//--
	// target refresh, sort, pagination, and other contained links to container
	//--
			
	// NOTE: we can 'contain' listing links to contain them to container
	
	$('#<%= container_id %> .contained, #refresh-<%= container_id %>, #<%= container_id%> .sort-listing, #<%= container_id %> .tag-cloud a, #<%= container_id %> .pagination a, #<%= container_id %> .per-page-controls a').click( function () {
		$.get(this.href, null, function (response) {
			$('#<%= container_id %>').replaceWith(response);
		});
		
		return false;
	
	});

</script>

