<p>Choose a Detector to be run against the selected sounds.</p>

<%
	@resources = controller.instance_variable_get("@#{params[:controller]}")
	@resources.map!{|r| r.id}
	@controller = params[:controller]
%>

<form action="/<%= @controller %>/{<%= @resources.join(",") %>}/tasks" method="post" id='request-detection-form'>
	<div class="form-submit">
		<p>
			<label>Detector Type</label> <br />
			<%= collection_select( :extension, :id, @extensions, :id, :name )  %><br />
		</p>
        <p>
          <label>Detector Preset</label><span id="testo"></span> <br />
          <span id="preset-list"><%= collection_select( :extension, :id, @extensions, :id, :name )  %></span><br />
        </p>
		<p>
			<%= submit_tag 'Request Detection', :id => 'submit' %> &nbsp;
			<input type="button" id="cancel" onclick="$('#verb-form').dialog('close');" value="Cancel">
	    </p>
	</div>
</form>

<script>
    // Detector Select script

    $("#extension_id").change(function(){
        selected = $("#extension_id").val();
        $("#preset-list").html("<span>Loading...</span>");
        // TODO provide some error information for conditional display in event of bad list data
        $.get("/extensions/" + selected + "/presets", function(data){
            $("#preset-list").html(data);  
        });
    });



	// Form submission script

	$('#request-detection-form').submit(function() {

		var form	= $(this);
		var detector = $("#extension_id", this).attr("value");

		if(detector == ""){
			alert("Please select a detector");
			return false;
		}

		// submit the form
		$(this).ajaxSubmit({
			url: $(this).attr("action") + ".js", // this should be specifiable with dataType, but its not working
			success: function(responseText){
				try{
					// for some reason, this script cannot find "#verb-form"- maybe document.ready
					var dialog_div = form.parent();
					// close the dialog
					if(dialog_div.dialog('isOpen')) dialog_div.dialog('close');				}
				catch(e){
					console.log(e)
				}
			}
		});

		// return false to prevent normal browser submit and page navigation
		return false;
});
</script>