<p>Choose the user to share these <%= params[:controller] %></p>

<%
	@resources = controller.instance_variable_get("@#{params[:controller]}")	
	@resources.map!{|r| r.id}
	@controller = params[:controller]
%>

<form action="/<%= @controller %>/{<%= @resources.join(",") %>}" method="post" id='share-form'>
	<div class="form-submit">
		<%= submit_tag 'Share', :id => 'submit' %> &nbsp;
		<input type="button" id="cancel" onclick="$('#verb-form').dialog('close');" value="Cancel">
	</div>
</form>

<script>
	$('#share-form').submit(function() {
		
		var form = $(this);
		
		// submit the form 
		$(this).ajaxSubmit({
			url: $(this).attr("action") + ".js", // this should be specifiable with dataType, but its not working
			success: function(responseText){
				try{
					// for some reason, this script cannot find "#verb-form"- maybe document.ready
					var dialog_div = form.parent(); 
					// close the dialog	 
					if(dialog_div.dialog('isOpen')) dialog_div.dialog('close');
				}
				catch(e){
					// console.log(e)
				}
			} // success:
			
		}); // ajaxSubmit()
		
		// return false to prevent normal browser submit and page navigation 
		return false; 
});
</script>