<div class="two-column-left">
  
<h2>Getting started with the BARN API</h2>

<p>The BARN API is a way for users and developers to access and update BARN resources programatically using HTTP capable software and programming languages.</p>

<!--It enables the creation of a variety of software clients to access BARN stores.-->

<p>Use of the API consists of a sequence of HTTP client requests to a BARN server. The server response to each request is then processed by a human or more typically a program. Two things are required to make use of BARN resources through the API:
<ul>
  <li>Basic understanding of the principles and mechanics of REST and HTTP</li>
  <li>Knowledge of the resources and resource organization offered by the API, this includes knowledge of corresponding resource addresses and available representations.</li>
</ul>
</p>

<p>The <a href="/docs/tutorial">API Tutorial</a> covers basic understanding requirements and some resource availability and organization information. The <a href="/docs/reference">API Reference</a> offers a full description of resources and resource organization available through the BARN API. You can use the <a href="/docs/console">Console</a> to experiment throughout.</p>
<!--<p>The BARN API is a RESTful web service interface to read and write BARN data. This means that interactions are resource centered and operate using a simple set of verbs GET, POST, PUT, and DELETE.</p>-->

</div>

<div class="two-column-right">
  <h2>Suggested reading</h2>
  
  <p>Here are some links related to REST and RESTful development. However the web is a big place and this is an active topic, to learn more search on terms like <q>REST</q> or <q>RESTful</q>.
  
  <ul>
	<li><a href="http://en.wikipedia.org/wiki/Representational_State_Transfer">REST</a> on Wikipedia</li>
	<li><a href="http://phprestsql.sourceforge.net/">Give it a REST</a> PHP framework</li>
	<li><a href="www.b-simple.de/download/restful_rails_en.pdf">Restful Rails</a> book chapter on REST principles and  development using the Rails framework</li>
  </ul>
</div>