<%
 	container_id = rand_id  

	isProjectAdmin = false

 	if logged_in? and params.include?(:project_id)
		project = Project.find(params[:project_id])
		if User.current.is_admin? || project.owner == User.current || project.user_has_role?(User.current, 'administrator')
			isProjectAdmin = true
		end
	end
-%>
<%

   	verbs = {
		:list => [],
		:actions => {}
	}

	if params.include?(:project_id) && isProjectAdmin
		verbs[:actions]['remove'] = "/projects/#{params[:project_id]}/users?partial=projects/remove_user&container_id=#{container_id}"
		verbs[:list] = ['remove']
	end
	
	options = get_listing_display_options(local_assigns, params)
	
	params[:partial] = 'users/listing'

	editorFunction = nil

    if isProjectAdmin
		editorFunction = lambda {
					render 'projects/_user_admin', :locals => {
						:options => options,
						:container_id => container_id
					}
				}
	end




%>
<%= render :partial => 'widgets/listing', :locals => {
	:objects => users,
	:verbs => verbs,
	:options => options,
	:container_id => container_id,
	:editorFunction => editorFunction
}%>
