<h2>Create an account</h2>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for :user, :url => '/users/create' do |f| -%>
	<%= render :partial => "form", :locals => {:f => f}%>
	<p><%= submit_tag 'Sign up' %></p>
<% end -%>
