<%
	default_params = {:per_page => 20}
	
	default_params.merge!(:project_id => params[:project_id]) if params[:project_id]
%>

<div id="<%= rand_id %>" class="ajax-tabs render-ajax-tabs">

	<ul class="tabs-list">
		<li>
			<%= link_to "Events (#{@sound.events.size})", sound_events_path(@sound, {:partial => 'events/clips'}.merge(default_params)) %>
		</li>
		<li>
			<%= link_to "Logs (#{@sound.logs.count})", sound_logs_path(@sound, {:partial => 'logs/listing'}.merge(default_params)) %>	
		</li>
		<li>
			<%= link_to "Notes (#{@sound.notes.count})", sound_notes_path(@sound, {:partial => 'notes/listing'}.merge(default_params))%>	
		</li>		
		<li>
			<%= link_to "Recordings (#{@sound.recordings.count})", sound_recordings_path(@sound, {:partial => 'recordings/listing'}.merge(default_params)) %>	
		</li>
	</ul>
	
	<div class="tabs-target">Loading ...</div>
</div>

<script>
	$(document).ready( function() {
		
		render_ajax_tabs();	
	})
</script>