<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  
  <style type="text/css">
	html { height: 100% }
	body { height: 100%; margin: 0px; padding: 0px }
	#map_canvas { height: 100% }
  </style>
  
  <script type="text/javascript"
	  src="http://maps.google.com/maps/api/js?sensor=false">
  </script>
  
  <script type="text/javascript">
	function initialize() {
	  
	  var latlng = new google.maps.LatLng(<%= @sound.location.lat %>, <%= @sound.location.lng %>);
	  
	  var myOptions = {
		zoom: 12,
		center: latlng,
		mapTypeId: google.maps.MapTypeId.HYBRID 
	  };
	  
	  var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	  
	  var marker = new google.maps.Marker({
		  position: latlng, 
		  map: map, 
		  title:"<%= @sound.name %>"
	  }); 
	}
  </script>
</head>

<body onload="initialize()">
  <div id="map_canvas" style="width:100%; height:100%"></div>
</body>

</html>