<h1><%= link_to @sound.name, sound_path(@sound) %> > Edit</h1>

<% form_for @sound do |f| %>

  <%= f.error_messages %>
  
  <%= render :partial => "form", :locals => {:f => f} %>
  
  <p>
    <%= f.submit "Update sound", :class => 'project-submit submit' %><%= link_to 'Cancel', sounds_path, :class => 'cancel' %>
  </p>
<% end %>