<div class="page-header section-header">
	<!--<h2><%#= link_to(@sound.name, edit_sound_path(@sound)) %></h2>-->
	
	<h2><%= link_to @sound.name, edit_sound_path(@sound), :class => 'edit-link', :title => "Click&nbsp;to&nbsp;edit&nbsp;sound" %></h2>
	
	<% if !@sound.date_time.nil? %>
		<span class='date-time'><%= @sound.date_time.datetime %></span>
	<% end %>

	<div class='export-links'><%= export_links(params) -%></div>
</div>

<div style="clear:both;"></div>

<div class="two-column-left">
	
	<div id="<%= rand_id %>" class="ajax-tabs render-ajax-tabs">
	
		<ul class="tabs-list">
			<li><a href="">Description</a></li>
		</ul>
		
		<!--<div class="tabs-target"></div>-->
	</div>

	<div class='description-content'>
		<!--TODO: make this 'textile' markup, and the corresponding form editor a textile editor-->
		
		<%= @sound.long_description %>
	</div>
</div>

<div class="two-column-right">
	
	<div id="<%= rand_id %>" class="ajax-tabs render-ajax-tabs">
		<ul class="tabs-list">
			<% if !@sound.location.blank? %>
				
				<li><%= link_to("Map", sound_path(@sound, :partial => 'map'), :class => 'iframe') %></li>
			<% end %>
			
			<li><%= link_to "Files", sound_file_resources_url(@sound, :partial => 'file_resources/listing')%></li>
			
			<li><%= link_to "Images", sound_file_resources_url(@sound, :partial => 'file_resources/image_glider')%></li>
		</ul>
		
		<div class="tabs-target" style="width: 100%; height: 420px;"></div>
	</div>
</div>

<div id="associated-listing" class="section-body">
	Loading ...
</div>

<script>
	$(document).ready(function($) {
		
		<% if params[:project_id] %>
		
			var url = "<%= project_sound_path(params[:project_id], @sound, :partial => 'sounds/associated') %>";
		<% else %>		
			var url = "<%= sound_path(@sound, :partial => 'sounds/associated') %>";
		<% end %>
			
		$("#associated-listing").load(url);
		
		// TODO: this can be consolidated with the above logic
		
		<% if params.include?("project_id") %>
			<% project = Project.find(params[:project_id]) %>
									  
			$('html head title').text("BARN - Projects - <%= project.name %> - <%= @sound.name %>");
		<% else %>
			$('html head title').text("BARN - Sounds - <%= @sound.name %>");
		<% end %>
	})
</script>