<script type="text/javascript">
$().ready(function() {
	bind_element_add('<%= locals[:container_id] %>');
});
</script>

<div style="clear:both">

<% if locals[:adminPermissions] -%>

<div id="" class="section-body">

		<%
			if locals[:parent_type].nil?
				target = "/file_resources"
			else
				target = "/" + locals[:parent_type].pluralize + "/#{locals[:parent_id]}/file_resources"
			end
		%>
		
		<% form_for :file_resource, :url => target, :html => { :multipart => true, :id => "add_form" } do |f| %>
			<p>
				<%= label_tag 'file' %><br/>
				
				<%= f.file_field :resource%>
			<p>
				<%= label_tag 'caption' %><br/>
				
				<%= f.text_field(:caption, :size => 32) %>
			</p>

			<input type="submit" class='submit' value="Add File Resource" id="add_submit">
		<% end %>
</div>

<% end -%>

</div>