<%
	container_id = rand_id

	verbs = {
		:list => [],
		:actions => {}
	}
	
    parent_type, parent_id = getParentFromParamType; adminPermissions = false

 	if logged_in?
		adminPermissions = true;
		
		#if params.include?(:project_id)
		#
		#	project = Project.find(params[:project_id])
		#	
		#	if User.current.is_admin? || project.owner == User.current || project.user_has_role?(User.current, 'administrator')
		#		adminPermissions = true
		#	end
		#else
		#	# HACK: we want the editors to appear in the sound, something is needed here
		#	
		#	adminPermissions = true
		#	
		#	#if User.current.is_admin?
		#	#	adminPermissions = true
		#	#end
		#end

		#@project = Project.find(params[:project_id])
		
   		#@project.user_can_edit?(User.current)
 	end
 	
	options = get_listing_display_options(local_assigns, params)
   
	params[:partial] = 'file_resources/listing'

	editorFunction = nil
		
    if adminPermissions # && !parent_type.blank?
		
		#if parent_type.nil?
		#	verbs[:actions]['remove'] = "/file_resources?partial=widgets/confirm_delete&container_id=#{container_id}"
		#else
            verbs[:actions]['remove'] = "/file_resources?partial=widgets/confirm_delete&container_id=#{container_id}"
			#verbs[:actions]['remove'] = "/" + parent_type.pluralize + "/" + parent_id.to_s + "/file_resources?partial=widgets/confirm_delete&container_id=#{container_id}"
		#end
		
		verbs[:list] = ['remove']
		
		editorFunction = lambda {
			render 'file_resources/_file_add', :locals => {
				:options => options,
				:container_id => container_id,
				:parent_type => parent_type,
				:parent_id => parent_id,
				:adminPermissions => adminPermissions			
			}
		}
		
		# TODO: add the create sound verb, eventually we'll look for a flag to do this
		
		# NOTE: the flag may tell us whether this is an attachment, or a data file_resources listing
		
		verbs[:list] << 'Create sound'
		
		verbs[:actions]['Create sound'] = "/file_resources?partial=widgets/confirm_create_sound&container_id=#{container_id}"
	end
%>

<%#= debug file_resources %>

<%= render :partial => 'widgets/listing', :locals => {
	:objects => file_resources,
	:verbs => verbs,
	:options => options,
	:container_id => container_id,
	:expansion_url => Proc.new {},
	:editorFunction => editorFunction
	}
%>

<script type="text/javascript">

	$(document).ready(function(){
		
	});
</script>