

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name.capitalize %>: <%= controller.action_name %></title>

	<%= stylesheet_link_tag 'scaffold' %>
	<%= stylesheet_link_tag 'main' %>

	<style>
	.yui-skin-sam .yui-log p {
		font-family:courier;
	}
	</style>


	<!-- YUI CSS -->
	
	<%= stylesheet_link_tag 'yui/sam/fonts-min.css' %>
	<%= stylesheet_link_tag 'yui/sam/paginator.css' %>
	<%= stylesheet_link_tag 'yui/sam/datatable.css' %>
	<%= stylesheet_link_tag 'yui/sam/treeview.css' %>
	<%= stylesheet_link_tag 'yui/sam/logger.css' %>
	
	
	<!-- YUI JS -->
	
	<%= javascript_include_tag 'yui/build/yahoo-dom-event/yahoo-dom-event.js' %>
	<%= javascript_include_tag 'yui/build/dragdrop/dragdrop-min.js' %>
	<%= javascript_include_tag 'yui/build/element/element-beta-min.js' %>
	<%= javascript_include_tag 'yui/build/dom/dom-min.js' %>
	<%= javascript_include_tag 'yui/build/datasource/datasource-min.js' %>
	<%= javascript_include_tag 'yui/build/datatable/datatable-min.js' %>
	<%= javascript_include_tag 'yui/build/yahoo/yahoo-min.js' %>
	<%= javascript_include_tag 'yui/build/event/event-min.js' %>
	<%= javascript_include_tag 'yui/build/connection/connection-min.js' %>
	<%= javascript_include_tag 'yui/build/json/json-min.js' %>
	<%= javascript_include_tag 'yui/build/paginator/paginator-min.js' %>
	<%= javascript_include_tag 'yui/build/treeview/treeview-min.js' %>
	<%= javascript_include_tag 'yui/build/logger/logger-min.js' %>

	<!-- BARN -->
	
	<%= javascript_include_tag 'yui_extensions' %>
	
	<%= javascript_include_tag 'application-yui' %>
	<%= javascript_include_tag 'resource' %>

	<%= javascript_include_tag 'events' %>
	<%= javascript_include_tag 'sounds' %>
	<%= javascript_include_tag 'logs' %>
	<%= javascript_include_tag 'ratings' %>
	
	<%= javascript_include_tag 'rating/lib/curry' %>
	<%= javascript_include_tag 'rating/rating' %>
	
<!--begin custom header content for this example-->

<style>
#treeDiv1 {background: #fff; margin-top:1em; padding:1em; min-height:7em;}
</style>
<!--end custom header content for this example-->
<%#= stylesheet_link_tag 'barn.xbat.org.css' %>
<%#= stylesheet_link_tag 'header' %>
<!-- </head>
<body class=" yui-skin-sam"> -->
	<%#= render :partial => "layouts/header" %>
	<%#= render :partial => "header" %>
	<h2 style="padding:30px;padding-top:60px;padding-bottom:0px;">Events</h2>
	<div id="content" style="padding-top:0px;">
		
		<p style="color: green"><%= flash[:notice] %></p>


    <script type="text/javascript">
    	YAHOO.util.Event.onDOMReady(BARN.Application.initialize, BARN.Application, true)
    </script>



    <!-- Tree Browser -->
    <div id="tree_browser" style="float:left;padding-right:20px;border-right:1px solid gray;min-height: 500px;min-width: 175px;"></div>


    <div style='float:left;width:220px;'>
    	<!-- Sounds -->
    	<div id="sounds_metadata" style="margin-left:20px;margin-right:20px;float:left;width:150px;">
    		<b>Showing all Sounds</b>
    	</div>
    	<!-- Events Metadata -->
    	<div id="events_table_metadata" style="margin-left:20px;margin-top:20px;float:left;"></div>
    </div>

    <!-- <div style='float:left;width:600px;min-height: 500px;'>
        	
        	<div style='font-weight:bold;margin-bottom:10px;'>Events</div>
        	<div id="my_pagination_top" style="float:left;height:20px;"></div>
        	<div id="events_table" style="float:left;"></div>
        	<div id="my_pagination_bottom" style="float:left;"></div>
        </div> -->

    <div style="clear:both;"></div>


    <script language="javascript">
    	// var pValue = '<?= $_POST["input-rating"] ?>';
    	// var r = new rating('rater', 5,  pValue || 0 , true, 'input-rating');
    </script>
    <div id='yui_console' style="position:absolute;top:10px;right:10px;width:500px;"></div>
		
	</div>
	<%= render :partial => "/apps/footer" %>
</body>
</html>
