<div id="reviews-header" class="section-header">
	<h2>Reviews (<span class='total-count'></span>)</h2><div class="export-links"></div>
</div>

<div id="reviews-listing" class="section-body">

</div>

<script>
	$(document).ready(function () {

		// Getting the path from the URL ensures that nested scoping is maintained.

		var path  = $.url.setUrl(this.href).attr("path");
		url = path + "?partial=reviews/listing&per_page=10&heading_selector=<%= u '#reviews-header' %>&type=<%= params[:type] %>";

		// NOTE: not using this load we were not updating the header

		$("#reviews-listing").load(url);
	})
</script>
