<%
	default_params = {:per_page => 20}

	default_params.merge!({:project_id => params[:project_id]}) if params[:project_id]
	  
	parent = Project.find(@review.parent_id)
%>

<h2>
  <%= @review.description %>
</h2>

<p>
  <%= @review.long_description %>
</p>

<div id="<%= rand_id %>" class="ajax-tabs render-ajax-tabs">

  <!--TODO: we need  a 'review_events_path', how do we get it? it may not be trivial because of the 'object' polymorphism!-->
  
	<ul class="tabs-list">
      <%= addTab( renderCountLabel( 'Events', @review.events.size ), events_path(@review, {:partial => 'events/clips', :hidereport => true, :hidetags => true, :query => "tag:#{@review.tag.name}"}.merge(default_params)), {:title => 'Events' }) %>
	</ul>

	<div class="tabs-target">Loading ...</div>
</div>

<script>
	$(document).ready( function() {

		render_ajax_tabs();
	});
</script>