
<h1>Configure your host BARN</h1>


<form method="POST" action="/configure">
	<p>
	BARN server <br />
		<input type="text" name="server" value="<%= @config['scout']['host'] %>">
	</p>
	<p>
	BARN username <br />
		<input type="text" name="user" value="<%= @config['scout']['user'] %>">
	</p>
	<p>
	BARN password <br />
		<input type="text" name="password" value="<%= @config['scout']['password'] %>">
	</p>
	<input type="submit" value="Configure.">
	<input type="button" value="Cancel." onclick="location.href='/'">
</form>