<html>
	<head>
		<title>
			Silo: <%= @local_ip %>
		</title>
		<style>
			body, input {
				font-family:"Trebuchet MS","Lucida Grande",Verdana,sans-serif;
				font-size:1em;
			}
			
			#message {
				width:100%;
				background-color:#FFF79F;
			}
		</style>
	</head>
	<body>
		<% if @message %>
		<div id="message">
			<div style="padding:10px;">
			<%= @message %>
			</div>
		</div>
		<% end %>
		<%= yield %>
	</body>
</html>