<% unless @config['silo']['guid'].nil? || @config['silo']['guid'].empty? %>
	This Silo believes it is registered, you can re-register is your config has changed.
<% end %>
<p>
	<b>Register with <%= @config['scout']['host']%></b>
</p>

<form method="POST" action="/register">
	<input type="submit" value="Make it so.">
	<input type="button" value="Cancel." onclick="location.href='/'">
</form>