<%
	container_id = rand_id

	verbs = {
		:list => ['import'], 
		:actions => {'import'=>'/data_files?partial=data_files/import'}
	}
	
	options = get_listing_display_options(local_assigns, params)
		
	params[:partial] = 'data_files/listing'
%>

<%#= debug @data_files %>

<%= render :partial => 'widgets/listing', :locals => {
	:objects => @data_files,
	:verbs => verbs,
	:options => options,
	:heading_markup => "<h2>Files (#{@metadata[:total_entries]}) #{params[:dirname]}</h2>",
	:expansion_url => Proc.new {|file|
 		if file.directory?
			"data_files?partial=data_files/listing&dirname=#{u params[:dirname]}/#{u file.name}&heading_selector=#data-files-header"
		else
			nil
		end
	}
}%>

<script type="text/javascript">

	$(document).ready( function () {
		
		$('a.render.data-files-listing').removeClass('render').click( function () {
			
				$.get(this.href, null, function (response) {
					$('#data-files-listing').html(response);
				});
			
				return false;
		});
		
	});
	
</script>