<div id="data-files-header" class="section-header">
	<h2>Data Files</h2>
	This list is refreshed every 5 minutes.
</div>

<div id="data-files-listing" class="section-body">
	<%#= render :partial => 'listing', :locals  => { :files => @files }, :layout  => false %>
</div>

<script>
	
	// NOTE: This lazy load discards all params in the URL, links may not behave as expected.

	$(document).ready(function () {
		
		<% params[:partial] = 'data_files/listing'; url = url_for(params) %>
		
		var url = "/data_files?partial=data_files/listing";
	
		$("#data-files-listing").load(url);
	})

</script>