
<p>
  <%= label_tag 'name' %><br/>

  <%= f.text_field :name %>
</p>

<p>
  <%= label_tag 'privacy' %><br/>

  <%= f.select('public', {:public => 1, :private => 0}) %>
</p>

<p>
<%= label_tag 'location' %><br/>

<% if !@sound.location.nil? %>
  <% f.fields_for @sound.location do |location_fields| %>
	<table class='form group'>
	  <tr>
		<td>Lat:</td><td><%= location_fields.text_field :lat %></td>
	  </tr>
	  <tr>
		<td>Lng:</td><td><%= location_fields.text_field :lng %></td>
	  </tr>
	</table>
  <% end %>
  
<% else %>
  <% f.fields_for :location do |location_fields| %>
	<table class='form group'>
	  <tr>
		<td>Lat:</td><td><%= location_fields.text_field :lat %></td>
	  </tr>
	  <tr>
		<td>Lng:</td><td><%= location_fields.text_field :lng %></td>
	  </tr>
	</table>
  <% end %>
  
<% end %>
</p>

<p>
<%= label_tag 'description' %><br/>

<%= f.text_field :description %>
</p>

<p>
<%= label_tag 'long description' %><br/>

<%#= f.text_field :long_description %>

<%= f.text_area(:long_description, :size => '80x12') %> 
</p>

<p>
  <%= label_tag 'channels' %><br/>

  <%= f.text_field :channels, :disabled => true %>
</p>

<p>
  <%= label_tag 'samplerate' %><br/>

  <%= f.text_field :samplerate, :disabled => true %>
</p>

<p>
  <%= label_tag 'duration' %><br/>

  <%= f.text_field :duration, :disabled => true %>
</p>

<p>
  <%= label_tag 'samples' %><br/>

  <%= f.text_field :samples, :disabled => true %>
</p>

