<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  
  <style type="text/css">
	html { height: 100% }
	body { height: 100%; margin: 0px; padding: 0px }
	#map_canvas { height: 100% }
  </style>
  
  <script type="text/javascript"
	  src="http://maps.google.com/maps/api/js?sensor=false">
  </script>
  
  <script type="text/javascript">

    var mMap;

	function initialize() {
	  
	  var latlng = new google.maps.LatLng(<%= @sound.location.lat %>, <%= @sound.location.lng %>);
	  
	  var myOptions = {
		zoom: 8,
		center: latlng,
		navigationControl: true,
		navigationControlOptions: {
		  style: google.maps.NavigationControlStyle.SMALL
		},
		mapTypeControl: true,
		mapTypeControlOptions: {
		  style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
		},
		mapTypeId: google.maps.MapTypeId.TERRAIN,
		scrollwheel: false
	  };
	  
	  var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

      mMap = map;

	  var marker = new google.maps.Marker({
		  position: latlng, 
		  map: map, 
		  title:"<%= @sound.name %>"
	  }); 
	}

//    function reload(){
//        google.maps.event.trigger(mMap, 'resize');
//    }
  </script>
</head>

<body onload="initialize()">
  <div id="map_canvas" style="width:100%; height:100%"></div>
</body>

</html>