<div class="page-header section-header">
	<!--<h2><%#= link_to(@sound.name, edit_sound_path(@sound)) %></h2>-->
	
	<h2><%= link_to @sound.name, edit_sound_path(@sound), :class => 'edit-link', :title => "Click&nbsp;to&nbsp;edit&nbsp;sound" %></h2>

	<div class='export-links'><%= export_links(params, [:json, :rss, :xml]) -%></div>
</div>

<div style="clear:both;"></div>

<% if true %>
	<span class='metadata toggle' title='report'>Metadata</span>
	
	<div style='clear:both'></div>
	
	<div class='metadata' style='display:none'>
		
		<div class="two-column-left">
			
			<div id="<%= rand_id %>" class="ajax-tabs render-ajax-tabs">
			
				<ul class="tabs-list">
					<li><a class="local" href="">Description</a></li>
					<li><a class="local" href="">Info</a></li>
				</ul>
				
				<div class="tabs-target" style="width: 100%; height: 420px; margin-bottom: 2em">
						<div class="localContent">
							<div class="description-content">
								<%= @sound.long_description %>
							</div>
						</div>
						<div class="localContent">
							Channels: <%= @sound.channels %><br/>
							Samplerate: <%= @sound.samplerate %><br/>
							Duration: <%= @sound.duration %><br/>
						</div>
				</div>
			</div>
		</div>
		
		<div class="two-column-right">
			
			<div id="<%= rand_id %>" class="ajax-tabs render-ajax-tabs">
				<ul class="tabs-list">
					<% if !@sound.location.blank? %>
						
						<li><%= link_to("Map", sound_path(@sound, :partial => 'map'), :class => 'iframe') %></li>
					<% end %>
		
					<%= addTab( renderCountLabel( 'Files', @sound.file_resources.count ), sound_file_resources_url(@sound, :partial => 'file_resources/listing'), {:title => 'Files' }) %>
					
					<!--<li><%#= link_to "Files", sound_file_resources_url(@sound, :partial => 'file_resources/listing')%></li>-->
					
					<!--<li><%#= link_to "Images", sound_file_resources_url(@sound, :partial => 'file_resources/image_glider')%></li>-->
				</ul>
				
				<div class="tabs-target" style="width: 100%; height: 420px;"></div>
			</div>
		</div>
		
	</div>
<% end%>

<div style='height:1em'></div>

<div id="associated-listing" class="section-body">
	Loading ...
</div>

<script>
	$(document).ready(function($) {
		
		<% if params[:project_id] %>
		
			var url = "<%= project_sound_path(params[:project_id], @sound, :partial => 'sounds/associated') %>";
		<% else %>		
			var url = "<%= sound_path(@sound, :partial => 'sounds/associated') %>";
		<% end %>
			
		$("#associated-listing").load(url);
		
		// TODO: this can be consolidated with the above logic
		
		<% if params.include?("project_id") %>
			<% project = Project.find(params[:project_id]) %>
									  
			$('html head title').text("BARN - Projects - <%= project.name %> - <%= @sound.name %>");
		<% else %>
			$('html head title').text("BARN - Sounds - <%= @sound.name %>");
		<% end %>
		
		// EXPERIMENTAL
		
		tab_toggle('', '.metadata.toggle', 'div.metadata');
		
		update_toggle_control(
			$('.metadata.toggle'), $('div.metadata')
		);

        $('.metadata.toggle').click(function(event){
          if ( $('.two-column-right .tabs-list li.selected a').html() == 'Map') {
              $('iframe.tab-content').addClass('loaded');
              $('iframe.tab-content').each(function(){
                  this.contentWindow.location.reload(true);
              });
//            if ( !$('iframe.tab-content').hasClass('loaded') ) {
//                // reload
//                $('iframe.tab-content').each(function() {
//                    //this.contentWindow.location.reload(true);
//                    this.contentWindow.reload();
//                });
//                $('iframe.tab-content').addClass('loaded');
//            }
          }
          event.preventDefault(); // Prevent link from following its href
        });



	})
</script>