<div class="separator"></div>

<div id="footer-container">
	<div class="footer">
		<p><img src='/images/clo-logo.png' width='500'/></p>
		<div float='right' style=''>
			<p class='license'>BARN and <a href="http://xbat.org">XBAT</a> are open-source software distributed under the <a href="http://www.gnu.org/licenses/agpl.html">Affero GPL</a> and <a href=http://www.gnu.org/licenses/gpl.html>GPL</a> respectively.</p>
			
			<ul class='svn-info'>
				<li>					
					<%= ($svn_last_change.blank?)? "Last Changed Date: nil" : $svn_last_change %>
				</li>
				<li>					
					<%= ($svn_url.blank?)? "URL: nil" : $svn_url %>
				</li>
				<li>					
					<%= ($svn_revision.blank?)? "Revision: nil" : $svn_revision %>
				</li>
				<% if RAILS_ENV == 'development' %>
					<li>
						Server: <%= local_ip %>
					</li>
					<li>
						<% config = YAML.load_file(RAILS_ROOT + '/config/database.yml')[RAILS_ENV] %>
						Database: <%= "#{config['database']} (#{config['adapter']})" %>
					</li>
				<% end %>
			</ul>
		</div>
		<!--<div style="height:12em;">-->
		<!--	<a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/us/88x31.png" /></a>-->
		<!--	This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>-->
		<!--</div>-->

	</div>
</div>