<%
	con = params[:controller]

	act = params[:action]

	sel = 'class="selected"'

    menu_model = { :con => con, :act => act, :sel => sel, :logged_in? => logged_in? }
%>

<div id="header-container">
  
	<div id="activity-indicator" style="display:none;">
		Loading ...
	</div>
	
	<!--TOP-BAR-->
	
	<div id='top-bar'>
		<% if logged_in? %>
		
			<div id="meta-nav">
				<ul>
					<li <%= 'class="selected"' unless con != 'home' %>>
						<%= link_to "Home", "/home" %>
					</li>

					<li <%= 'class="selected"' unless con != 'library' %>>
						<%= link_to "Library", sounds_path %>
					</li>
					
					<li <%= 'class="selected"' unless con != 'projects' %>>
						<%= link_to "Projects", projects_path %>
					</li>

					<% if current_user.is_admin? -%>
						<li><%= link_to "Admin", users_path %></li>
					<% end -%>
					
					<!--TODO: we should create a controller for these, we should integrate some engine-->
					
					<li><%= link_to "Help", "/docs/reference"%></li>
				</ul>
			</div>
        <% else %>
		
			<div id="meta-nav">
				<ul>
					<li <%= 'class="selected"' unless con != 'home' %>>
						<%= link_to "Home", home_path %>
					</li>
                </ul>
            </div>
		<% end %>
		
		<div id="login">
			<ul>
				<% if logged_in? %>
					<li><%= current_user.login %></li>
					
					<li><%= link_to "Account", edit_user_url(User.current) %></li>
					
					<li><%= link_to "Sign out", '/sessions/destroy' %></li>
				<% else %>
					<li><%= link_to "Sign up", '/signup' %></li>
					
					<li><%= link_to "Login", '/sessions/new' %></li>
				<% end %>
			</ul>
		</div>
		
	</div>
		
	<!--BANNER-->
	
	<div id="banner">
		<table style="width: 100%; margin: 0em 0em 0em 0em; padding: 0em; padding-left: 1em; padding-top: 0em;">
			
			<tr style="margin: 0em; padding: 0em;">
			 
			<!--NOTE: the left padding allows offset for image-->
			  
            
			<td style="width: 500px; margin: 0em; margin-bottom: -1em; padding: 0em; padding-left: 0em; padding-right: 1.5em;">
                <!--<span class="logo">barn.<span class="domain">xbat.org</span></span>-->
				<!--<img alt="BARN - BioAcoustic Resource Network" src="/images/barner-4-medium.png"/>-->
				
				<!--TODO: make this depend on the domain-->
				
				<h1>barn<span id='xbat-uri'>.xbat.org</span><span id='release-level'>alpha</span></h1>
			</td>
			
			<td style="padding-right: 1.5em">
	
				<div id='barn-search'> <!--HEADER-->
					
					<% form_tag '/search', :method => :get, :id => 'barn-search-form', :class => 'barn-search-form' do %>
					
						<%= text_field_tag :query %>
						
						<% if false %> <!--NOTE: previously the test was logged_in?-->
						
							<select name='search_type'>
								<option value='local' selected>Local</option>
								
								<option value='local'>Public</option>
							</select>
							
						<% end %>
						
						</br>
						
						<%= submit_tag 'Search', :id => 'submit' %>
					<% end %>
					
				</div>
			</td>
			
		</table>
	</div>

</div>

<div id='header'>

	<%
	   # primary menus can be found in the widgets directory, or be expressed directly below
	-%>
	<div id="menu">
		<ul>

		<!--TODO: this dispatcher is not correct in all cases. for example, when displaying home public projects it gets confused-->
		
		<% if ['files', 'sync', 'peers', 'silos'].include?( con ) || ( con == 'users' && act == 'edit' ) -%>

			<%= render :partial => 'widgets/menu_account',  :locals => { :menu_model => menu_model } -%>

        <% elsif (con == 'home' || public_view?) -%>

              <%= render :partial => 'widgets/menu_home',  :locals => { :menu_model => menu_model } -%>

		<% elsif (con == 'sounds' || con == 'logs' || con == 'events' || con == 'recordings' || con == 'tag_sets' || con == 'jobs') -%>

			<%= render :partial => 'widgets/menu_library',  :locals => { :menu_model => menu_model } -%>

		<% elsif con == 'docs' -%>

			<%= render :partial => 'widgets/menu_docs',  :locals => { :menu_model => menu_model } -%>

		<% elsif con == 'recordings' && logged_in? -%>

			<li class="selected"><%= link_to "Upload recordings", new_recording_path, :id => 'new-recording' %></li>

		<% elsif con == 'projects'%>

			<%= render :partial => 'widgets/menu_projects',  :locals => { :menu_model => menu_model } -%>

		<% elsif con == 'users' && !User.current.nil? && User.current.is_admin? %>

				<%= render :partial => 'widgets/menu_admin',  :locals => { :menu_model => menu_model } -%>			

		<% else -%>

		<% end -%>

		</ul>
	</div>

</div>


<%
   # sub menus are described in the helper for a particular controller
   # there, they can be differentiated by action
-%>

<% elements = sub_menu() -%>

<% if elements.nil? || elements.empty? -%>

	<div style='height:1em'></div>
<% else %>

	<div id="sub-menu">
		<ul>
			<% elements.each { |element| -%>
				<li><%= link_to element[:title], element[:path] -%></li>
			<% } -%>
		</ul>
	</div>
<% end -%>