<script>

$(document).ready( function(){
	
	$('#silo-form').submit( function(){
		$('#response-text').val("Request sent ...");

		$.ajax({
			type: "GET",
			dataType: 'text',
			data:$(this).formSerialize(),
			url: $(this).attr("action"),
			complete: function(response, status){
				var array  = $('#request').val().split('.');
		    var format = array[array.length - 1];
				data = response.responseText;
				
				try{
					if($('#format').val() == "js") data = JSON.stringify($.parseJSON(data), null, 2);
				}
				catch(e){
					console.log(e)
				}

				$('#response-text').val(data);
			}
		});

		return false;
	});
	
})

</script>
<% if @silos.size < 1 %>
	Please register a Silo to use this console.
<% else %>

<div style="float:left;margin-right:40px;">
	<form id="silo-form" action="/silos/remote_request" method="GET">
		<p>
			Silo<br />
			<select name="guid" style="width:250px;">
				<% @silos.each do |silo| %>
				<option value="<%= silo.guid %>"><%= silo.host %> - <%= silo.guid %></option>
				<% end %>
			</select>
		</p>
		<p>
			Resource Request<br />
			<input type="text" name="request" id="request">
			</input>
		</p>
		<p>
			Response Format<br />
			<select name="format" id="format">
				<option value="js">json</option>
				<option>html</option>
				<!-- <option>xml</option> -->
			</select>
		</p>
		<p>
			Password
			<br />
			<input type="text" name="password">
			<br />
			<small>
				(only required if you have Silo authentication)
			</small>
		</p>
		<p>
			<input type="submit" value="submit">
		</p>
	</form>
</div>

<div style="float:left;">
	<label>Silo status</label><br />
	<textarea id="response-text" style="width:900px;height:350px;font-family:courier;font-size:12px;">
	
	</textarea>
</div>

<div style="clear:both;"></div>
<% end %>