<p><%= label_tag 'login' %><br/>
<%= f.text_field :login %></p>

<p><%= label_tag 'email' %><br/>
<%= f.text_field :email %></p>

<p><%= label_tag 'password' %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
<%= f.password_field :password_confirmation %></p>

<% if User.current && User.current.is_admin? %>
	<p><%= label_tag 'role', 'Additional Role' %><br/>
	<%= f.select :role, Role.find(:all).collect{|r| [ r.name, r.id ] }, :include_blank => true %></p>
<% end %>