<h2>FileWidget</h2>

<% form_for @file_resource, :html => {:multipart => true} do |f| -%>
	<%= f.file_field :resource %>
	<p><%= submit_tag 'Update Resource' %> &nbsp; <%= link_to 'Cancel', projects_path %></p>
<% end -%>