<p>
<%= label_tag 'name' %><br/>

<%= f.text_field :name %>
</p>

<p>
<%= label_tag 'description' %><br/>

<%= f.text_field :description %>
</p>

<p>
<%= label_tag 'long description' %><br/>

<%#= f.text_field :long_description %>

<%= f.text_area(:long_description, :size => '80x12') %> 
</p>

<p>
<%= label_tag 'privacy' %><br/>

<%= f.select('public', {:public => 1, :private => 0} ) %>
</p>