<%
	@container_id = params[:container_id]

	@resources = controller.instance_variable_get("@#{params[:controller]}")

	user = User.current

	# The IDs coming from the params are resource specific IDs,
	# so they must be removed from params hash to maintain the other conditions for finding a project

	resource_ids  = params.delete(:id)

	resource_name = params[:controller]

	@project = Project.find(params[:project_id])
-%>



<form action="#" method="post" id='project-asset-form'>

	<input type="hidden" name="_method" value="put">

	<% 	@resources.map{|r| r.id}.each do |i| -%>
		<input type="hidden" name="remove_users" value="<%= i %>">
	<% end -%>

	<p>
		Remove these <%= params[:controller] %> from
	</p>

	<%= @project.name %>

	<input type='hidden' name='project_id' value='<%= params[:project_id] %>'>

	<br/><br/>

	<div class="form-submit">
		<%= submit_tag "remove_users", :id => 'submit' %> &nbsp; <input type="button" id="cancel" onclick="closeDialog('#verb-form')" value="Cancel">
	</div>
</form>

<!--
	Form scripts
-->

<script>

	// AJAX form submission

	$('#project-asset-form').submit( function() {

		var form = $(this);

		var project_id = <%= @project.id %>

		$(this).ajaxSubmit({
			url: "/projects/" + project_id + ".js", // this should be specifiable with dataType, but its not working
			success: function(responseText) {
				try {
					refresh_container('<%= @container_id %>')
					close_dialog(form.parent());
					flash("notice", "Users have been successfully removed");
				}
				catch(e) {
					console.log(e)
				}
			}
		});

		return false;
	});

</script>
