<h2>Create a new project</h2>

<p>A project helps coordinate the annotation of a sound collection by a group of people.</p>

<%= error_messages_for :project %>

<% form_for @project, :html => {:multipart => true} do |f| -%>

  <%= render :partial => "form", :locals => {:f => f} %>
  
  <p>
    <%= submit_tag 'Create project', :class => 'project-submit submit' %> &nbsp; <%= link_to 'Cancel', projects_path, :class => 'cancel' %>
  </p>
<% end -%>