<h2>Search Results</h2>

<div id="events-header" class="section-header">
	<h2>Events (<span class='total-count'></span>)</h2><div class="export-links"></div>
</div>

<div id="events-listing" class="section-body"></div>
<div style="clear:both"></div>

<div id="sounds-header" class="section-header">
	<h2>Sounds (<span class='total-count'></span>)</h2><div class="export-links"></div>
</div>

<div id="sounds-listing" class="section-body"></div>
<div style="clear:both"></div>

<div id="logs-header" class="section-header">
	<h2>Logs (<span class='total-count'></span>)</h2><div class="export-links"></div>
</div>

<div id="logs-listing" class="section-body"></div>
<div style="clear:both"></div>

<div id="projects-header" class="section-header">
	<h2>Projects (<span class='total-count'></span>)</h2><div class="export-links"></div>
</div>

<div id="projects-listing" class="section-body"></div>
<div style="clear:both"></div>

<script>


	function loadChildGrid( targetClass, listingMode ){

		if ( !listingMode ) { listingMode = 'listing'; }

		url = "/" + targetClass + "?partial=" + targetClass + "/" + listingMode + "&per_page=10&query=<%= params[:query] %>&heading_selector=%23" + targetClass + "-header&hidemap=true&hidetags=true&hidereport=true";
		$("#" + targetClass + "-listing").load(url);
		      <%= someterm = 0 %>
	}


	$(document).ready(function () {

		// Getting the path from the URL ensures that nested scoping is maintained.

	    loadChildGrid('events', 'clips');
		loadChildGrid('sounds');
		loadChildGrid('logs');
		loadChildGrid('projects');

	})
</script>