
<h2>
  Dashboard
</h2>


<div class="demo">
	
	<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
		
		<!-- NOTE: elements of this list will become tabs -->
		
		<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
			
			<li class="ui-corner-top ui-tabs-selected ui-state-active ui-state-hover">
				<a href="sounds.html?layout=false" title="Sounds"><span>Sounds</span></a>
			</li>
		
			<li class="ui-corner-top ui-state-default">
				<a href="#tabs-2">Projects</a>
			</li>
			
			<% if logged_in? and current_user.is_admin? %>
				<li class="ui-corner-top ui-tabs-selected ui-state-active ui-state-hover">
					<a href="users.html?layout=false"><span>Users</span></a>
				</li>
			<% end %>
			
		</ul>
		
		<!-- NOTE: these divs will become the content of the tabs above, mapped title to id -->
		
		<div id="sounds" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
			
		</div>
	
		<div id="tabs-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
			<p>
				Unimplemented
			</p>
		</div>
		
		<% if logged_in? and current_user.is_admin? %>
		<div id="tabs-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">

		</div>
		<% end %>

	</div>
	
</div><!-- End demo -->

<div class="demo-description">

</div><!-- End demo-description -->







<br />
<br />

