<script>
<% unless ( flash[:notice].nil? || flash[:notice].blank?) -%>
	flash_notice('<%= flash[:notice] -%>');
<% end -%>
<% unless ( flash[:error].nil? || flash[:error].blank?) -%>
	flash_error('<%= flash[:error] -%>');
<% end -%>
</script>
