<%
if (taggable.blank?)
  taggable_type = '{TAGGABLE_TYPE}';

  taggable_id = '{TAGGABLE_ID}';

  tag_list = '{TAG_LIST}';

  prefix = taggable_type + '-' + taggable_id;
else
  prefix = taggable.class.to_s.downcase + '-' + taggable.id.to_s;

  tag_list = taggable.my_tags()

  #tag_review = Projects.find( :all, :conditions => "" ).namespace_tags('review')
  tag_review = []
  projects = taggable.sound.projects
  projects.each() { |project|
	  tag_review += project.namespace_tags('review')
  }

  tag_review.uniq!()
  tag_review = tag_review - tag_list
  

  tag_other = taggable.other_tags()
end
%>

<div class="render-editable-tags tags" id="<%= prefix %>-tags">
		<% tag_list.each { |tag| -%>
		<%= tag %>,
		<% } -%>
</div>

<div style="display: none;" id="<%= prefix %>-tags-hidden">
		<% tag_list.each { |tag| -%>
		<%= tag %>,
		<% } -%>
</div>

<div style="clear: both" id="<%= prefix %>-tags">
  Review
	<ul class="tag_list voted">
		<% tag_review.each { |tag| -%>
		<li class="tag" rel="<%= tag %>"><%= tag %></li>
		<% } -%>
	</ul>
</div>

<div style="clear: both" id="<%= prefix %>-tags">
	Others
	<ul class="tag_list voted">
		<% tag_other.each { |tag| -%>
		<li class="tag" rel="<%= tag %>"><%= tag %></li>
		<% } -%>
	</ul>
</div>

<script>

	bindTagTips( $('.voted', ''));
</script>