<% if @tags && !@tags.empty? %>

	<div class='tag-cloud'>
		
		<% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
		
			<% if tag.filtered_count %>
			
				<% label_count = tag.filtered_count < tag.count ? "(#{tag.filtered_count || 0}&nbsp;of&nbsp;#{tag.count})" : "(#{tag.count})"%>
				
				<span class="wrapper selected <%= css_class %>">
					<span title='Set filter to "<%= tag.name %>"' target="<%= tag.name %>" class="tag"><%= tag.name %>&nbsp;<%= label_count %></span>&nbsp;<span class='add' title='Add "<%= tag.name %>" to filter' target="<%= tag.name %>">+</span>
				</span>
			<% else %>
			
				<span class="wrapper <%= css_class %>">
					<span title='Set filter to "<%= tag.name %>"' target="<%= tag.name %>" class="tag"><%= tag.name %>&nbsp;(<%= tag.count %>)</span>&nbsp;<span class='add' title='Add "<%= tag.name %>" to filter' target="<%= tag.name %>">+</span>
				</span>
			<% end %>			
			
			<%#= link_to("#{tag.name}", params.merge({:query => tag.name, :page => 1}), :class => "tag #{css_class}") %>
		<% end %>
	</div>
<% end %>

<!--NOTE: this used to be after the count-->

<!--&nbsp;<span class='add'>+</span>-->
