<%

	#--
	# build verbs description based on context
	#--
	
	actions = {
		# 'delete' => '#'
	}
		
	verbs = {:list => [], :actions => actions}
	
	#--
	# pack display options
	#--
	
	options = get_listing_display_options(local_assigns, params)

	params[:partial] = 'notes/listing'
	
%>


<%= render :partial => 'widgets/listing', :locals => {
	:objects => notes,
	:verbs => verbs,
	:options => options,
	:expansion_url => Proc.new { |note|
		if @parents.blank?
			note_path(note) << "?layout=false"
		else
			polymorphic_path([@parents.first, note]) << "?layout=false"
		end
	}
}%>
