<%
	container_id = rand_id
	
	options = get_listing_display_options(local_assigns, params)
	
	# TODO: the above function needs work, the default value for heading is 0
	
	#options[:heading] = 1
		
	params[:partial] = 'tasks/listing'
	
%>

<%#= debug params %>

<%= render :partial => 'widgets/listing', :locals => {
	:objects => @tasks,
	:verbs => {:list=>[]},
	:options => options,
	:heading_markup => "<h2>Tasks (#{@metadata[:total_entries]}) #{params[:dirname]}</h2>",
	:expansion_url => Proc.new {|file|
 		
	}
}%>

<script type="text/javascript">

	$(document).ready( function () {
		
		$('a.render.tasks-listing').removeClass('render').click( function () {
			
				// NOTE: this can also be done through 'load'
				
				$.get(this.href, null, function (response) {
					$('#tasks-listing').html(response);
				});
			
				return false;
		});
		
	});
	
</script>