<div id="tasks-header" class="section-header">
	<h2>Tasks</h2>
</div>

<div id="tasks-listing" class="section-body">
	<%= render :partial => 'listing', :locals  => { :tasks => @tasks }, :layout  => false %>
</div>