<div id="projects-header" class="section-header">
	<h2>Projects (<span class='total-count'></span>)</h2><div class="export-links"></div>
</div>

<div id="projects-listing" class="section-body">

</div>

<script>
	$(document).ready(function () {

		// Getting the path from the URL ensures that nested scoping is maintained.

		var path  = $.url.setUrl(this.href).attr("path");
		url = path + "?partial=projects/listing&per_page=10&heading_selector=<%= u '#projects-header' %>&type=<%= params[:type] %>";

		// NOTE: not using this load we were not updating the header

		$("#projects-listing").load(url);
	})
</script>
