<!--TODO: re-integrate project editing and description into the interface-->

<% if !params.include?('layout') || params[:layout] != "false" %>

<div class="section-header">
	
	<h2><%= link_to @project.name, edit_project_path(@project), :class => 'edit-link', :title => "Click&nbsp;to&nbsp;edit&nbsp;project" %></h2>
	
	<div class='export-links'><%= export_links(params) -%></div>
	
	<!--<%#= @project.description %>-->
</div>

<div style="clear:both;"></div>

<p>
	<!--NOTE: 'project.images' uses the 'project_asset' relation, not the current 'file_resource' relation-->
	
	<% @project.images.each do |image| %>
		<%= image_tag image.public_filename(:medium), :style=>"border:2px solid grey" %><br />
		
		<%#= 
			link_to( "delete this image", project_image_path(@project, image),
				:confirm => "Are you sure you want to delete this image?",
				:method => :delete
			) if @project.user_can_edit?(User.current) and image.user_can_delete?(User.current)
		%>
	<% end %>
</p>

<!--NOTE: we can use the layout options to discriminate between a page loaded versus panel loaded element!-->

<%#= debug params %>

<%# if !params.include?('layout') || params[:layout] != "false" %>

	<div class="two-column-left">
		
		<div id="<%= rand_id %>" class="ajax-tabs render-ajax-tabs">
		
			<ul class="tabs-list">
				<li><a href="">Description</a></li>
			</ul>
		</div>
		
		<div class='description-content'>
			<!--TODO: make this 'textile' markup, and the corresponding form editor a textile editor-->
			
			<%= @project.long_description %>
		</div>
	</div>
	
	<div class="two-column-right file-resources">
		
		<div id="<%= rand_id %>" class="ajax-tabs render-ajax-tabs">
		
			<ul class="tabs-list">
              <% default_params = {:per_page => 5} %>
              <%= addTab( renderCountLabel( 'Files', @project.file_resources.count ), project_file_resources_path(@project, {:partial => 'file_resources/listing'}.merge(default_params)), {:title => 'Files'}) %>
              <%= addTab( renderCountLabel( 'Images', @project.file_resources.count ), project_file_resources_path(@project, {:partial => 'file_resources/image_glider'}.merge(default_params)), {:title => 'Images'}) %>
			</ul>
			
			<div class="tabs-target">
				Loading ...
			</div>
			
		</div>
	</div>
<% end %>

<!--NOTE: this is an example of the markup that would be needed to get simple tabbing-->

<!--TODO: we should only need the list, wrap it, append the target, and hijack using javascript -->

<!--TODO: figure out how to update the tab markup using the listing-->

<%#= debug default_params %>

<div id="<%= rand_id %>" class="ajax-tabs render-ajax-tabs">

	<ul class="tabs-list">
      <% default_params = {:per_page => 5} %>
      <%= addTab( renderCountLabel( 'Sounds', @project.sounds.count ), project_sounds_path(@project, {:partial => 'sounds/listing', :direction => 'desc', :order => 'sound.events_count'}.merge(default_params)), {:title => 'Sounds'}) %>
      <%= addTab( renderCountLabel( 'Logs', @project.logs.count ), project_logs_path(@project, {:partial => 'logs/listing',  :direction => 'desc', :order => 'log.events_count'}.merge(default_params)), {:title => 'Logs'}) %>
      <%= addTab( renderCountLabel( 'Files', @project.file_resources.count ), project_file_resources_path(@project, {:partial => 'file_resources/listing'}.merge(default_params)), {:title => 'Files'}) %>
      <%= addTab( renderCountLabel( 'Users', @project.members.count ), project_users_path(@project, {:partial => 'users/listing'}.merge(default_params)), {:title => 'Members'}) %>
      <%= addTab( renderCountLabel( 'Reviews', @project.reviews.count ), project_reviews_path(@project, {:partial => 'reviews/listing'}.merge(default_params)), {:title => 'Reviews'}) %>
      <%= addTab( renderCountLabel( 'Tag Sets', @project.tag_sets.count ), project_tag_sets_path(@project, {:partial => 'tag_sets/listing'}.merge(default_params)), {:title => 'TagSets'}) %>
	</ul>

	<div class="tabs-target">
		Loading ...
	</div>
</div>

<script>
	$(document).ready( function() {
		
		render_ajax_tabs();
		
		$('html head title').text("BARN - Projects - <%= @project.name %>");
	})
</script>

