<div id="files-header" class="section-header">
	<h2>Files</h2>
</div>

<%#= debug params %>

<%#= url_for params %>

<div id="files-listing" class="section-body">
	<!-- 
		Please leave this in for reference.
		The following is equivalent to the lazy loading the listing. 
		It maintains dynamic headers of the listing and preserves URL params
	-->
	<%#= render :partial => 'listing', :locals  => { :files => @files }, :layout  => false %>
</div>

<script>
	
	// NOTE: This lazy load discards all params in the URL, links may not behave as expected.

	$(document).ready(function () {
		
		<% params[:partial] = 'files/listing'; url = url_for(params) %>
		
		var url = "/files?partial=files/listing";
	
		$("#files-listing").load(url);
	})

</script>