body{
	font-family:"Lucida Sans Unicode","Lucida Grande",Helvetica,Arial,sans-serif;
	font-size:14px;
	color:gray;
}
.mbmenu{
  display:none;
}
.rootVoices{
	background-color:#f3f3f3;
	padding:5px;
	padding-bottom:0;
}
.rootVoices td.rootVoice {
	vertical-align:middle;
	background-color:transparent;
	width:120px;
	font-family:Arial,Helvetica,sans-serif;
	color: gray;
	font-size:12px;
	line-height:18px;
	padding:8px;
	cursor: pointer;
	-moz-border-radius:8px 8px 0 0;
	-webkit-border-top-right-radius:8px;
	-webkit-border-top-left-radius:8px;
}
.rootVoices.vertical {
	width:140px;
}
.rootVoices.vertical td.rootVoice{
	-moz-border-radius:8px 0px 0 8px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:8px;

}
.rootVoices td.selected{
	background:orangered url("../images/bgnd_sel_4.png");
	padding:8px;
	color:#ffffff;
	cursor: pointer;
	font-size:14px;
}

.menuShadow{
	padding:2px;
	padding-bottom:0px;
	left:-2px;
	top:1px;
}

/**/

.menuContainer{
	background-color:gray;
	padding:0;
}
.menuContainer .line{
	background-color:transparent;
	width:100%;
}
.menuContainer .line.title {
	background-color:#B23305;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	border-bottom:1px solid darkred;
}
.menuContainer .line.title a{
	font-size:14px;
}
.menuContainer td a{
	text-decoration:none;
	color: #f3f3f3;
}
.menuContainer td.voice{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	padding:7px;
}
.menuContainer .separator{
	background-color:#999;
	height:1px;
}
.menuContainer td.img{
	font-family:Arial,Helvetica,sans-serif;
	text-align:center;
	font-size:12px;
	color: #c3c3c3;
	background-color:transparent;
	width:24px;
	padding:5px;
}
.menuContainer td.img img{
	width:20px;
}
.menuContainer .textBox{
	padding: 10px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	background:dimgray url("../header_bgnd.jpg");
	color: #c3c3c3;
}
.menuContainer .selected td{
	background-color:#f3f3f3;
	background-image:url("../images/bgnd_sel_2.jpg")
}
.menuContainer .selected td a{
	color:#000;
}
.menuContainer .disabled td, .menuContainer .disabled td a {
	color: #cccccc;
}
.menuContainer .subMenuOpener{
	background-image:url("../images/menuArrow_w.gif");
	background-repeat:no-repeat;
	background-position:right;
}
.menuContainer .selected .subMenuOpener{
	background-image:url("../images/menuArrow.gif");
	background-repeat:no-repeat;
	background-position:right;
}
