<%
# 	if logged_in? and params.include?(:project_id)
#		project = Project.find(params[:project_id])
#		if current_user.is_admin? || project.owner == current_user || project.user_has_role?(current_user, 'Administrator')
			
#		end
#	end
	
	verbs = {
		:list => ['tag', 'delete'], 
		:actions => {
			'tag'			=> '#',
			'delete'	=> '/projects?partial=widgets/confirm_delete'
		},
		:dialog_options => {}
	}
	
	options = get_listing_display_options(local_assigns, params)
	
	params[:partial] = 'users/listing'

%>
<%= render :partial => 'widgets/listing', :locals => {
	:objects => users,
	:verbs => verbs,
	:options => options
}%>

