<h2>Profile</h2>

<p>
	Be aware that changing your password here also changes your FTP password to be the same.
</p>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => {:f => f} %>
	Current roles: <%= @user.roles.map{|r| r.name } %>
	<br />
	
  <p>
    <%= f.submit "Update" %> | <%= link_to 'Cancel', users_path %>
  </p>
<% end %>