<div class="form">
<h2>Forgot Password</h2>

<% form_for :user, :action=>'forgot_password' do |f| %>
<table>
    <tr>
        <td align="right"><label for="">Email:</label></td>
        <td> <%= f.text_field :email, :size => 40, :id => "username" %></td>
    </tr>
    <tr>
        <td></td>
        <td align="right"><br><input type="submit" value="Send me a new one ..." style="width:180px;" id="login_button" class="submit"></td>
    </tr>
</table>

<% end -%>

</div>