<h2>Users</h2>

<p>
  <b><%= link_to 'New User', new_user_path %></b>
</p>

<div id="container">

  <table class="listing">
    
    <thead>
      <tr>
        <th>Login</th>
        <th>Email</th>
        <th>Created at</th>
        <th>State</th>
        <th>Roles</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <% for user in @users %>
      <tr class="<%= cycle 'even', 'odd' %>">
        <td><%= h user.login %></td>
        <td><%= h user.email %></td>
        <!-- <td><%#= user.created_at.strftime("%b&nbsp;%d,&nbsp;%Y&nbsp;at&nbsp;%I:%M%p")  %></td> -->
        <td><%= h user.created_at %></td>
        <td><%= h user.state %></td>
        <td><%= h user.roles.collect{|role| role.name}.join(', ') %></td>
        <% if user.state != 'deleted' %>
          <td class="button"><%= link_to 'Show', user_path(user) %></td>
          <td class="button"><%= link_to( 'Soft Delete', user_path(user), :confirm => 'Are you sure?', :method => :delete )%></td>
          <td class="button"><%= link_to( 'Destroy', purge_user_url(user), :confirm => 'Are you sure?', :method => :delete )%></td>
        <% end %>
      </tr>
    <% end %>
  
  </table>
  
</div>

<script>
$(document).ready(function(){
  
  $("tr").hover(
	function () {
	  $(this).addClass('hover');
	}, 
	function () {
	  $(this).removeClass('hover');
	}
  );

});
</script>


