<div id="tag_sets-header" class="section-header">
	<h2>Tag-sets (<span class='total-count'></span>)</h2><div class="export-links"></div>
</div>

<div id="tag_sets-listing" class="section-body">

</div>

<script>
	$(document).ready(function () {

		// Getting the path from the URL ensures that nested scoping is maintained.

		var path  = $.url.setUrl(this.href).attr("path");
		url = path + "?partial=tag_sets/listing&per_page=10&heading_selector=<%= u '#tag_sets-header' %>&type=<%= params[:type] %>";

		// NOTE: not using this load we were not updating the header

		$("#tag_sets-listing").load(url);
	})
</script>
