<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>

<head>

	<title>
		<% $caption %>
	</title>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="language" content="en" />

	<% link style $style %>

	<style type="text/css"> 
		body {
			background-color: transparent;
			border: none; 
			margin: 2em auto;
		}
	</style>

</head>

<body>

<div id="header" class="center figure">
	<% link image $image %>
	<p>
		<% $caption %>
	</p>
</div>

</body> 

</html>