Welcome to BARN!

Your account has been created.

  Username: <%=h @user.email %>
  Password: <%=h @user.password[0,1] + '*' * (@user.password.length - 1) %>

Visit this url to activate your account:

  <%=h @url %>
