<%
	
	container_id = rand_id

	verbs = {
		:list => ['tag', 'add to project', 'share', 'delete'],
		:actions => {
			'tag' => '/logs?partial=widgets/new_tag',
			'add to project' => "/logs?partial=widgets/project_asset_form&container_id=#{container_id}",
			'share' => '/logs?partial=widgets/share',
			'delete' => '/logs?partial=widgets/confirm_delete'
		}
	}

	if params.include?(:project_id)
		verbs[:actions]['remove'] = "/projects/#{params[:project_id]}/logs?partial=widgets/project_asset_form&container_id=#{container_id}&asset_action=remove"
		verbs[:list] = ['tag', 'annotate', 'remove']
	end
		
	options = get_listing_display_options(local_assigns, params)

	params[:partial] = 'logs/listing'

%>

<%= render :partial => 'widgets/listing', :locals => {
	:objects => logs,
	:verbs => verbs,
	:options => options,
	:container_id => container_id,
	:expansion_url => Proc.new {|log|
		log_path(log, :partial => 'logs/associated')
	}
}%>
