<h2>New log for <%= link_to @log.sound.name, sound_path(@log.sound) %></h2>

<% form_for(@log) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p>
    <%= f.submit "Create" %> | <%= link_to 'Cancel', sound_path(@log.sound) %>
  </p>
<% end %>