<script language="JavaScript" src="http://www.fakedomain.com/myname/audio/audio-player.js"></script>
<object type="application/x-shockwave-flash" data="http://www.fakedomain.com/myname/audio/player.swf" id="audioplayer1" height="24" width="290">
<param name="movie" value="http://www.fakedomain.com/myname/audio/player.swf">
<param name="FlashVars" value="playerID=1&amp;
bg=0xf8f8f8&amp;
leftbg=0xeeeeee&amp;
lefticon=0x666666&amp;
rightbg=0xcccccc&amp;
rightbghover=0x999999&amp;
righticon=0x666666&amp;
righticonhover=0xffffff&amp;
text=0x666666&amp;
slider=0x666666&amp;
track=0xFFFFFF&amp;
border=0x666666&amp;
loader=0x9FFFB8&amp;
loop=no&amp;
autostart=no&amp;
soundFile=http://www.fakedomain.com/myname/audio/music.mp3">
<param name="quality" value="high">
<param name="menu" value="false">
<param name="wmode" value="transparent">
</object>