<script language="JavaScript" src="<%root%>/audio-player.js"></script>

<object type="application/x-shockwave-flash" data="<%root%>/player.swf" id="audioplayer<%id%>" height="24" width="290">
<param name="movie" value="<%root%>/player.swf">
<param name="FlashVars" value="playerID=<%id%>&amp;soundFile=<%root%>/<%file%>.mp3">
<param name="quality" value="high">
<param name="menu" value="false">
<param name="wmode" value="transparent">
</object>