<div class="clipTip" id="currentTip">
	<div class="tipBar">
		<div>
			<ul class="hmenu"><li class="selected">tags</li><li>info</li></ul>
		</div>
		<div class="title"></div>
		<!--<span class="jquery-icon ui-state-default ui-corner-all ui-icon ui-icon-close"></span>-->
		<div style="clear: both"></div>
	</div>
	<div id="innerTip">

		<div id='event_<%= event.id %>_tip'>


		<div class='tip_tags'>
			<%= render(:partial => 'tags/clip_tags', :locals => {:taggable => event}) %>
		</div>

		<div class='tip_info'>
			Time: <%= sec_to_clock event.start %><br/>
			Duration: <%= sec_to_clock event.duration %><br/>
			Low Freq: <%= rate_to_hertz event.low %><br/>
			High Freq: <%= rate_to_hertz event.high %><br/>
		</div>

		<script>
			$(document).ready( function() {

				render_simple_ratings();
			});

		</script>

		</div>

	</div>

</div>