<!--CONFIGURATION-->
<%
	
    type = params[:controller]

    object_path = type.singularize + '_path'

    options = options || {}

    total_entries = @metadata[:total_entries]

    heading_markup = local_assigns[:heading_markup] ? local_assigns[:heading_markup] : '' # "<h2> #{title_caps(type)} (#{total_entries}) </h2>"

    heading_selector = params.include?(:heading_selector) ? params[:heading_selector] : ''

    container_id = local_assigns[:container_id] ? local_assigns[:container_id] : rand_id

    paginate_markup = objects.is_a?(WillPaginate::Collection) ? will_paginate(objects) : nil;

    # expansion_url = ""

    columns = columns_default

    # NOTE: the default expansion url is the show for the object without layout

    if options[:expansion] == 1 && (!local_assigns[:expansion_url] || expansion_url.blank?)

        expansion_url = Proc.new {|object|
            send(type.singularize + '_path', object, :format => 'html', :layout => false)
        }
    end
%>

<!--CONTAINER-->

<div style="margin:0;padding:0;" id="<%= container_id %>" class="grid-container">

	<% if options[:heading] == 1 && heading_selector.blank? %>
	
		<%= heading_markup %>
	<% end %>
		
	<!--SETUP REPORT AND TAGS-->

	<% if params[:hidetags].nil? || !params[:hidetags] == true %>
		<!--TAGS-->
		<span class='tag-cloud toggle show' title='tag-cloud'>Tags</span>
	<% end %>


	<% if ( params[:hidereport].nil? || !params[:hidereport] == "true" ) && objects.size > 0 -%>
		<%
			if ( !params['sound_id'].nil?  || !params['log_id'].nil?  )
				
				report_params = params.reject{|key,val| ['heading_selector', 'partial'].include?(key)}
				
				report_params['format'] = :html
				
				report_params['partial'] = 'widgets/histogram'
			end
		%>
		<span class='report toggle' title='report'>Report</span>
		
		<!--REPORT-->
		
		<iframe class='report pane' scrolling="no" src="<%= url_for(report_params)%>" style="width: 100%; <%= 'display: none' if objects.size == 0 %>"></iframe>	
	<% end%>

	<% if params[:hidetags].nil? || !params[:hidetags] == true %>
		<div class='tag-cloud-container'>
		<%= render(:partial => 'tags/tag_cloud') %>
        </div>
	<% end %>


	<table class="listing<%= ' striped' if params[:striped] %> <%= container_id %>" style="margin-bottom: 0em">

		<!--CAPTION-->
		
		<% if options[:caption] == 1 -%>
		<% options[:extra_sorting] = 1 -%>

		<%= render(
			:partial => 'widgets/grid_controls',
			:locals => {
				:type => type,
				:objects => objects,
				:verbs => verbs,
				:total_entries => total_entries,
#				:User.current => User.current,
				:columns => columns,
				:container_id => container_id,
				:paginate_markup => paginate_markup,
				:options => options,
                :metadata => @metadata
			}
		) -%>
			
		<% end %>
	
		<!--CONTENT-->
	
		</table>
		
		<% if objects.size == 0 -%>
			
			<p class="note">No <%= type %> are currently available.</p>
		<% else -%>
			<%
			# NOTE: this would be a good place for the hash-extension plugin
			
			if !params[:log_id].nil? then
				p = Log.find(params[:log_id]); @title_prefix = "#{p.name}"
				
			elsif !params[:sound_id].nil? then
				p = Sound.find(params[:sound_id]); @title_prefix = "#{p.name}"
				
			else
				@title_prefix = ''
			end
			%>
	
			<ul class="glider">
				<% objects.each do |object| %>
					<!--TODO: use the label to identify displayed objects-->
					
					<% label = type + "-" + object.id.to_s %>
					
					<%= column_markup(nil, type.singularize, object) %>
				<% end %>
			</ul>
		
		<% end %>

	<%
		#TODO: there is a better way here
		
		begin
			per_page = objects.first.class.per_page
		rescue
			per_page = 10
		end 	
	%>
	
	<%= render_per_page_controls( params, total_entries, per_page ) -%>

	<% if paginate_markup %>
		<%= paginate_markup %>
	<% end %>

	<div class='export-links events'><%= export_links(params) %></div>

<div style="display:none;" id="verb-form" title="test"></div>

<script type="text/javascript">

	$(document).ready(function(){

		/*
			The callback option to enable_ratings is called after the rating has been updated for a resource.
			Since enable_rating is called with type 'json', the rating itself is passed to the callback
		*/

		enable_filter_forms('<%= container_id %>');

		enable_clip_selection();

		enable_editable_tags(<%= logged_in?.to_s %>);

		bind_cloud_tags('<%= container_id %>');

		bind_inline_player('<%= container_id %>');

		bind_clip_tips('<%= container_id %>');

		bind_selection_elements('<%= container_id %>');

		enable_verbs('<%= container_id %>');
		
		//enable_review('<%= container_id %>');

		bind_selection_allnone('<%= container_id %>', 'glider');

		$('#<%= container_id %>' )[0].get_collection = function(){ return $( '#<%= container_id %> > ul.glider > .element' ); }

		bind_confirm_elements('<%= container_id %>');

        bind_tag_set_elements('<%= container_id %>');

        bind_clip_resize('<%= container_id %>');

		//--
		// update external heading
		//--

		<% if !heading_selector.blank? %>

			<% if !heading_markup.blank? %>
			
				// NOTE: this is the old way, left in place for backward compatibility for now
				
				$("<%= heading_selector %>").html("<%= heading_markup %>");
			<% else %>
				// NOTE: this is the new way. the parent listing creates a header with classed elements!
				
				$("<%= heading_selector %> .total-count").html("<%= @metadata[:total_entries] %>");
				
				$("<%= heading_selector %> .page").html("<%= params[:page] %>");
				
				$("<%= heading_selector %> .per-page").html("<%= params[:per_page] %>");
				
				// NOTE: the export_links functions is in application_helper.rb
				
				$("<%= heading_selector %> .export-links").html('<%= export_links(params) %>');
			<% end %>
			
		<% end %>

		//--
		// enable selection
		//--

		// TODO: this is a bit gnarly - the cursorOffset is a flag that could easily affect other parts of the UI
		// when multiple windows are open, etc.  If Idempotentcy is preserved (that is, it is read then set to null
		// then the potential issues could be avoided...

	    <% cursor_offset = (params['cursorOffset'] != nil) ? params['cursorOffset'] : 'null' %>
		
		cursorOffset = <%= cursor_offset %>
		
		set_cursor_for_grid( cursorOffset, '<%= container_id %>' );

		//--
		// target refresh, sort, and pagination links to container
		//--

		bind_link_targets('<%= container_id %>');
		
		
		// REPORT

		tab_toggle( '#<%= container_id %>', '.report.toggle', 'iframe.report.pane', function(){
		    $('iframe.report.pane', '#<%= container_id %>').attr({src: $('iframe.report.pane', '#<%= container_id %>').attr("src")});
		});
		
		tab_toggle( '#<%= container_id %>', '.tag-cloud.toggle', 'div.tag-cloud' );
		
		// enable_export_tips();
		
		// enable_tag_tips();
		
		// TODO: this canvas approach only works on recent mozilla browsers, add version check as well
		
		if (false) { // ($.browser.mozilla) {
			
			$('.render-clip-canvas', '#<%= container_id %>').each (function () {
				
				$(this).removeClass('render-clip-canvas');
				
				// NOTE: on DOM ready we attach the image load callback to canvas
				
				// REF: http://api.jquery.com/load-event/, this may not work on all browsers
				
				
				$(this).load ( function () {
					
					// console.log(this);
					
					$(this).hide();
					
					// create and insert canvas
					
					var canvas = document.createElement('canvas');
					
					canvas.setAttribute('width', this.width);
					
					canvas.setAttribute('height', this.height);
					
					$(canvas).addClass('clip-canvas');
			
					$(this).before(canvas);
					
					// draw image to canvas
					
					var ctx = canvas.getContext('2d');
					
					ctx.drawImage(this, 0, 0);
				});
			});
		}
		
		$('.sort-controls').children().filter(':last').css('border', 'none');
	
		$('.select-controls').children().filter(':last').css('border', 'none')

	});
</script>		


</div>

