<p>Are you sure you want to turn these files into sounds?</p>

<%
	@container_id = params[:container_id] 
	@resources = controller.instance_variable_get("@#{params[:controller]}")	
	@resources.map!{|r| r.id}
	@controller = params[:controller]
%>
<form action="/jobs" method="post" id='confirm-convert-sound-form'>
	<div class="form-submit">
	  <%= submit_tag 'Convert', :id => 'submit' %> &nbsp;
      <input type="button" id="cancel" onclick="closeDialog('#verb-form');" value="Cancel">
      <input type="hidden" id="job_action" name="job_action" value="create_sound">
      <input type="hidden" id="job_target" name="job_target" value="{<%= @resources.join(", ") %>}">
	</div>
</form>

<script>
	$('#confirm-convert-sound-form').submit(function() {
		
		var form = $(this);
		
		// submit the form 
		$(this).ajaxSubmit({
			url: $(this).attr("action") + ".js", // this should be specifiable with dataType, but its not working

			error: function (response) {
				close_dialog(form.parent());
				var text = "Sorry, an error has occurred: HTTP " + response.status + " :: " + response.responseText;				
				
				if(response.status == 403){
					text = "You cannot convert the selected sounds" ;
				}
				
				flash_error(text);
			},
			
			success: function(responseText){
				// on success, close the dialog, show a message, and refresh the container
				
				refresh_container('<%= @container_id %>');
				close_dialog(form.parent());
				flash_notice("Items have been converted.");
			}			
		});
		
		// return false to prevent normal browser submit and page navigation 
		return false; 
});
</script>