<!--CONFIGURATION-->

<%
	type = params[:controller]

	object_path = type.singularize + '_path'

	options = options || {}

	total_entries = @metadata[:total_entries]

	heading_markup = local_assigns[:heading_markup] ? local_assigns[:heading_markup] : '' # "<h2> #{title_caps(type)} (#{total_entries}) </h2>"

	heading_selector = params.include?(:heading_selector) ? params[:heading_selector] : ''

	container_id = local_assigns[:container_id] ? local_assigns[:container_id] : rand_id

	paginate_markup = objects.is_a?(WillPaginate::Collection) ? will_paginate(objects) : nil;

#	expansion_url = ""

	columns = columns_default

	editorFunction = local_assigns[:editorFunction] ? local_assigns[:editorFunction] : nil;

	# NOTE: the default expansion url is the show for the object without layout

	if options[:expansion] == 1 && (!local_assigns[:expansion_url] || expansion_url.blank?)

		expansion_url = Proc.new {|object|
			send(type.singularize + '_path', object, :format => 'html', :layout => false)
		}
	end
-%>

<!--CONTAINER-->

<div style="margin:0;padding:0;" id="<%= container_id %>" class="grid-container">
			
	<% if options[:heading] == 1 && heading_selector.blank? %>
	
		<%= heading_markup %>
	<% end %>
	
	<!--TAGS-->

		<!--CAPTION-->
		
		<% if options[:caption] == 1 -%>
		
			<% options[:extra_sorting] = 0 -%>		

			<caption>
				<div id="search">
					<!--TODO: we may want to set the name of a listing directly-->

					<!--NOTE: convention here is tempting, as in application_helper > feed_description, however it feels dangerous-->

					<span style="padding: 0em;">Filter <%= type.gsub('_', ' ') %></span>

					<% no_query = params.clone; no_query.delete(:query) %>

					<% form_tag url_for(no_query), :method => :post, :id => 'filter-' + container_id, :class => 'filter-form' do %>
						<%= text_field_tag :query, params[:query], :class => 'filter-query' %>
					<% end %>
				</div>
				<% if objects.size > 0 %>

					<%= paginate_markup %>

				<% end %>
			</caption>
			
		<% end -%>
	
		<!--CONTENT-->
			
		<% if objects.size == 0 -%>
			
		<%#= debug params %>
		
		<div class="filter-notice">
			No <%= type %> <%= "matching the query <span class='query'>\"#{params[:query]}\"</span>" unless params[:query].blank? %> are currently available.
		</div>
			
		<% else -%>

		<div style="width: 100%; clear: both;">&nbsp;</div>
		<div>
		<% objects.each do |object| %>
			<img src="<%= object.resource.url %>" title="<%= object.resource_file_name %>"  style='padding: 15px; vertical-align: middle;' />
		<% end %>
		</div>


	<% end %>

	<div style="height: 0.75em; width: 100%"></div>

	<%
		#TODO: there is a better way here
		
		begin
			per_page = objects.first.class.per_page
		rescue
			per_page = 5
		end 	
	%>
	
	<%= render_per_page_controls( params, total_entries, per_page ) -%> 	

	<% if paginate_markup %>
		<%= paginate_markup %>
	<% end %>
	
<script>

	enable_filter_forms('<%= container_id %>');
	
	$('.qtip').remove();
</script>		

</div>



