		<caption>
			<div class='griddata' style="display:none">
				<span class='size'><%= total_entries %></span>
				<span class='page'><%= params['page'] %></span>
				<%= link_to('Refresh', params, :class => 'refresh', :id => 'd-refresh-' + container_id) %>
			</div>
			<!--VERBS-->

			<!--NOTE: we can always 'refresh'-->

			<% if objects.size > 0 %>

			<div id="verbs">
				<ul class="verbs">
					
					<% if logged_in? && options[:selection] == 1 && objects.size > 0 -%>
					<li>Actions:</li>
						<% verbs[:list].each do |name| -%>
							<% class_modifications = (!verbs[:class_modifications].blank?) ? ' ' + verbs[:class_modifications][name].to_s : '' -%>
							<% dialog_options = (!verbs[:dialog_options].blank?) ? verbs[:dialog_options][name] : nil -%>
							<li><%= link_to title_caps(name), verbs[:actions][name], :class => 'verb' + class_modifications, :dialog_options => dialog_options %></li>
						<% end %>
					<% end %>

					<!--NOTE: link_to, and its helper url_for, transform the params into a routes-aware url-->

					<!--<li><%= link_to('Refresh', params, :class => 'refresh', :id => 'refresh-' + container_id) %></li>-->

				</ul>

			</div>
			
			<% end %>

			<% if 1 %>
				<!--FILTER-->

				<div id="search">
					<!--TODO: we may want to set the name of a listing directly-->
					
					<!--NOTE: convention here is tempting, as in application_helper > feed_description, however it feels dangerous-->
					
					<span style="padding: 0em;">Filter <%= type.gsub('_', ' ') %></span>

					<% no_query = params.clone; no_query.delete(:query) %>
                   
				    <% no_query['page'] = 1 %>

					<% form_tag url_for(no_query), :method => :post, :id => 'filter-' + container_id, :class => 'filter-form' do %>
						
						<%= text_field_tag :query, params[:query], :class => 'filter-query' %>
					<% end %>
				</div>
			<% end %>

				<!-- PAGINATION -->

			<% if objects.size > 0 && paginate_markup %>

				<%= paginate_markup %>

			<% end %>

			<% if options[:selection] == 1 && objects.size > 0 %>

				<div class='select-controls'>
					Select: &nbsp; <a href='#' class='select-all'>All</a> <a href='#' class='select-none'>None</a>
				</div>

			<% end %>			

			<!-- this will show for glider --->
			<% if ( objects.size > 0 && options[:extra_sorting] == 1 ) || !params[:confirm].blank? -%>

			<!-- SORTING -->
			<div class='horiz-rule'></div>
				
			<div class='sort-controls'>
				Sort by: &nbsp;
				<% columns.each do |column| %>

					<% sorting = column_sorting(column);	%>

					<%if !sorting.empty? %>
						<% if params[:order] == sorting[:order] %>
							<%= link_to("#{title_caps(column.name)} <span>#{params[:direction]}</span><span class='symbol'>#{params[:direction] == 'desc' ? '&darr;' : '&uarr;'}</span>", params.merge(sorting).merge({:page => 1}), :class => "sorted") %>
						<% else %>
							<%= link_to(title_caps(column.name), params.merge(sorting).merge({:page => 1})) %>
						<% end %>
					<% end %>

				<% end %>
			</div>
			<div class='play-controls'>
				Play at: &nbsp;
				<%
					# NOTE: the 'speeds' array reflects a rendering convention, we still have to figure out which of these are available
					
					speeds = ['0-25', '0-5', '', '2', '4']; labels = ['1/4', '1/2', '1', '2', '4'].map{|label| label.concat('x')}
				%>
				
				<% for k in 1..(speeds.length - 2) do %>
					
					<%= link_to(labels[k], params.merge({:speed => speeds[k]})) %>
				<% end %>
			</div>

		<%= render(
			:partial => 'widgets/grid_tag_controls',
			:locals => {
				:type => type,
				:objects => objects,
				:container_id => container_id,
				:options => options,
                :metadata => @metadata
			}
		) if logged_in? -%>

		<% end %>

	   	<div class="separator"></div>

		</caption>