<tr id="<%= row[:label] %>" class="child_<%= row[:handle] %> <%= row[:state] %> element" >
    <% columns.each do |column| %>
        <% if column.display %>
            <td class="<%= column.name  %>"><%= column_markup(row, column, object) %></td>
        <% end %>
    <% end %>
</tr>
<%= post_row( options, columns, row,  object ) %>






