<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  
  <%= stylesheet_link_tag "barn.xbat.org.css" %>
  
  <style type="text/css">
	html { height: 100% }
	body { height: 100%; margin: 0px; padding: 0px }
	#map_canvas { height: 100% }
  </style>
  
  <script type="text/javascript"
	src="http://maps.google.com/maps/api/js?sensor=false">
  </script>
  
  <script type="text/javascript">
	function initialize() {
	  
	  //--
	  // create initial map
	  //--
	  
	  // NOTE: default location is Ithaca, NY
	  
	  var center = new google.maps.LatLng(42.4439, -76.5034);
	  
	  var myOptions = {
		zoom: 4,
		center: center,
		mapTypeControl: true,
		mapTypeControlOptions: {
		  style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
		},
		mapTypeId: google.maps.MapTypeId.TERRAIN,
        scrollwheel: false
	  };
	  
	  var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	  
	  //--
	  // map each objects (create a marker for each object)
	  //--
	  
	  // NOTE: for now we only map sounds, the project must provide sounds
	  
	  var lat = 0, lng = 0; count = 0;
	  
	  // TODO: we also want to show all sound positions, eventually sites, after clustering is implemented
	  
	  <% sounds.each do |sound| %>
	  
		//TODO: support sounds that have multiple locations, one for each channel for example
		
		<% if !sound.location.nil? %>
		
		  lat += <%= sound.location.lat %>; lng += <%= sound.location.lng %>; count += 1;
		  
		  r1 = Math.random() / 10000; r2 = Math.random() / 10000;
		  
		  var latlng = new google.maps.LatLng(<%= sound.location.lat %> + r1, <%= sound.location.lng %> + r2);
		  
		  var marker = new google.maps.Marker({
			  position: latlng, 
			  map: map, 
			  title: "<%= sound.name %>"
		  });
		  
		  var content_string =
			'<div class="sound-info">' +
			  '<%= link_to sound.name, sound_path(sound), :target => "_parent" %>' +
			  <% if !sound.date_time.nil? %>
			    '<span class="date-time"><%= sound.date_time.datetime %></span>' +
			  <% end %>
			  '<span class="duration"><%= sec_to_clock(sound.duration) %></span>' +
			'</div>';
		  
		  set_infowindow(map, marker, content_string);
		<% end %>
		
	  <% end %>

	  if (count) {
		lat = lat / count; lng = lng / count;
		
		center = new google.maps.LatLng(lat, lng);
		
		map.setCenter(center);
	  }
	}
	
	// NOTE: this uses javascript closures to ensure that the proper data is set, this is recommended by the API
	
	function set_infowindow(map, marker, content_string) {
	  
	  var infowindow = new google.maps.InfoWindow({
		  content: content_string
	  });
	  
	  google.maps.event.addListener(marker, 'click', function() {
		infowindow.open(map, marker);
	  });
	}
	
  </script>
</head>

<body onload="initialize()">
  <div id="map_canvas" style="width:100%; height:100%"></div>
</body>

</html>