				<li <%= menu_model[:sel] if menu_model[:act] == 'tutorial'%>><%= link_to "Tutorial", '/docs/tutorial' %></li>

				<li <%= menu_model[:sel] if menu_model[:act] == 'reference'%>><%= link_to "Reference", '/docs/reference' %></li>

				<li <%= menu_model[:sel] if menu_model[:act] == 'console'%>><%= link_to "Console", '/docs/console' %></li>