<p>Set metadata for the selected <%= params[:controller] %>.</p>

<%
	@resources = controller.instance_variable_get("@#{params[:controller]}")	
	@resources.map!{|r| r.id}
	@controller = params[:controller]
%>

<form action="/<%= @controller %>/{<%= @resources.join(",") %>}" method="post" id='new-location-form'>
	<div class="form-submit">
		<p>
			<label>Latitude</label> <br />
			
			<%= text_field "sound[location]", "lat" %><br />
		</p>
		<p>
			<label>Longitude</label> <br />
			
			<%= text_field "sound[location]", "lng" %><br />
		</p>

        <p>
            <label>Description</label> <br />
            
			<%= text_field :sound, :description %>
        </p>

        <p>
            <label>Long Description</label> <br />
            
			<%= text_area :sound, :long_description, :size => '80x5' %>
        </p>

		<p>
			<%= submit_tag 'Submit', :id => 'submit' %> &nbsp;
			
			<input type="button" id="cancel" onclick="closeDialog('#verb-form');" value="Cancel">
		</p>
	</div>
</form>

<script>
	// Form submission script
	
	$('#new-location-form').submit(function() {
		
		var form	= $(this);
		var lat = $("#location_lat", this).attr("value");
		var lng	= $("#location_lng", this).attr("value");
		
		if(lat == ""){
			alert("Please give a Latitude");
			return false;			
		}
		
		if(lng == ""){
			alert("Please give a Longitude");
			return false;			
		}

		// submit the form 
		$(this).ajaxSubmit({
			url: $(this).attr("action") + ".js", // this should be specifiable with dataType, but its not working
			success: function(responseText){
				try{
					// for some reason, this script cannot find "#verb-form"- maybe document.ready
					var dialog_div = form.parent(); 
					// close the dialog	 
					if(dialog_div.dialog('isOpen')) dialog_div.dialog('close');				}
				catch(e){
					console.log(e)
				}
			}
		});
		
		// return false to prevent normal browser submit and page navigation 
		return false; 
});
</script>