<p>Add the selected sounds to the following project:</p>

<form action="/projects" method="post" id='add-to-project-form'>
  
  <div class="form-fields">
	
	<!--create project selection widget-->
	
	<%= label_tag 'project' %> <br/>
	
	<select id="select-project">
	  <% @projects.each do |project| %>
		<option label="<%= project.name %>" value="<%= project.id %>"><%= project.name %></option>
	  <% end %>
	</select>
  
	<!--NOTE: we change both of these to hidden fields when we are done-->
	
	<%= hidden_field_tag 'uri-template', params[:uri], :style => 'margin-top: 1em; width: 100%' %>
	
	<%= text_field_tag 'uri', nil, :style => 'margin-top: 1em; width: 100%' %>
	
  </div>
  
  <!--NOTE: it seems like this is not the way to generate these buttons-->
  
  <div class="form-submit">
	<%= submit_tag 'Add', :id => 'submit' %> &nbsp; <%= link_to 'Cancel', sounds_path, :id => 'cancel' %>
  </div>
  
</form>

<script>

  // NOTE: the select change callback updates the 'uri' by replacing the identifier in the 'uri-template'
  
  // NOTE: that the value of the select is not the label, but the project id
  
  $('#select-project').change( function() {
	
		uri = $('#uri-template').val().replace(/{project_id}/, $(this).val());
		
		$('#uri').val(uri);
		
		$('#add-to-project-form').attr('action', uri);
	
  });
  
</script>