<%
	container_id = rand_id
	
	case params[:type]
		
	when 'public'
		verbs = {
			:list => ["watch"],
			:actions => {"watch" => "/projects?partial=widgets/confirm_watch&container_id=#{container_id}&verb=watch"},
			:dialog_options => {"watch" => ""},
		}
		
	when 'watched'
		verbs = {
			:list => ["remove"],
			:actions => {"remove" => "/projects?partial=widgets/confirm_watch&container_id=#{container_id}&verb=remove"},
			:dialog_options => {"remove" => ""}
		}
		
	else
		verbs = {
			:list => [
				"watch",
				"delete"
			], 
			:actions => {
				"watch" => "/projects?partial=widgets/confirm_watch&container_id=#{container_id}",
				"delete" => "/projects?partial=widgets/confirm_delete&container_id=#{container_id}"
			},
			:dialog_options => {
				"watch" => "{ height: 160, width:450 }",
				"delete" => "{ height: 160, width:450 }"
			}
		}
	
	end
	
	options = get_listing_display_options(local_assigns, params)

	# NOTE: this is being used by the refresh button
	
	params[:partial] = 'projects/listing'
-%>

<%= render :partial => 'widgets/listing', :locals => {
	:objects => @projects,
	:verbs => verbs,
	:options => options,
	:container_id => container_id
} -%>

