<%
   prefix = 'project'

   tag_list = @project.namespace_tags('review')   
-%>

<div class="render-editable-tags tags" id="<%= prefix %>-review">
		<% tag_list.each { |tag| -%>
		<%= tag %>,
		<% } -%>
</div>

<div style="display: none;" id="<%= prefix %>-review-hidden">
		<% tag_list.each { |tag| -%>
		<%= tag %>,
		<% } -%>
</div>
