<script type="text/javascript">
$().ready(function() {
	bind_file_add('<%= locals[:container_id] %>');
});
</script>

<div style="clear:both">

<% @project = Project.find(params[:project_id])
   if @project.user_can_edit?(User.current) -%>

<div id="" class="section-body">
	<form action="/projects/{<%= params[:project_id] %>}" method="post" id="add_form">
		<input type="text" name="add_users" id="add_users" />
		<input type="submit" value="Add user" id="add_submit"> as
		<select name="role_id" id="role_id">
		  <%= options_from_collection_for_select(Role.find_all_by_name(Role.default_roles), 'id', 'name', Role.find_by_name(Role.default_roles[1]).id) %>
		</select>
  	</form>
</div>


<% end -%>

</div>