<h2><%= link_to @project.name, project_path(@project) %> > Edit</h2>

<%= error_messages_for :project %>

<% form_for @project, :html => {:multipart => true} do |f| -%>

  <%= render :partial => "form", :locals => {:f => f} %>
  
  <div class='submit'>
    <%= submit_tag 'Update Project', :class => 'submit' %> &nbsp; <%= link_to 'Cancel', projects_path, :class => 'cancel' %>
  </div>
<% end -%>