<%
	default_params = {:per_page => 20}
%>


<div id="<%= rand_id %>" class="ajax-tabs render-ajax-tabs">

	<ul class="tabs-list">
		<li>
			<%= link_to "Events", recording_events_path(@recording, {:partial => 'events/clips'}.merge(default_params)), {:title => 'Events'} %>
		</li>	
		<!--<li>
			<%#= link_to "Notes", recording_notes_path(@recording, {:partial => 'notes/listing'}.merge(default_params)), {:title => 'Notes'}%>
		</li>	-->	
	</ul>
	
	<div class="tabs-target">Loading ...</div>
</div>

<script>
	$(document).ready( function() {
		
		render_ajax_tabs();	
	})
</script>