<%= javascript_include_tag 'swfupload/swfupload' %>
<%= javascript_include_tag 'swfupload/swfupload.queue' %>
<%= javascript_include_tag 'swfupload/fileprogress' %>
<%= javascript_include_tag 'swfupload/handlers' %>
<%= javascript_include_tag 'swfupload/swfupload.speed' %>
<%= javascript_include_tag 'swfupload/swfupload.config.js' %>

<%=  stylesheet_link_tag 'uploader' %>

<script type="text/javascript">
$(document).ready(function(){

  // although this function is in a seperate file, many of the functions are explicitly linked to 
  // elements on this page. Take care when modifying..  maybe someday this can be more generalized
  var params = {
    upload_url: "<%= recordings_path -%>?_barn_session=<%= u session.session_id %>",
    authenticity_token : "<%= u form_authenticity_token if protect_against_forgery? -%>",
    sound_id: "<%= @sound.id %>"
  }
  
  var swfupload = swfupload_create(params);	
  
});
</script>
  
<h2>Upload Recordings to <%= link_to @sound.name, url_for(@sound) %></h2>
  

	
<style>
  div#upload_stats {
    float:left;
    background-color:#efefef;
    width:230px;
    margin-left:40px;
    padding:10px;
    border:1px solid #ccc;
  }
  div#upload_stats table{

    font-size:12px;
  }
  #form1{
    width:400px;
    float:left;
  }
  
  .flash_button_container{
    width:70px;
    height:20px;
    background-color:#F0F0F0;
    border:2px solid #D2D2D2;
    letter-spacing:0.05em;
    padding:0.5em 0.6em;
    margin-right:10px;
    float:left;
  }
</style>

<div style='padding-bottom:40px;'>
	Choose audio files to be uploaded.
	Multiple files may be uploaded simultaneously.<br />
	The server at barn.xbat.org is currently set to a maximum single file size of 5GB.
</div>
  
<form id="form1" action="index.php" method="post" enctype="multipart/form-data">

	<div style="margin-bottom:20px;">
	  <div class="flash_button_container">
		  <div id="upload_button">upload button
		  </div>
    </div>
    <div style="float:left;margin-top:6px;">
      <a id="cancel" onclick="swfupload.cancelQueue(); return true;" disabled="disabled" href="#" />Cancel</a>
    </div>
    <div style="clear:both;"></div>
	</div>


	<div class="" id="fsUploadProgress">
		<span class="legend">Upload Queue</span>
	</div>
	

</form>



<div id="upload_stats">

  <table cellspacing="0">
    <tr>
			<td>Files Queued:</td>
			<td id="tdFilesQueued"></td>
		</tr>			
		<tr>
			<td>Files Uploaded:</td>
			<td id="tdFilesUploaded"></td>
		</tr>			
		<tr>
			<td>Errors:</td>
			<td id="tdErrors"></td>
		</tr>		
		<tr>
			<td>Current Speed:</td>
			<td id="tdCurrentSpeed"></td>
		</tr>			
		<tr>
			<td>Average Speed:</td>
			<td id="tdAverageSpeed"></td>
		</tr>			
		<tr>
			<td>Moving Average Speed:</td>
			<td id="tdMovingAverageSpeed"></td>
		</tr>			
		<tr>
			<td>Time Remaining</td>
			<td id="tdTimeRemaining"></td>
		</tr>			
		<tr>
			<td>Time Elapsed</td>
			<td id="tdTimeElapsed"></td>
		</tr>			
		<tr>
			<td>Percent Uploaded</td>
			<td id="tdPercentUploaded"></td>
		</tr>			
		<tr>
			<td>Size Uploaded</td>
			<td id="tdSizeUploaded"></td>
		</tr>			
	</table>
		
</div>

<div style="clear:both;margin-bottom:40px;">
  
</div>

<% if @sound.recordings.size > 0 %>

  <h3>Recordings already in this Sound</h3>
  <div id="recordings-listing">
    <%= render :partial => 'widgets/listing', :locals => { :objects => @sound.recordings} %>
  </div>
  
<% end %>


