<div id="file-resources-header" class="section-header">
	<h2>Uploaded (<span class='total-count'></span>)</h2><div class="export-links"></div>
</div>

<!--TODO: We should have an uploader here?-->

<!--TODO: How about taking something user and associating it with a project?-->

<div id="file-resources-listing" class="section-body">
	Loading ...
</div>

<!--<div class='separator' style='height: 1em'></div>-->

<!--<div id="files-header" class="section-header">
	<h2>FTP (<span class='total-count'></span>)</h2><div class="export-links"></div>
</div>-->

<!--:heading_markup => "<h2>Files (#{@metadata[:total_entries]}) #{params[:dirname]}</h2>",-->

<!--TODO: we should include account information here or something.-->

<%#= debug params %>

<%#= url_for params %>

<!--<div id="files-listing" class="section-body">
	<%#= render :partial => 'listing', :locals  => { :files => @files }, :layout  => false %>
</div>-->

<script>

	// NOTE: This lazy load discards all params in the URL, links may not behave as expected.

	$(document).ready(function () {
		
		<% params[:partial] = 'files/listing'; url = url_for(params) %>
		
		//var url = "/files?partial=files/listing&per_page=5&heading_selector=<%= u '#files-header' %>";
		//
		//$("#files-listing").load(url);
		
		var url = "/file_resources?partial=file_resources/listing&per_page=5&heading_selector=<%= u '#file-resources-header' %>";

		$("#file-resources-listing").load(url);
	})
</script>