<script type="text/javascript">
$().ready(function() {

	$("#add_users").autocomplete("/users.js", {
		minChars:2,
		matchContains:true, 
		matchSubset:true,
		max:50, 
		cacheLength:20,
		width: 260,
		selectFirst: false,
		parse: function(responseText){

 			results = $.parseJSON(responseText)

			var parsed = []
			$.each(results.users, function(i){
				parsed[parsed.length] = {
					data:  results.users[i].user.login,
					value: results.users[i].user.login,
					result:results.users[i].user.login
				};

			});
			return parsed
		},
		formatItem:function(item){
			return item;
		}
	});

	// $("#add_users").autocomplete("/users.js", {
	// 		minChars:2,
	// 		matchContains:true, 
	// 		matchSubset:true,
	// 		max:50, 
	// 		cacheLength:20,
	// 		width: 260,
	// 		selectFirst: false,
	// 		parse: function(responseText){
	// 
	//  			results = $.parseJSON(responseText)
	// 
	// 			var parsed = []
	// 			$.each(results.users, function(i){
	// 				parsed[parsed.length] = {
	// 					data:  results.users[i].user.login,
	// 					value: results.users[i].user.login,
	// 					result:results.users[i].user.login
	// 				};
	// 
	// 			});
	// 			return parsed
	// 		},
	// 		formatItem:function(item){
	// 			return item;
	// 		}
	// 	});
		
		
});

</script>

<p>
<% if @project.user_can_edit?(current_user) %>
<div id="" class="section-body">
  <% form_for @project do |f| %>
    <input type="text" name="add_users" id="add_users" />
    <input type="submit" value="Add user"> as 
  	<select name="role_id">
  	  <%= options_from_collection_for_select(Role.find_all_by_name(Role.default_roles), 'id', 'name', Role.find_by_name(Role.default_roles[1]).id) %>
  	</select>
  <% end %>
</div>


<%= link_to 'Edit', edit_project_path(@project) %>

<% end %>
</p>