<p>
  <%= f.select('public', {:public => true, :private => false} ) %>
</p>
<p>
  <%= label_tag 'name' %><br/>
  <%= f.text_field :name %>
</p>
<p>
  <%= label_tag 'description' %><br/>
  <%= f.text_field :description %>
</p>
<!--<p>-->
<!--	<%= label_tag 'volume' %><br/>-->
<!--  <%= f.collection_select('volume_id', Volume.all, :id, :name, {:include_blank => true} ) %>-->
<!--</p>-->
<p>
	<%= label_tag 'Files Path' %><br/>
  <%= f.text_field :files_path %>
</p>
<!--<p>
  <%= label_tag 'images' %><br/>
  <input type="file" id="project_images" name="images[]" />
</p> --> 
