<%

	# Establish the container ID here so that after a modal dialog has completed an action,
	# it can refresh the container from whence it came :)
	
	container_id = rand_id
	
	# Configure the verbs
	
	verbs = {
		:list => [
			"delete"
		], 
		:actions => {
			"delete" => "/projects?partial=widgets/confirm_delete&container_id=#{container_id}"
		},
		:dialog_options => {
 	 		"delete" => "{ height: 160, width:450 }"
		}
	}
	
	options = get_listing_display_options(local_assigns, params)

	# this is being used by the refresh button!
	params[:partial] = 'projects/listing'
	
%>

<%= render :partial => 'widgets/listing', :locals => {
	:objects => projects,
	:verbs => verbs,
	:options => options,
	:container_id => container_id
}%>

