<h2>Edit <%= link_to @project.name, project_path(@project) %></h2>

<%= error_messages_for :project %>

<% form_for @project, :html => {:multipart => true} do |f| -%>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p>
    <%= submit_tag 'Update Project' %> &nbsp; <%= link_to 'Cancel', projects_path %>
  </p>
<% end -%>