<div style="display: none; width: 50%; float: right; border: 1px solid red; padding: 1em 2em 2em 1em;"><p>Projects help coordinate the annotation of a sound collection by a group of people. Projects are primarily defined by a collection of sounds to annotate and a group of project members. However, they can also contain images, documents, and other assets to assist in the presentation of the project and the communication of annotation protocols and goals.</p></div>

<div class="separator"></div>

<div class="section-header">
  	<h2>Projects</h2>
</div>

<div id="participating-project-listing" class="section-body">
  <%= render :partial => 'listing', :locals => {:projects => @projects, :heading => 0, :caption => 1, :selection => 1, :expansion => 1, :partial => 'projects/listing'} %>
</div>

<div id="new-project-form" title="New project" style="display: none;"></div>
  
<script>

$(document).ready( function() {

  $('#new-project').click( function() {
		
		$("#new-project-form").load('/projects/new?layout=false');
		
		$("#new-project-form").dialog({
			bgiframe: true,
			height: 520,
			width: 400, 
			modal: true,
		});
						
		return false;
		
	});

});
</script>


