<div class="page-header" style="padding-bottom: 2em">
	<h2 style="display: inline; margin-right: 1em">
	 	<%= link_to @project.name, edit_project_path(@project) %>
	</h2>
	<%= @project.description %>
</div>

<div style="clear:both;"></div>

<p>
	<% @project.images.each do |image| %>
	  <%= image_tag image.public_filename(:medium), :style=>"border:2px solid grey" %><br />	  
	  <%#= 
  	  link_to( "delete this image", project_image_path(@project, image),
        :confirm => "Are you sure you want to delete this image?",
        :method => :delete
      ) if @project.user_can_edit?(current_user) and image.user_can_delete?(current_user)
	  %>
	<% end %>
</p>


<!--NOTE: this is an example of the markup that would be needed to get simple tabbing-->

<!--TODO: we should only need the list, wrap it, append the target, and hijack using javascript -->

<!--TODO: figure out how to update the tab markup using the listing-->

<div id="<%= rand_id %>" class="ajax-tabs render-ajax-tabs">
	<ul class="tabs-list">
		<li>
			<a href="<%= project_sounds_path(@project, :partial => 'sounds/listing', :per_page => 5) %>">Sounds (<%= @project.sounds.count %>)</a>
		</li>
		<li>
			<a href="<%= project_logs_path(@project, :partial => 'logs/listing', :per_page => 5) %>">Logs (<%= @project.logs.count %>)</a>
		</li>
		<li>
			<a href="/files?partial=files/listing&layout=false&project_id=<%= @project.id %>">Files</a>
		</li>
		<li>
			<a href="<%= project_users_path(@project, :partial => 'users/listing', :per_page => 5) %>">Members (<%= @project.members.count %>)</a>
		</li>
		<% if @project.user_can_edit?(current_user) %>
		<li>
			<a href="<%= project_path(@project, :partial => 'projects/admin') %>">Admin</a>
		</li>
		<% end %>
	</ul>

	<div class="tabs-target">
		Loading ...
	</div>

</div>

<script>
	$(document).ready( function() {
		
		render_ajax_tabs();
		
	})
</script>

