<%

	#--
	# build verbs description based on context
	#--
	
	actions = {
		'delete' => '/recordings?partial=widgets/confirm_delete'
	}
		
	if params.include?(:sound_id)
		list = ['upload', 'delete']; actions['upload'] = "/sounds/#{params[:sound_id]}/recordings/new"
	else
		list = ['delete']
	end
		
	verbs = {:list => list, :actions => actions}
	
	#--
	# pack display options
	#--
	
	options = get_listing_display_options(local_assigns, params)

	params[:partial] = 'recordings/listing'
	
%>

<%= render :partial => 'widgets/listing', :locals => {
	:objects => recordings,
	:verbs => verbs,
	:options => options,
	:expansion_url => Proc.new {|recording|
		recording_path(recording);
	}
}%>
