<div id="recordings-header" class="section-header">
	<h2>Recordings</h2>
</div>

<div id="recordings-listing" class="section-body">
	Loading ...
</div>

<script>
	$(document).ready(function () {
		var path  = $.url.setUrl(this.href).attr("path");
		url = path + "?partial=recordings/listing&per_page=10&heading_selector=<%= u '#recordings-header' %>";
		
		$("#recordings-listing").load(url);
	})
</script>
