<div id="tasks-header" class="section-header">
	<h2>Tasks</h2>
</div>

<div id="tasks-listing" class="section-body">
	
</div>

<script type="text/javascript">

	$(document).ready(function () {

		// Getting the path from the URL ensures that nested scoping is maintained.

		//var path  = $.url.setUrl(this.href).attr("path");
		url = "/tasks?partial=tasks/listing&per_page=10&heading_selector=<%= u '#tasks-header' %>";

		// NOTE: not using this load we were not updating the header

		$("#tasks-listing").load(url);
	})

</script>