<p>
  <%= f.select('public', {:public => 1, :private => 0}) %>
</p>
<label for="name">Name:</label>
<p>	
	<%= f.text_field :name %>
</p>
<label for="name">Channels:</label>
<p>	
	<%= f.text_field :channels, :disabled => true %>
</p>
<label for="name">Samplerate:</label>
<p>	
	<%= f.text_field :samplerate, :disabled => true %>
</p>
<label for="name">Duration:</label>
<p>	
	<%= f.text_field :duration, :disabled => true %>
</p>
<label for="name">Samples:</label>
<p>	
	<%= f.text_field :samples, :disabled => true %>
</p>