<%

	container_id = rand_id
	
	#--
	# build verbs description based on context
	#--
	
	#--
	# actions
	#--
	
	actions = {
		'tag'				=> '#',
		'add to project' 	=> "/sounds?partial=widgets/project_asset_form&container_id=#{container_id}",
		'share' 	 	    => "/sounds?partial=widgets/share",
		'annotate'	        => "/sounds?partial=widgets/new_annotation",
		'delete' 		    => "/sounds?partial=widgets/confirm_delete&container_id=#{container_id}",
        'detect'            => "/sounds?partial=widgets/request_detection"
	}
	
	#--
	# dialog options
	#--
	
	#--
	# These are JSON strings. Be careful to escape double-quotes since this is how 
	# the view helpers render the options (project="{key:value}")
	# Additionally, these only need to have the options set that are different than the defaults.
	#--
		
	dialog_options = {
		'annotate'  => '{ height: 600, width:450 }',
		'delete' 	=> '{ height: 210, width:450 }',
		'remove' 	=> '{ height: 210, width:450 }',
        'detect'    => '{ height: 350, width:450 }',
	}
	
	#--
	# list
	#--
	
	# default list items
	list = ['tag', 'add to project', 'annotate', 'share', 'delete', 'detect']
	
	if params.include?(:sound_id)
		list = ['upload', 'delete'] 
		actions['upload'] = "/sounds/#{params[:sound_id]}/recordings/new"	
	end
	
	if params.include?(:project_id)
		actions.delete('add to project')
		list.delete('add to project')
		
		actions['remove'] = "/projects/#{params[:project_id]}/sounds?partial=widgets/project_asset_form&container_id=#{container_id}&asset_action=remove"
		list = ['tag', 'annotate', 'remove']
	end
	
	# If the user has no projects with which to add resources to,
	# then do not show the link
	
	project_count = Project.find_by_user(:user => controller.send(:current_user), :params => params.dup.delete!(:query)).count
	
	if project_count < 1
		list.delete('add to project') if list.include?('add to project')
	end
		
	

	#--
	# verbs
	#--
	
	verbs = {:list => list, :actions => actions, :dialog_options => dialog_options}
	
	#--
	# pack display options
	#--
	
	options = get_listing_display_options(local_assigns, params)

	# NOTE: it is not clear what the role of this is
	# IT IS BEING USED BY THE REFRESH BUTTON...
	
	params[:partial] = 'sounds/listing'
	
	# TODO: there are problems adding the feed link to the heading_markup
	
	heading_markup = "<h2>Sounds (#{@metadata[:total_entries]})</h2>"
	
%>

<%= render :partial => 'widgets/listing', :locals => {
	:objects => sounds,
	:verbs => verbs,
	:heading_markup => heading_markup,
	:options => options,
	:container_id => container_id,
	:expansion_url => Proc.new {|sound|
		if params[:project_id]
			sound_path(sound, :partial => 'sounds/associated', :project_id => params[:project_id])
		else
			sound_path(sound, :partial => 'sounds/associated')
		end
	}
}%>
