<h1>Editing sound</h1>

<% form_for(@sound) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p>
    <%= f.submit "Update" %> | <%= link_to 'Cancel', sounds_path %>
  </p>
<% end %>