<div id="sounds-header" class="section-header">
	<h2>Sounds</h2>
</div>

<div id="sounds-listing" class="section-body">
	
</div>

<script>
	$(document).ready(function () {
		
		// Getting the path from the URL ensures that nested scoping is maintained.
		
		var path  = $.url.setUrl(this.href).attr("path");
		url = path + "?partial=sounds/listing&per_page=10&heading_selector=<%= u '#sounds-header' %>";
		
		// NOTE: not using this load we were not updating the header
		
		$("#sounds-listing").load(url);
	})
</script>
