<h2>Add a new sound</h2>

<p>The sound is a container for an ordered collection of recordings and related metadata.</p>

<%= error_messages_for :sound %>

<% form_for :sound, :url => sounds_path do |f| -%>
	<p><%= f.select('public', {:public => 1, :private => 0}) %></p>
	<p>
	  <%= label_tag 'name' %><br/>
	  <%= f.text_field :name %>
	</p>
	<p><%= submit_tag 'Create', :id => 'submit' %> &nbsp; <%= link_to 'Cancel', sounds_path, :id => 'cancel' %></p>

<% end -%>
