<div class="page-header">
	<h2><%= link_to(@sound.name, edit_sound_path(@sound)) %></h2>
<div>

<div style="height: 1em"></div>

		<% projects_for_asset = Project.with_asset(@sound) %>
		<% if projects_for_asset.size > 0 %>
				This sound is currently included in these projects:
				<div id="sound-projects">
					<% projects_for_asset.each do |project| -%>
						<%= link_to project.name, project_url(project) -%>
						(<%= 
							link_to( "remove", project_path(project, :remove_sounds=> @sound),
								:method => :put
							) #if @sound.user_can_edit?(current_user)
						%>)
						<br/>
						<%#= ", " unless project == projects_for_asset.last -%>
					<% end -%>
				</div>
		<% end %>
		
		<% if logged_in? %>
			<% user_projects = Project.readable_by(current_user).with_role(['Administrator', 'Member']) - projects_for_asset%>
			<% if user_projects.size > 0 %>
				Add this sound to 
				<form id="add_to_project_form" action="#" method="post">
					<select>
						<%= options_from_collection_for_select( user_projects, 'id', 'name' )%>
						<input type="hidden" name="_method" value="put">
						<input type="submit" value="Go">
					</select>
				</form>
				<script>
					$("#add_to_project_form").submit(function(){
						var option = $("#add_to_project_form select :selected");
						var project_id = option.get(0).value;
						var uri = "/projects/" + project_id;
						
						// this function assumes success
						$.post(uri, {_method:"put", add_sounds:'<%= @sound.id %>', format:'js'}, function(data){
							// lets remove it from the list
							option.remove();
							// show notice on completion	
							var notice = $("#flash-notice");
							notice.animate({opacity: 1.0}, 0, function(){
								notice.html("Sound: '<%= @sound.name %>' was added to the Project: '" + data.project.name + "'");
							}).show('fast');

							// ooo fancy
							$("#sound-projects").effect("highlight", {}, 1000);
							// append to the page
							$("#sound-projects").append("<a href='/projects/" + data.project.id + "'>" + data.project.name +"</a><br />");
							
							$("#flash-notice").animate({opacity: 1.0}, 2500).hide('slow', function(){$(this).html("")});
						}, 'json')
						
						return false;
					})
				</script>
				<% end	%>
		<% end	%>
	
	</div>

</div>

<div style="clear:both;"></div>

<div class="two-column-left">
	
	<div id="<%= rand_id %>" class="ajax-tabs render-ajax-tabs">
		<ul class="tabs-list">
			<li><a href="">Description</a></li>
		</ul>
	</div>

</div>

<div class="two-column-right">
	
	<div id="<%= rand_id %>" class="ajax-tabs render-ajax-tabs">
		<ul class="tabs-list">
			<li><%= link_to "Notes", sound_notes_url(@sound, :partial => 'notes/listing')%></li>
			<li><a href="">Images</a></li>
		</ul>
		<div class="tabs-target">
		</div>
	</div>
	
</div>

<div id="associated-listing" class="section-body">
	Loading ...
</div>


<!-- SHARES -->

<!--<div class="section-header">-->
<!--	<h2>Shares</h2>-->
<!--</div>-->
<!---->
<!---->
<!--<div id="shares-listing" class="section-body">-->
<!--	<%#= render :partial => 'shares/listing', :locals => { :shareable => @sound, :caption => 1} %>-->
<!--</div>-->

<script>
	$(document).ready(function($) {
		
		<% if params[:project_id] %>
			var url = "<%= project_sound_path(params[:project_id], @sound, :partial => 'sounds/associated') %>";
		<% else %>		
			var url = "<%= sound_path(@sound, :partial => 'sounds/associated') %>";
		<% end %>
		
		
		$("#associated-listing").load(url);
	})
</script>