$tag_s: 66%; $tag_l: 75%;

@mixin wheel_color($hue) {
    $base: hsl($hue, $tag_s, $tag_l);
    
    background-color: $base; border: 1px solid darken($base, 10%);
}

.tag_set_color_1 {
    @include wheel_color(0);
}

.tag_set_color_2 {
    @include wheel_color(40);
}

.tag_set_color_3 {
    @include wheel_color(80);
}

.tag_set_color_4 {
    @include wheel_color(120);
}

.tag_set_color_5 {
    @include wheel_color(160);
}

.tag_set_color_6 {
    @include wheel_color(200);
}

.tag_set_color_7 {
    @include wheel_color(240);
}

.tag_set_color_8 {
    @include wheel_color(280);
}

.tag_set_color_9 {
    @include wheel_color(320);
}

.tags-for-clip {
    clear: both;
    padding-top: 0.25em;
    margin-left: -3px;
}

.tags-for-clip div {
    display: inline;
    font-size: 12px;
    font-family: "Comic Sans MS", monospace;
    margin: 0 0.5em;
    padding: 4px 10px 6px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}