<!--NOTE: this is an example of the markup that would be needed to get simple tabbing-->

<!--TODO: we should only need the list, wrap it, append the target, and hijack using javascript -->

<!--TODO: figure out how to update the tab markup using the listing-->

<div id="<%= rand_id %>" class="ajax-tabs render-ajax-tabs">

	<ul class="tabs-list">
		<li><a href="<%= log_events_path(@log, :partial => 'events/clips', :per_page => 5) %>">Events (<%= @log.events.length %>)</a></li>
		
		<li><a href="<%= log_notes_path(@log, :partial => 'notes/listing', :per_page => 5) %>">Notes (<%= @log.notes.length %>)</a></li>
	</ul>

	<div class="tabs-target">Loading ...</div>

</div>

<script>
	$(document).ready( function() {
		
		render_ajax_tabs();
		
	})
</script>