<h1>Editing log</h1>

<% form_for(@log) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p>
    <%= f.submit "Update" %> | <%= link_to 'Cancel', logs_path %>
  </p>
<% end %>