<div id="logs-header" class="section-header">
	<h2>Logs</h2>
</div>

<div id="logs-listing" class="section-body">
	Loading ...
</div>

<script>
	$(document).ready(function () {
		url = "/logs?partial=logs/listing&per_page=10&heading_selector=<%= u '#logs-header' %>";
	
		$("#logs-listing").load(url);
	})
</script>


