<div class="separator"></div>

<div id="footer-container">
	<div class="footer">
		
		<div>
			<ul>
				<li>
					application mode: <%= RAILS_ENV %>
				</li>
				<li>
					<% revision = (RAILS_ENV == 'production') ? $svn_revision : `svn info #{RAILS_ROOT}`.match('Revision.*') %>
					<%= (revision.blank?)? "Revision: nil" : revision %>
				</li>
				<li>
					Server: <%= local_ip %>
				</li>
				<li>
					<% config = YAML.load_file(RAILS_ROOT + '/config/database.yml')[RAILS_ENV] %>
					DB: <%= "#{config['adapter']}, #{config['host']}, #{config['database']}" %>
				</li>
			</ul>
		</div>		
		<div style="height:12em;">
			<a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/us/88x31.png" /></a>
			This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>
		</div>

	</div>
</div>