<%
	con = params[:controller]; act = params[:action]
	
	sel = 'class="selected"'
%>

<div id="header-container">
  
	<div id="activity-indicator" style="display:none;">
		Loading ...
	</div>
	
  <!--TOP-BAR-->
	
	<div id='top-bar'>
		
		<div id="login">
			<ul id="header-menus">
				<% if logged_in? %>
					<li><%= current_user.login %></li>
					<li><%= link_to "Projects", projects_path %>
						<ul>
							<li>Long project name
								<ul>
									<li>Project description</li>
								</ul>
							</li>
							<li>Project 2</li>
							<li>Project 3</li>
							<li>Project 4</li>
						</ul>
					</li>
					<li><%= link_to "Profile", "/home" %></li>
					<li><%= link_to "Sign out", '/sessions/destroy' %></li>
				<% else %>
					<li><%= link_to "Sign up", '/signup' %></li>
					
					<li><%= link_to "Login", '/sessions/new' %></li>
				<% end %>
				
			</ul>
		</div>
		
	</div>
	
	<!--BANNER-->
	
    <table style="width: 100%; margin: 0em 0em 0em 0em; padding: 0em; padding-left: 1em; padding-top: 1.5em;">
    <tr style="margin: 0em; padding: 0em;">
     
      <!--NOTE: the left padding allows offset for image-->
      
      <td style="width: 500px; margin: 0em; padding: 0em; padding-left: 0em; padding-right: 1.5em;">
        <img alt="BARN - BioAcoustic Resource Network" src="/images/barner-4-medium.png"/>
      </td>
      <td style="padding-right: 1.5em">
        
        <!--HEADER-->
	
        <div id='barn-search'>
            
            <% form_tag '/search', :method => :get, :id => 'barn-search-form', :class => 'barn-search-form' do %>
            
                    <%= text_field_tag :query %>
                    
                    <% if false %> <!--NOTE: previously the test was logged_in?-->
                    
                        <select name='search_type'>
                            <option value='local' selected>Local</option>
                            <option value='local'>Public</option>
                        </select>
                        
                    <% end %>
                    </br>
                    <%= submit_tag 'Search', :id => 'submit' %>
                    
            <% end %>
            
        </div>
      </td>
    </table>
	
	<div id='header'>
	
		<!--MENU-->
		
		<div id="menu">
			
			<ul>
				<% if logged_in? %>

					<li <%= sel if (con == 'sounds' || con == 'logs' || con == 'events' || con == 'recordings') %>>
						<%= link_to "Resources", sounds_path %>
					</li>

					<li <%= sel if con == 'projects'%>><%= link_to "Projects", projects_path %></li>
				
					<li <%= sel if con == 'docs'%>><%= link_to "Docs", '/docs' %></li>
						
          <li <%= sel if con == 'home' || con == 'users' || con == 'data_files' %>>
						<%= link_to "Account", '/home' %>
					</li>
      
				<% else %>
				
					<li <%= sel if con == 'home' || con == 'users' || con == 'data_files'%>><%= link_to "Home", '/home' %></li>
				
					<li <%= sel if con == 'sounds'%>><%= link_to "Sounds", sounds_path %></li>
				 
					<li <%= sel if con == 'projects'%>><%= link_to "Projects", projects_path %></li>
				 
					<li <%= sel if con == 'docs'%>><%= link_to "API", '/docs' %></li>
			 		
					<!-- no such route or section -->
					<!-- <li <%= sel if con == 'developer'%>><%= link_to "Developer", '/developer' %></li> -->
					
				<% end %>
			
			</ul>
			
		</div>
	
		<!--SUB-MENU-->
		
		<% if ['home', 'data_files', 'users', 'sync', 'peers', 'silos'].include?( con ) %>
				
				<% if logged_in? %>
					<div id="sub-menu-container" style="clear: both; float: left; width: 100%;">
						<div id="sub-menu" style="clear: both; float: left;">
							
							<ul>
								<li <%= sel if con == 'home'%>><%= link_to "Home", '/home' %></li>
								
								<li <%= sel if con == 'users'%>><%= link_to "Profile",	edit_user_url(current_user) %></li>
								
								<li <%= sel if con == 'data_files'%>><%= link_to "Files", '/data_files' %></li>
								
								<li <%= sel if con == 'sync'%>><%= link_to "Sync", '/sync/setup' %></li>
								
								<li <%= sel if con == 'peers'%>><%= link_to "Peers", '/peers' %></li>
								
								<li <%= sel if con == 'peers'%>><%= link_to "Silo", '/silos' %></li>
							</ul>
							
						</div>
					</div>
				<% else %>	
				
				<% end %>
				
		<% elsif con == 'docs' %>
		
			<div id="sub-menu-container" style="clear: both; float: left; width: 100%;">
				<div id="sub-menu" style="clear: both; float: left;">
					<ul>
						<li <%= sel if act == 'tutorial'%>><%= link_to "Tutorial", '/docs/tutorial' %></li>
						
						<li <%= sel if act == 'reference'%>><%= link_to "Reference", '/docs/reference' %></li>
	
						<li <%= sel if act == 'console'%>><%= link_to "Console", '/docs/console' %></li>
					</ul>
				</div>
			</div>
			
		<% elsif (con == 'sounds' || con == 'logs' || con == 'events' || con == 'recordings') && logged_in? %>
		
			<div id="sub-menu-container" style="clear: both; float: left; width: 100%;">
				<div id="sub-menu" style="clear: both; float: left;">
					<ul>
						<li <%= sel if con == 'sounds'%>><%= link_to "Sounds", sounds_path %></li>
						
						<li <%= sel if con == 'logs'%>><%= link_to "Logs", logs_path %></li>
						
						<li <%= sel if con == 'events'%>><%= link_to "Events", events_path %></li>
						
						<li <%= sel if con == 'recordings'%>><%= link_to "Recordings", recordings_path %></li>
					</ul>
				</div>
			</div>

		<% elsif con == 'recordings' && logged_in? %>

			<div id="sub-menu-container" style="clear: both; float: left; width: 100%;">
				<div id="sub-menu" style="clear: both; float: left;">
					<ul>
						<li class="selected"><%= link_to "Upload recordings", new_recording_path, :id => 'new-recording' %></li>
					</ul>
				</div>
			</div>
		
		<% elsif con == 'projects' && logged_in? %>
		
			<div id="sub-menu-container" style="clear: both; float: left; width: 100%;">
				<div id="sub-menu" style="clear: both; float: left;">
					
					<ul>
						<li class="verb"><%= link_to "New project", new_project_path, :id => 'new-project', :dialog_options => '{ height: 210, width:450 }'%></li>
					</ul>
					
				</div>
			</div>
			
		<% else %>
				
		<% end %>
		
	</div>
	
</div>

<div class="separator"></div>

<%#= con %>

<%#= params.to_json %>