<style>
#flash-error {
  padding: 0.75em;
  margin-bottom: 1em;
  background-color: #FFCCCC;
  line-height:150%;
  <% if flash[:error].blank? %>display:none;<% end %>
}
#flash-notice{
  padding: 0.75em;
  margin-bottom: 1em;
  background-color: #FFFFCE;
  line-height: 150%;
  <% if flash[:notice].blank? %>display:none;<% end %>
}
</style>

<%# if flash[:notice] %>
<!-- NOTICE -->
<div id='flash-notice'>
  <%= flash[:notice] %>
</div>

<!--NOTE: there must be a way to simply wait-->

<script>
  $("#flash-notice").fadeTo(1400, 100).fadeTo(600, 0).hide('normal');
</script>
<%# end %>


<%# if flash[:error] %>
<!-- ERROR -->
<div id='flash-error'>
  <%= flash[:error] %>
</div>

<!--NOTE: perhaps errors should not fade-->

<script>
  $("#flash-error").fadeTo(1400, 100).fadeTo(600, 0).hide('normal');
</script>
<%# end %>