<html>
	<head>
		
    <title>BARN</title>
				
		<!--JQUERY-->
		
		<!--TODO: we should keep up with the latest compatible release-->
		
		<%= javascript_include_tag 'jquery/jquery-1.3.1.min.js' %>
		
		<!--UI-->
		
		<%= javascript_include_tag 'jquery/ui/jquery-ui-personalized-1.6rc6.min' %>	
		<%= stylesheet_link_tag '/javascripts/jquery/ui/theme/ui.all.css' %>
		
		<!--rating-->
		
		<%= javascript_include_tag "jquery/ui/jquery.rating" -%>
		<%= stylesheet_link_tag "/javascripts/jquery/ui/jquery.rating.css" -%>
		
		<!--cluetip-->
		
		<!--NOTE: this required quite a bit of work before placement was reasonable-->
		
		<%= javascript_include_tag "jquery/cluetip/jquery.cluetip" -%>
		<%= javascript_include_tag "jquery/cluetip/jquery.dimensions" -%>
		<%= javascript_include_tag "jquery/cluetip/jquery.hoverIntent" -%>
		<%= stylesheet_link_tag "/javascripts/jquery/cluetip/jquery.cluetip.css" -%>
		
		<!--json-->
		
		<%= javascript_include_tag "json_stringify" -%>
		<%= javascript_include_tag "jquery/jquery.json" -%>
		
		<!--autocomplete-->
		
		<%= javascript_include_tag "jquery/autocomplete/jquery.autocomplete" -%>
		<%= stylesheet_link_tag "/javascripts/jquery/autocomplete/jquery.autocomplete.css" -%>
		
		<!--clickmenu-->
		
		<!--NOTE: we may replace this with the imageless buttons altogether-->
		
		<%= javascript_include_tag "jquery/clickmenu/jquery.clickmenu" -%>
		<%= stylesheet_link_tag "/javascripts/jquery/clickmenu/clickmenu.css" -%>
		
		<!--others-->
		
		<%= javascript_include_tag "jquery/jquery.form" -%>
		<%= javascript_include_tag "jquery/jquery.jeditable" -%>
		<%= javascript_include_tag "jquery/jquery.livequery" -%>
		<%= javascript_include_tag "jquery/jquery.url" -%>
		
		<!--SOUNDMANAGER-->
		
		<%= javascript_include_tag "soundmanager/script/soundmanager2.js" %>
		<%= stylesheet_link_tag "/javascripts/soundmanager/script/css/inlineplayer.css" %>
		
		<!--APPLICATION-->
		
		<%= javascript_include_tag 'application' %>
		
		<%= stylesheet_link_tag 'header' %>
		<%= stylesheet_link_tag 'barn.xbat.org' %>
		
		
	</head>
	
	<body>
		<%= render :partial => 'layouts/header' %>
		
		<div id='content'>		
			<%= render :partial => 'layouts/notices' %>
			
			<%= yield %> 
		</div>
		
		<%= render :partial => 'layouts/footer' %>
	</body>
	
	<script type="text/javascript">
		$(document).ready( function () {
			
			//--
			// sound manager configuration
			//--
			
			soundManager.debugMode = false;
			
			soundManager.useHighPerformance = true;
			
			soundManager.consoleOnly = true;
			
			soundManager.url = '/javascripts/soundmanager/swf';
			
			soundManager.onload = function() {
				
				inline_player = null; page_player = null;
				
				//soundManager.createSound('tune','/javascripts/soundmanager/440hz.mp3');
				
				//soundManager.play('tune');				
			};
			
			//--
			// loading display
			//--
			
			// NOTE: this maintains the display at the top of the page
			
			$(document).scroll( function () {
				$('#activity-indicator').css('top', $(document).scrollTop());
			});
		
			// NOTE: we are just begining to test this menu function, this does not offer much configuration	
			
			$('#header-menus').clickMenu();
			
		});
	</script>
		
	<% if RAILS_ENV != 'test' && request.server_name == 'barn.xbat.org' %>
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-802179-3"); pageTracker._trackPageview();
			} catch (err) {
				
			}
		</script>
	<% end %>
		
</html>