<%
	rating	= rateable.rating_by_user(current_user)
	type		= rateable.class.to_s.downcase;
	name		= "#{type}-rating-#{rateable.id}-#{Time.now.to_s.gsub(/[ :-]/, '')}"
%>

<!--TODO: this rating container div should have some identifier-->

<form class="render-star-rating star-rating <%= 'read-only' if !logged_in? %>" id="<%= type %>-ratings-form<%= rateable.id %>" method="POST" action="/ratings">
	<input type="hidden" name="rating[rateable_type]" value="<%= rateable.class.to_s %>">
	<input type="hidden" name="rating[rateable_id]" value="<%= rateable.id %>">
	<input type="hidden" name="rating[rating]" value="<%= rateable.rating.round %>">
	<input type="hidden" name="rating[id]" value="<%= rating.id unless rating.blank? %>">
	
	<input type="radio" name="<%= name %>" value="1" class="render-ratings ratings-star" <%= "checked" if rating and rating.rating == 1.0 %>/> 
	<input type="radio" name="<%= name %>" value="2" class="render-ratings ratings-star" <%= "checked" if rating and rating.rating == 2.0 %> /> 
	<input type="radio" name="<%= name %>" value="3" class="render-ratings ratings-star" <%= "checked" if rating and rating.rating == 3.0 %> /> 
	<input type="radio" name="<%= name %>" value="4" class="render-ratings ratings-star" <%= "checked" if rating and rating.rating == 4.0 %> /> 
	<input type="radio" name="<%= name %>" value="5" class="render-ratings ratings-star" <%= "checked" if rating and rating.rating == 5.0 %> />
</form>
