<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>

<head>

	<title><% $short_caption %></title>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="language" content="en" />

	<% link style $theme.style.screen media=>screen %>
	
	<% link style $theme.style.print media=>print %>

	<style type="text/css"> 
		body {
			background-color: transparent;
			border: none; 
			margin: 2em;
		}
		#container {
			position:absolute;
			left:50%;
			width:1024px;
			margin-top:50px;
			margin-left:-527px;
			padding:15px;
		}
	</style>

	<!-- the centering trick comes from http://bluerobot.com/web/css/center2.html -->
	
</head>

<body>

<div id="container" class="center figure">	
	<% link image $image %>
	<p class="short-caption"><em><% $short_caption %></em></p>
	<p class="caption"><% $caption %></p>
	<% $license %>
</div>

</body> 

</html>