<%
	container_id = rand_id

	verbs = {
		:list    => [],
		:actions => {}
	}

	options = get_listing_display_options(local_assigns, params)

	params[:partial] = 'peers/listing'

%>

<%= 
render :partial => 'widgets/listing', :locals => {
	:objects => peers,
	:verbs 	 => verbs,
	:options => options,
	:container_id  => container_id,
	:expansion_url => Proc.new { |log|
		log_path(log, :partial => 'logs/associated')
	}
}%>
