Your FTP account has been created with a 500Mb quota.
Use an FTP client to connect with the following credentials.
  
  Server:   barn.xbat.org
  Username: <%=h @username %>
  Password: <%=h @password %>
