<%
	default_params = {:per_page => 20}
	
	default_params.merge!(:project_id => params[:project_id]) if params[:project_id]
%>

<div id="<%= rand_id %>" class="ajax-tabs render-ajax-tabs">

	<ul class="tabs-list">
      <%= addTab( renderCountLabel( 'Events', @sound.events.count ), sound_events_path(@sound, {:partial => 'events/clips'}.merge(default_params)), {:title => 'Events' }) %>
      <%= addTab( renderCountLabel( 'Logs', @sound.logs.count ), sound_logs_path(@sound, {:partial => 'logs/listing'}.merge(default_params)), {:title => 'Logs' }) %>
      <%= addTab( renderCountLabel( 'Notes', @sound.notes.count ), sound_notes_path(@sound, {:partial => 'notes/listing'}.merge(default_params)), {:title => 'Notes' }) %>
      <%= addTab( renderCountLabel( 'Recordings', @sound.recordings.count ), sound_recordings_path(@sound, {:partial => 'recordings/listing'}.merge(default_params)), {:title => 'Recordings' }) %>
      <%= addTab( renderCountLabel( 'Files', @sound.file_resources.count ), sound_file_resources_path(@sound, {:partial => 'file_resources/listing'}.merge(default_params)), {:title => 'Files' }) %>
	</ul>
	
	<div class="tabs-target">Loading ...</div>
</div>

<script>
	$(document).ready( function() {
		
		render_ajax_tabs();	
	})
</script>