<%

   container_id = rand_id

	actions = {
		'tag' 				=> "/sounds?partial=widgets/new_tag",
		'annotate'	        => "/sounds?partial=widgets/new_annotation",
		'add to project' 	=> "/sounds?partial=widgets/project_asset_form&container_id=#{container_id}",
		'edit metadata'			=> "/sounds?partial=widgets/sound_metadata",
		'detect'            => "/sounds?partial=widgets/request_detection",
		'delete' 		    => "/sounds?partial=widgets/confirm_delete&container_id=#{container_id}"
	};

	#--
	# These are JSON strings. Be careful to escape double-quotes since this is how 
	# the view helpers render the options (project="{key:value}")
	# Additionally, these only need to have the options set that are different than the defaults.
	#--

   # NOTE: the pound is ruby interpolation, only double-quoted strings are interpolated
   
	dialog_options = {
		'tag'		=> "{ close: function (event, ui) { refresh_container('#{container_id}');} }",
		'annotate'  => '{ height: 600, width:450 }',
		'edit metadata'	=> '{ height: 600, width:750 }',
		'delete' 	=> '{ height: 210, width:450 }',
		'remove' 	=> '{ height: 210, width:450 }',
        'detect'    => '{ height: 470, width:450 }'
	};
	
	#--
	# list
	#--
		
	list = ['tag', 'annotate', 'add to project', 'edit metadata', 'detect', 'delete'];
	
	if params.include?(:sound_id)
		list = ['upload', 'delete'];
		
		# TODO: describe the story behind this operation
		
		actions['upload'] = "/sounds/#{params[:sound_id]}/recordings/new";	
	end
	
	if params.include?(:project_id)
		actions.delete('add to project'); list.delete('add to project');
		
		actions['remove'] = "/projects/#{params[:project_id]}/sounds?partial=widgets/project_asset_form&container_id=#{container_id}&asset_action=remove";
		
		list = ['tag', 'annotate', 'remove'];
	end
	
	# f the user has no projects with which to add resources to,
	# then do not show the link
	
	project_count = Project.find_by_user(:user => User.current, :params => params.dup.delete!(:query)).count;
	
	if project_count < 1
		
		list.delete('add to project') if list.include?('add to project');
	end
		
	#--
	# verbs
	#--
	
	verbs = {:list => list, :actions => actions, :dialog_options => dialog_options}
	
	#--
	# pack display options
	#--
	
	options = get_listing_display_options(local_assigns, params)

	# NOTE: it is not clear what the role of this is
	# IT IS BEING USED BY THE REFRESH BUTTON ...
	
	params[:partial] = 'sounds/listing'
%>

<%= render :partial => 'widgets/listing', :locals => {
	:objects => @sounds,
	:verbs => verbs,
	:options => options,
	:container_id => container_id,
	:expansion_url => Proc.new {|sound|
		if params[:project_id]
			sound_path(sound, :partial => 'sounds/associated', :project_id => params[:project_id])
		else
			sound_path(sound, :partial => 'sounds/associated')
		end
	}
}%>
