	<div>
	
		<div style="height: 1em"></div>
		
		<% projects_for_asset = Project.with_asset(@sound) %>
		
		<% if projects_for_asset.size > 0 %>
		
			This sound is currently included in these projects:
			
			<div id="sound-projects">
				
				<% projects_for_asset.each do |project| -%>
					<%= link_to project.name, project_url(project) -%>
					(<%= 
						link_to( "remove", project_path(project, :remove_sounds=> @sound),
							:method => :put
						) #if @sound.user_can_edit?(User.current)
					%>)
					<br/>
					<%#= ", " unless project == projects_for_asset.last -%>
				<% end -%>
			</div>
		<% end %>
				
		<% if logged_in? %>
			<% user_projects = Project.readable_by(User.current).with_role(['administrator', 'member']) - projects_for_asset%>
			
			<% if user_projects.size > 0 %>
				Add this sound to:
				
				<form id="add_to_project_form" action="#" method="post">
					<select>
						<%= options_from_collection_for_select( user_projects, 'id', 'name' )%>
						
						<input type="hidden" name="_method" value="put">
						
						<input type="submit" value="Go">
					</select>
				</form>
				
				<script>
					$("#add_to_project_form").submit(function(){
						var option = $("#add_to_project_form select :selected");
						
						var project_id = option.get(0).value;
						
						var uri = "/projects/" + project_id;
						
						// this function assumes success
						
						$.post(uri, {_method:"put", add_sounds:'<%= @sound.id %>', format:'js'}, function(data) {
							
							// lets remove it from the list
							option.remove();
							
							// show notice on completion	
							var notice = $("#flash-notice");
							
							notice.animate({opacity: 1.0}, 0, function() {
								notice.html("Sound: '<%= @sound.name %>' was added to the Project: '" + data.project.name + "'");
							}).show('fast');
		
							// ooo fancy
							$("#sound-projects").effect("highlight", {}, 1000);
							
							// append to the page
							$("#sound-projects").append("<a href='/projects/" + data.project.id + "'>" + data.project.name +"</a><br />");
							
							$("#flash-notice").animate({opacity: 1.0}, 2500).hide('slow', function() {
								$(this).html("")
							});
						}, 'json')
						
						return false;
					})
				</script>
			<% end %>
			
		<% end %>
	
	</div>