<h2>Add a new sound</h2>

<p>The sound is a container for an ordered collection of recordings and related metadata.</p>

<%= error_messages_for :sound %>

<% form_for :sound, :url => sounds_path do |f| -%>
	<p>
		<%= label_tag 'name' %><br/>
		
		<%= f.text_field :name %>
	</p>
	
	<p>
		<%= label_tag 'privacy' %><br/>
		
		<%= f.select('public', {:public => 1, :private => 0}) %>
	</p>
	
	<p><%= submit_tag 'Create sound', :id => 'submit', :class => 'submit' %> &nbsp; <%= link_to 'Cancel', sounds_path, :id => 'cancel', :class => 'cancel' %></p>
<% end -%>
