<html>
  <head>
    <title>
      barn.xbat.org
    </title>
        <%= stylesheet_link_tag 'header' %>
    <%= stylesheet_link_tag 'barn.xbat.org' %>
  </head>
  <body>
    <%= render :partial => 'layouts/header' %>
    <div id='content'>
      <%= render :partial => 'layouts/notices' %>
      <%=yield%>
    </div>
  </body>
</html>