<html>
	<% alternative = true %>
	<head>
		
	<!--TODO: allow setting title directly-->
	
	<!--NOTE: direct setting is probably best done on the client, using jquery-->
	
    <title><%= get_page_title(params) -%></title>
				
		<!--NOTE: it was recommended by the chrome audit that stylesheets precede scripts-->
		
		<!--STYLES----------------------------->

		<!--UI-->
		
		<%= stylesheet_link_tag '/javascripts/jquery/ui/theme/ui.all.css' %>

		<!--rating-->
		
		<%= stylesheet_link_tag "/javascripts/jquery/ui/jquery.rating.css" -%>		

		<!--autocomplete-->
		
		<%= stylesheet_link_tag "/javascripts/jquery/autocomplete/jquery.autocomplete.css" -%>

		<!--clickmenu-->
		
		<%= stylesheet_link_tag "/javascripts/jquery/clickmenu/clickmenu.css" -%>

		<!--SOUNDMANAGER-->
		
		<%= stylesheet_link_tag "/javascripts/soundmanager2/script/css/inlineplayer.css" %>
				
		<!--APPLICATION-->
		
		<% if alternative %>
			<%= stylesheet_link_tag 'header2' %>
		<% else %>
			<%= stylesheet_link_tag 'header' %>
		<% end %>
		
		<%= stylesheet_link_tag 'barn.xbat.org' %>
        <%= stylesheet_link_tag 'barn-styles' %>

		<!--SCRIPTS----------------------------->
		
		<!--TODO: we should keep up with the latest compatible release-->
		
		<%= javascript_include_tag 'jquery/jquery-1.3.1.min.js' %>

		<!--UI-->

		<%= javascript_include_tag 'jquery/ui/jquery-ui-personalized-1.6rc6.min' %>

		<!--rating-->

		<%= javascript_include_tag "jquery/ui/jquery.rating" -%>
	
		<!--json-->

		<%= javascript_include_tag "json_stringify" -%>
		
		<%= javascript_include_tag "jquery/jquery.json" -%>

		<!--autocomplete-->

		<%= javascript_include_tag "jquery/autocomplete/jquery.autocomplete" -%>

		<!--clickmenu-->

		<!--NOTE: we may replace this with the imageless buttons altogether-->

		<%= javascript_include_tag "jquery/clickmenu/jquery.clickmenu" -%>

		<!--others-->

		<%= javascript_include_tag "jquery/jquery.form" -%>
		
		<%= javascript_include_tag "jquery/jquery.jeditable" -%>
		
		<%= javascript_include_tag "jquery/jquery.livequery" -%>
		
		<%= javascript_include_tag "jquery/jquery.url" -%>

		<!--SOUNDMANAGER-->
		
		<%= javascript_include_tag "soundmanager2/script/soundmanager2.js" %>
		
		<!--PROTOVIS-->
		
		<%= javascript_include_tag "protovis-3.2/protovis-r3.2.js" %>
		
		<!--NOTE: there is a 2.0 in the works-->
		
		<%= javascript_include_tag "jquery/jquery-qtip/jquery.qtip-1.0.0-rc3.min.js" %>
		
		<!--MAPS-->
		
		<script type="text/javascript"
			src="http://maps.google.com/maps/api/js?sensor=false">
		</script>

		<!--APPLICATION-->
		
		<%= javascript_include_tag 'application' %>

		<%= javascript_include_tag 'tags' %>
				
		<%= javascript_include_tag 'grid' %>

		<!-- This must be refactored to load the files _as needed_ --->
		
		<%= javascript_include_tag 'controllers/sounds' %>
		
		<%= javascript_include_tag 'controllers/events' %>

	</head>
	
	<body>
		<% if alternative %>
			<%= render :partial => 'layouts/header2' %>
		<% else %>
			<%= render :partial => 'layouts/header' %>
		<% end %>
		
		<div id='content'>		
			<%= render :partial => 'layouts/notices' %>
			
			<%= yield %> 
		</div>
		
		<%= render :partial => 'layouts/footer' %>
	</body>
	
	<script type="text/javascript">
		$(document).ready( function () {
			
			//--
			// sound manager configuration
			//--
			
			soundManager.debugMode = false;
			
			// soundManager.useHTML5Audio = true;
			
			soundManager.useHighPerformance = true;
			
			soundManager.consoleOnly = true;
			
			soundManager.url = '/javascripts/soundmanager2/swf';
			
			soundManager.onload = function() {
				
				inline_player = null; page_player = null;
				
				//soundManager.createSound('tune','/javascripts/soundmanager/440hz.mp3');
				
				//soundManager.play('tune');				
			};
			
			//--
			// loading display
			//--
			
			// NOTE: this maintains the display at the top of the page
			
			$(document).scroll( function () {
				$('#activity-indicator').css('top', $(document).scrollTop());
			});
		
			// NOTE: we are just begining to test this menu function, this does not offer much configuration	
			
			$('#header-menus').clickMenu();

			// NOTE: the filter ensures that we do not add a tip when the title is blank
			
			$('div#menu a').filter(function (index) {
				return $(this).attr("title").length && !$(this).hasClass('tipped');
			}).addClass('tipped').qtip({
				style: {
					name: 'dark', tip: true
				},
				show: {
					solo: true
				},
				position: {
					corner: {
						target: 'bottomRight',
						tooltip:'topLeft'
					}
				}
			});
			
		});
	</script>
		
	<% if RAILS_ENV != 'test' && request.server_name == 'barn.xbat.org' %>
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-802179-3"); pageTracker._trackPageview();
			} catch (err) {
				
			}
		</script>
	<% end %>
		
</html>