<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
   "http://www.w3.org/TR/html4/frameset.dtd">
<HTML>
<HEAD>
<TITLE>barn.xbat.org</TITLE>
    <link rel="shortcut icon" href="http://xbat.org/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://xbat.org/favicon.ico" type="image/x-icon"> 
</HEAD>
  <FRAMESET rows="40, *" style='border:0;margin:0;padding:0;' frameborder="0" framespacing="0">
      <FRAME  style='border:0;margin:0;padding:0;' name="nav" src="/nav" NORESIZE FRAMEBORDER=0 MARGINWIDTH=0 MARGINHEIGHT=0>
      <FRAME  style='border:0;margin:0;padding:0;' name="main" src="/pages" NORESIZE FRAMEBORDER=0 MARGINWIDTH=0 MARGINHEIGHT=0>
  </FRAMESET>

  <NOFRAMES>
      This is a frames site... in fact it's the whole point for this one.
  </NOFRAMES>
</FRAMESET>
</HTML>

<!-- props to Insoshi for propagating this one [!hksint'l 2008] -->