<script>

$(document).ready( function(){
	
	$('#resources_sounds').click(function(){

	})


	$('#sync-form').submit( function(){
		$('#response-text').val("Sync started ...");
		
		var sync_action	= $('#sync_action').val();
		var http_method = (sync_action == "pull") ? "" : "&_method=put";
		// TODO: clean this up
		
		$.ajax({
			type: (sync_action == "pull") ? "GET" : "POST",
			dataType: 'text',
			data:$(this).formSerialize() + http_method,
			url: $(this).attr("action"),
			complete: function(response, status){
				$('#response-text').val(response.responseText);
			}
		});

		return false;
	});
	
})

</script>

<h2>Sync</h2>

<form action="/sync/request" id="sync-form">
	<div style="float:left;width:220px;">
		<p>
			<label for="pretend"><b>Pretend&nbsp;</b></label>
			<input type="checkbox" value="1" name="pretend" id="pretend" checked>
		</p>
		<p>
			<label><b>Type</b></label><br />
			<select name="sync[action]" id="sync_action">
				<option value="pull">pull</option>
				<option value="push">push</option>
			</select>
		</p>
		<p>
			<label><b>Host</b></label><br />
			<input type="text" name="sync[host]" />
		</p>
		<p>
			<label>Login</label><br />
			<input type="text" name="sync[login]" />
		</p>
		<p>
			<label>Password</label><br />
			<input type="password" name="sync[password]" />
		</p>
	
		<input type="submit" value="Start">
	</form>
</div>
<div style="float:left;">
	<label>Sync status</label><br />
	<textarea id="response-text" style="width:900px;height:350px;font-family:courier;font-size:12px;">
	
	</textarea>
</div>

<div style="clear:both;"></div>

<% if RAILS_ENV == "development"%>
<div style="width:500px;line-height:16px;margin-top:40px;">
	If you are running a single Mongrel instance, boot another instance on another port to test this.
	<br />
	<br />
	<code>ruby ./script/server -p 4000<code>	
</div>
<% end %>