
<div id='event_<%= event.id %>_tip'>

<table class='tip'>
	<tr>
		<th>Tags</th>
		<td>
			<%= render(:partial => 'tags/tags', :locals => {:taggable => event}) %>
		</td>
	</tr>
	<tr>
		<th>Rating</th>
		<td>
			<div class="render simple-rating" target="<%= event_path(event) %>">
				<%= event.rating %>
			</div>
		</td>
	</tr>
	<tr>
		<th style='vertical-align: top'>Info</th>
		<td>
			<ul>
				<li>Time: <%= sec_to_clock event.start %></li>
				<li>Duration: <%= sec_to_clock event.duration %></li>
				<li>Low Freq: <%= rate_to_hertz event.low %></li>
				<li>High Freq: <%= rate_to_hertz event.high %></li>
			</ul>
		</td>
	</tr>
</table>
  
</div>

<script>
	$(document).ready( function(){

		render_simple_ratings();
	
		enable_editable_tags();
	
	});
</script>