<%

	#--
	# determine whether we are in a single log or sound context
	#--
	
	# NOTE: we check for local log input, in this case we have a single log and sound situation
	
	log = nil if local_assigns[:log].blank?; single_log = !log.blank?
	
	if single_log
		sound = log.sound; single_sound = true;
	else
		sound = nil if  local_assigns[:sound].blank?; single_sound = !sound.blank?
	end
	
	#--
	# configure listing according to context
	#--
	
	# TODO: we should be appending/updating the actions hash not creating it
		
	actions = {
		'tag' => '#',
		'share' => '/events?partial=widgets/share',
		'browse' => events_path,
		'delete' =>'/events?partial=widgets/confirm_delete'
	}
	
	if single_log
		actions['browse'] = log_events_path(log)
	elsif single_sound
		actions['browse'] = sound_events_path(sound)
	end
	
	verbs = {:list => ['tag', 'share', 'delete'], :actions => actions}
	
	options = get_listing_display_options(local_assigns, params)
	
	params[:striped] = 1
	
%>

<%= render :partial => 'widgets/listing', :locals => {
	:objects => events,
	:verbs => verbs,
	:options => options
}%>

<script>
	$(document).ready( function () {
		$('.load-local-tip').removeClass('load-local-tip').cluetip({
			cluetipClass: 'jtip',
			local: true,
			activation: 'hover',
			hoverClass: 'highlight',
			dropShadow: true,
			dropShadowSteps: 4,
			hoverIntent: {    
				sensitivity:  2,
				interval:     50,
				timeout:      0
			},
			onShow: function () {
				render_inline_player();
			},
			sticky: true,
			closePosition: 'title'
		});
	});
</script>
