<div id="events-header" class="section-header">
	<h2>Events</h2>
</div>

<div id="<%= rand_id %>" class="ajax-tabs render-ajax-tabs">
	
	<ul class="tabs-list simple">
		<li><a href="<%= events_path(:partial => 'events/clips', :per_page => 10, :heading_selector => '#events-header') %>">Clips</a></li>	
		
		<li><a href="<%= events_path(:partial => 'events/listing', :per_page => 10, :heading_selector => '#events-header') %>">List</a></li>
	
		<li><a href="<%= events_path(:partial => 'events/listing', :per_page => 10, :heading_selector => '#events-header') %>">Hybrid</a></li>
	</ul>

	<div class="tabs-target">Loading ...</div>

</div>

<script>
	$(document).ready( function() {
		
		render_ajax_tabs();
		
		render_simple_ratings();
		
	})
</script>