<p>
<% if @data_files.size == 1 || @data_files.size > 1 && (@data_files.all? {|f| !f.directory? } || @data_files.all? {|f| f.directory? }) %>

Convert the selections to Sounds:

<form action="/tasks?redirect=data_files" method="post" id='new-task-form'>
	<div class="form-submit">
		<p>
			<%= submit_tag 'Submit', :id => 'submit' %> &nbsp; 
			
			<input type="button" id="cancel" onclick="closeDialog('#verb-form');" value="Cancel">
			
			<input type="hidden" name="id" value="<%= @data_files.map {|f| f.id }.join(',') %>" />
			
			<input type="hidden" name="type" value="file" />
			
			<input type="hidden" name="task_action" value="create_sound" />
		</p>
	</div>
</form>
	
<% else %>

Please choose either all files, or all folders to convert to sounds.
	
<% end %>
</p>