<%
	container_id = rand_id

	verbs = {
		:list => ['import'], 
		:actions => {'import'=>'/data_files?partial=data_files/import'}
	}
	
	options = get_listing_display_options(local_assigns, params)
		
	params[:partial] = 'data_files/listing'
%>

<%= render :partial => 'widgets/listing', :locals => {
	:objects => @data_files,
	:verbs => verbs,
	:options => options,
	:heading_markup => "<h2>Files (#{@metadata[:total_entries]}) #{params[:dirname]}</h2>",
	:expansion_url => Proc.new {|file|
 		if file.directory?
			"data_files?partial=data_files/listing&dirname=#{u params[:dirname]}/#{u file.name}&heading_selector=#data-files-header"
		else
			nil
		end
	}
}%>