<div id="data-files-header" class="section-header">
	<h2>Data Files</h2>
	This list is refreshed every 5 minutes.
</div>

<div id="data-files-listing" class="section-body">

</div>

<script>

	$(document).ready(function () {

		// Getting the path from the URL ensures that nested scoping is maintained.

		var path  = $.url.setUrl(this.href).attr("path");
		url = path + "?partial=data_files/listing&per_page=10&heading_selector=<%= u '#data-files-header' %>";

		// NOTE: not using this load we were not updating the header

		$("#data-files-listing").load(url);
	})

</script>