<script type="text/javascript">
$().ready(function() {
	bind_element_add('<%= locals[:container_id] %>');
});
</script>

<div style="clear:both">

<%# @project = Project.find(params[:project_id])
   if @project.user_can_edit?(User.current) -%>

<div id="" class="section-body">


		<%# form_for :review, :url => "/" + locals[:parent_type].pluralize + "/#{locals[:parent_id]}/reviews", :html => { :id => "add_form" } do |f| %>

		<% form_for :review, :url => "/projects/#{params[:project_id]}/reviews", :html => { :id => "add_form" } do |f| %>
			<p>
				<%= label_tag 'tag' %><br/>
				<input type="text" name="add_review" id="add_reviews" />
			</p>
			<p>
				<%= label_tag 'description' %><br/>
				<input type="text" name="review_short" />
			</p>
			<p>
				<%= label_tag 'long description' %><br/>
				<textarea name="review_long" />
			</p>

			<input type="submit" class='submit' value="Add Review" id="add_submit">
		<% end %>
</div>


<%# end -%>

</div>