<%

	container_id = rand_id

	case params[:type]

	when 'public'
		verbs = {}
	else
		verbs = {
			:list => [
#				'annotate',
				'delete'
			],
			:actions => {
#				'annotate'	        => "/reviews?partial=widgets/new_annotation",
				'delete' 			=> "/reviews?partial=widgets/confirm_delete&container_id=#{container_id}"

			},
			:dialog_options => {
#				'annotate'  		=> '{ height: 600, width:450 }',
				'delete' 			=> '{ height: 160, width:450 }'
			}
		}

	end

	options = get_listing_display_options(local_assigns, params)

	options[:expansion] = 1

	# NOTE: this is being used by the refresh button

	params[:partial] = 'reviews/listing'


 	isProjectAdmin = false

 	if logged_in? and params.include?(:project_id)
		project = Project.find(params[:project_id])
		if User.current.is_admin? || project.owner == User.current || project.user_has_role?(User.current, 'administrator')
			isProjectAdmin = true
		end
	end  

  	editorFunction = nil

 #   if isProjectAdmin
		editorFunction = lambda {
					render 'reviews/_add_review', :locals => {
						:options => options,
						:container_id => container_id
					}
				}
#	end

-%>

<%= render :partial => 'widgets/listing', :locals => {
	:objects => @reviews,
	:verbs => verbs,
	:options => options,
	:container_id => container_id,
	:editorFunction => editorFunction,
	:expansion_url => Proc.new { |review|
		review_path(review) << "?layout=false"
	}
} -%>

