<%= stylesheet_link_tag 'alt' %>

<%
parent_controller = @shareable.class.to_s.pluralize.downcase
parent_path = "/#{parent_controller}/#{@shareable.id}"
%>
<h2>
	Share	<%= link_to @shareable.name, parent_path %>
</h2>

<p>
	Share this <%= @shareable.class.to_s %> with a user by entering their login or email address.
</p>

<%= error_messages_for :shareable %>

<form action="<%= parent_path %>/shares" method="post">
	<p>
		<label>Login or Email </label> <br />
		<input type="text" name="login_or_email" value="<%= params[:login_or_email] %>">
	</p>
	<%= submit_tag 'Share' %> &nbsp; <%= link_to "Cancel", parent_path %>
	
<form%>
